$sm: "768px";
$md: "992px";
$lg: "1200px";

.lato {
    font-family: 'Lato', sans-serif;
}
.jjmj {
    font-family: 'Jeju Myeongjo', serif;
}
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}
.font-12 {
    font-size: 12px;
    line-height: 18px;
}
.font-13 {
    font-size: 13px;
    line-height: 20px;
}
.font-14 {
    font-size: 14px;
    line-height: 22px;
}
