.lato, .introduce .section-head .section-title small, .introduce .history .tab-content h5 i, .introduce .history .tab-content .table th, .reserve .call .contact > div dl.phone dd, #content.cafe .page-header .page-title small {
  font-family: 'Lato', sans-serif; }

.jjmj, .introduce .brand .details h4, .introduce .cafe .item .item-body h3, .introduce .feature .details h4, .introduce .pr .section-head .section-title, .introduce .pr .details h4, .introduce .history .tab-content h5, .offline-modal .modal-header .modal-title, .reserve .section-head .section-title, .reserve .jumbowall .details h2, .reserve .jumbowall .details p, .reserve .direct .section-head .section-title, .reserve .direct .section-body .price > div strong, .reserve .why-1 .section-body ul li div .details, .reserve .call .contact > div h5, .reserve .request h4, #content.cafe .section-head .section-title, #content.cafe .room-type h4 {
  font-family: 'Jeju Myeongjo', serif; }

.noto, .introduce .history .tab-content h5 span, .offline-modal .modal-header .modal-title i, .reserve .section-head .section-title small, .reserve .jumbowall .details h2 small, .reserve .call .contact > div h5 small, #content.cafe .room-type h4 small {
  font-family: 'Noto Sans KR', sans-serif; }

.crimson, .introduce .section-head .section-title, .introduce .cafe .item .item-body h3 > i, .reserve .why-1 .section-body ul li div .num, .reserve .why-2 .item h5, #content.cafe .page-header .page-title {
  font-family: 'Crimson Text', serif; }

.font-12 {
  font-size: 12px;
  line-height: 18px; }

.font-13 {
  font-size: 13px;
  line-height: 20px; }

.font-14 {
  font-size: 14px;
  line-height: 22px; }

body {
  line-height: 22px; }

/*
@media (max-width: $lg - 1px) {
}
@media (max-width: $md - 1px) {
}
@media (max-width: $sm - 1px) {
}
*/
.path-nav {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 1230px) {
    .path-nav {
      margin-top: 35px;
      margin-bottom: 30px; } }

.introduce .section-head {
  margin-bottom: 110px; }
  .introduce .section-head .section-title {
    font-size: 50px;
    text-align: center;
    line-height: 50px; }
    .introduce .section-head .section-title small {
      font-size: 18px;
      color: #080d68;
      letter-spacing: 4px; }
  @media (max-width: 1229px) {
    .introduce .section-head {
      margin-bottom: 90px; }
      .introduce .section-head .section-title {
        font-size: 45px;
        line-height: 45px; }
        .introduce .section-head .section-title small {
          font-size: 16px; } }
  @media (max-width: 767px) {
    .introduce .section-head {
      margin-bottom: 50px; }
      .introduce .section-head .section-title {
        font-size: 35px;
        line-height: 35px; }
        .introduce .section-head .section-title small {
          font-size: 14px; } }
.introduce .brand {
  padding-top: 20px;
  padding-bottom: 100px; }
  .introduce .brand .figure {
    margin-left: -45px; }
  .introduce .brand .details {
    margin-top: 100px;
    padding-left: 30px; }
    .introduce .brand .details h4 {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 36px; }
      .introduce .brand .details h4 u {
        font-size: 25px;
        color: #080d68; }
    .introduce .brand .details p + p {
      margin-top: 15px; }
    .introduce .brand .details p i {
      color: #080d68;
      font-style: normal; }
  @media (max-width: 1229px) {
    .introduce .brand {
      padding-bottom: 80px; }
      .introduce .brand .section-head {
        margin-bottom: 60px; }
      .introduce .brand .figure {
        margin-left: 0; }
        .introduce .brand .figure .img-responsive {
          margin: 0 auto; }
      .introduce .brand .details {
        margin-top: 50px;
        padding-left: 15px; }
        .introduce .brand .details h4 {
          margin-bottom: 30px;
          font-size: 22px;
          line-height: 30px; }
          .introduce .brand .details h4 u {
            font-size: 24px; }
        .introduce .brand .details p + p {
          margin-top: 15px; } }
  @media (max-width: 767px) {
    .introduce .brand {
      padding-bottom: 40px; }
      .introduce .brand .section-head {
        margin-bottom: 40px; }
      .introduce .brand .details {
        margin-top: 40px;
        padding-left: 15px; }
        .introduce .brand .details h4 {
          margin-bottom: 20px;
          font-size: 18px;
          line-height: 28px; }
          .introduce .brand .details h4 u {
            font-size: 22px; }
        .introduce .brand .details p {
          font-size: 12px; } }
.introduce .cafe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f7f7f7; }
  .introduce .cafe .item {
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .introduce .cafe .item .item-content {
      display: table;
      width: 50%;
      height: 410px; }
    .introduce .cafe .item .item-body {
      display: table-cell;
      padding-left: 30px;
      padding-bottom: 50px;
      width: 50%;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff; }
      .introduce .cafe .item .item-body h3 {
        margin-bottom: 25px;
        color: #fff;
        font-weight: 300;
        line-height: 36px;
        font-size: 25px; }
        .introduce .cafe .item .item-body h3 > b {
          font-weight: 600; }
        .introduce .cafe .item .item-body h3 > i {
          font-style: normal;
          font-size: 20px; }
          .introduce .cafe .item .item-body h3 > i i {
            font-size: .7em; }
      .introduce .cafe .item .item-body p {
        font-size: 14px;
        line-height: 24px; }
  .introduce .cafe .bx-wrapper {
    position: relative; }
    .introduce .cafe .bx-wrapper .bx-controls {
      position: absolute;
      bottom: 80px;
      left: 30px; }
      .introduce .cafe .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        display: inline; }
        .introduce .cafe .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          float: left;
          width: 16px;
          height: 4px;
          background-color: #ccc; }
          .introduce .cafe .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
            background-color: #080d68; }
        .introduce .cafe .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item .bx-pager-link {
          margin-left: 8px; }
  @media (max-width: 1229px) {
    .introduce .cafe {
      padding-top: 50px;
      padding-bottom: 50px; }
      .introduce .cafe .item {
        height: 350px; }
        .introduce .cafe .item .item-content {
          width: 100%;
          height: 350px; }
        .introduce .cafe .item .item-body {
          padding-left: 30px;
          padding-bottom: 40px;
          width: 50%; }
          .introduce .cafe .item .item-body h3 {
            margin-bottom: 20px;
            line-height: 28px;
            font-size: 22px; }
            .introduce .cafe .item .item-body h3 > i {
              font-size: 20px; }
              .introduce .cafe .item .item-body h3 > i i {
                font-size: .7em; }
          .introduce .cafe .item .item-body p {
            font-size: 13px;
            line-height: 22px; }
      .introduce .cafe .bx-wrapper .bx-controls {
        bottom: 60px; } }
  @media (max-width: 767px) {
    .introduce .cafe {
      padding-top: 30px;
      padding-bottom: 30px; }
      .introduce .cafe .item {
        height: 300px; }
        .introduce .cafe .item .item-content {
          height: 300px; }
        .introduce .cafe .item .item-body {
          padding-left: 30px;
          padding-bottom: 30px;
          width: 50%; }
          .introduce .cafe .item .item-body h3 {
            margin-bottom: 15px;
            line-height: 24px;
            font-size: 18px; }
            .introduce .cafe .item .item-body h3 > i {
              font-size: 20px; }
              .introduce .cafe .item .item-body h3 > i i {
                font-size: .7em; }
          .introduce .cafe .item .item-body p {
            font-size: 12px; }
      .introduce .cafe .bx-wrapper .bx-controls {
        bottom: 50px; } }
.introduce .feature {
  padding-top: 90px;
  padding-bottom: 90px; }
  .introduce .feature .container > div {
    border: 1px solid #ededed; }
    .introduce .feature .container > div:before, .introduce .feature .container > div:after {
      clear: both;
      display: table;
      content: ' '; }
    .introduce .feature .container > div > div {
      height: 365px;
      -webkit-transition: box-shadow .3s;
      transition: box-shadow .3s;
      background-position: 50% 50%;
      background-size: cover; }
      .introduce .feature .container > div > div:hover {
        background-color: #f7f7f7;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .introduce .feature .details {
    padding-top: 140px;
    padding-left: 15px;
    padding-right: 130px; }
    .introduce .feature .details h4 {
      margin-bottom: 15px;
      font-size: 25px;
      line-height: 36px;
      color: #222; }
      .introduce .feature .details h4 i {
        font-style: normal;
        color: #080d68; }
  @media (max-width: 1229px) {
    .introduce .feature {
      padding-top: 70px;
      padding-bottom: 70px; }
      .introduce .feature .container > div > div {
        height: 300px; }
      .introduce .feature .details {
        padding: 30px 15px; }
        .introduce .feature .details h4 {
          margin-bottom: 10px;
          font-size: 22px;
          line-height: 28px; } }
  @media (max-width: 767px) {
    .introduce .feature {
      padding-top: 40px;
      padding-bottom: 40px; }
      .introduce .feature .container > div > div {
        height: 200px; }
        .introduce .feature .container > div > div:nth-of-type(even) {
          height: auto; }
      .introduce .feature .details {
        padding: 20px 5px; }
        .introduce .feature .details h4 {
          font-size: 18px;
          line-height: 22px; }
        .introduce .feature .details p {
          font-size: 12px; } }
.introduce .pr {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #f7f7f7; }
  .introduce .pr .section-head {
    margin-bottom: 0;
    text-align: center; }
    .introduce .pr .section-head .section-title {
      margin-bottom: 15px;
      font-size: 25px;
      color: #080d68; }
    .introduce .pr .section-head p {
      color: #333; }
  .introduce .pr .details {
    margin-top: 100px; }
    .introduce .pr .details h4 {
      text-decoration: underline;
      color: #333;
      font-weight: 400;
      font-size: 21px; }
    .introduce .pr .details p {
      margin-top: 25px; }
      .introduce .pr .details p i {
        color: #080d68;
        font-style: normal; }
  .introduce .pr .figure {
    margin-top: 40px; }
  @media (max-width: 1229px) {
    .introduce .pr {
      padding-top: 55px;
      padding-bottom: 55px; }
      .introduce .pr .section-head {
        margin-bottom: 0; }
        .introduce .pr .section-head .section-title {
          margin-bottom: 10px;
          font-size: 22px; }
      .introduce .pr .details {
        margin-top: 80px; }
        .introduce .pr .details h4 {
          font-size: 21px; }
        .introduce .pr .details p {
          margin-top: 20px; }
      .introduce .pr .figure p .img-responsive {
        margin: 0 auto !important; } }
  @media (max-width: 767px) {
    .introduce .pr {
      padding-top: 35px;
      padding-bottom: 35px; }
      .introduce .pr .section-head .section-title {
        font-size: 18px; }
      .introduce .pr .section-head p {
        font-size: 12px; }
      .introduce .pr .details {
        margin-top: 50px; }
        .introduce .pr .details h4 {
          font-size: 18px; }
        .introduce .pr .details p {
          margin-top: 15px;
          font-size: 12px; }
      .introduce .pr .figure {
        margin-top: 20px; } }
.introduce .history {
  padding-top: 120px;
  padding-bottom: 60px; }
  .introduce .history .section-head {
    margin-bottom: 80px; }
  .introduce .history .tabs {
    margin-bottom: 110px; }
    .introduce .history .tabs li .btn {
      width: 100%; }
    .introduce .history .tabs li.active .btn {
      background-color: #080d68;
      border-color: #080d68;
      color: #fff; }
  .introduce .history .tab-content h5 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #080d68; }
    .introduce .history .tab-content h5 i {
      padding-right: 5px;
      font-size: 20px;
      color: #222; }
    .introduce .history .tab-content h5 span {
      font-size: 14px;
      color: #222; }
  .introduce .history .tab-content .table {
    border-top: 2px solid #080d68; }
    .introduce .history .tab-content .table th {
      padding-left: 30px;
      width: 180px;
      background-color: #fff;
      font-size: 22px;
      color: #080d68;
      font-weight: 300; }
    .introduce .history .tab-content .table td {
      text-align: left;
      line-height: 30px; }
  .introduce .history .tab-content .figure {
    margin-top: 35px; }
  @media (max-width: 1229px) {
    .introduce .history {
      padding-top: 100px;
      padding-bottom: 50px; }
      .introduce .history .section-head {
        margin-bottom: 60px; }
      .introduce .history .tabs {
        margin-bottom: 90px;
        margin-left: -5px;
        margin-right: -5px; }
        .introduce .history .tabs li {
          padding-left: 5px;
          padding-right: 5px; }
      .introduce .history .tab-content h5 {
        font-size: 22px; }
        .introduce .history .tab-content h5 i {
          font-size: 18px; }
        .introduce .history .tab-content h5 span {
          font-size: 13px; }
      .introduce .history .tab-content .table th {
        padding-left: 20px;
        width: 150px;
        font-size: 20px; }
      .introduce .history .tab-content .table td {
        line-height: 30px; } }
  @media (max-width: 767px) {
    .introduce .history {
      padding-top: 80px;
      padding-bottom: 40px; }
      .introduce .history .section-head {
        margin-bottom: 50px; }
      .introduce .history .tabs {
        margin-bottom: 60px; }
      .introduce .history .tab-content h5 {
        font-size: 20px; }
        .introduce .history .tab-content h5 i {
          font-size: 16px; }
        .introduce .history .tab-content h5 span {
          font-size: 12px; }
      .introduce .history .tab-content .table th {
        width: 100px;
        font-size: 16px; }
      .introduce .history .tab-content .table td {
        line-height: 22px; } }
.introduce .offline {
  padding-top: 60px;
  padding-bottom: 60px; }
  .introduce .offline li:nth-of-type(2n+1) {
    clear: both; }
  .introduce .offline a:hover, .introduce .offline a:focus {
    text-decoration: none; }
  .introduce .offline figure {
    margin-bottom: 50px; }
    .introduce .offline figure figcaption h5 {
      margin-top: 30px;
      margin-bottom: 15px;
      padding-left: 10px;
      font-size: 15px;
      line-height: 15px;
      border-left: 3px solid #080d68;
      color: #080d68;
      font-weight: 400; }
  @media (max-width: 1229px) {
    .introduce .offline figure {
      margin-bottom: 40px; }
      .introduce .offline figure figcaption h5 {
        margin-top: 25px;
        font-size: 14px; } }
  @media (max-width: 767px) {
    .introduce .offline figure .img-responsive {
      margin: 0 auto; }
    .introduce .offline figure figcaption h5 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 13px; }
    .introduce .offline figure figcaption p {
      font-size: 12px; } }

.offline-modal .modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: 320px; }
  @media (min-width: 768px) {
    .offline-modal .modal-dialog {
      width: 724px; } }
  @media (min-width: 1230px) {
    .offline-modal .modal-dialog {
      width: 770px; } }
.offline-modal .modal-content {
  padding: 10px;
  box-shadow: none;
  border-radius: 0;
  border: 0; }
  @media (min-width: 768px) {
    .offline-modal .modal-content {
      padding: 40px; } }
.offline-modal .modal-header {
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: #ccc; }
  .offline-modal .modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 40px;
    height: 40px;
    background-color: #080d68;
    opacity: 1;
    filter: alpha(opacity=100);
    text-shadow: none;
    color: #fff; }
    .offline-modal .modal-header .close:before {
      content: url(/assets/images/product/ico_close.png);
      vertical-align: 2px; }
  .offline-modal .modal-header .modal-title {
    padding-left: 15px;
    height: 20px;
    font-weight: 500;
    color: #080d68;
    font-size: 23px;
    line-height: 19px;
    border-left: 3px solid #080d68; }
    .offline-modal .modal-header .modal-title i {
      font-style: normal;
      color: #666;
      font-size: 19px;
      font-weight: 300; }
  @media (min-width: 768px) {
    .offline-modal .modal-header {
      padding-top: 0;
      padding-bottom: 20px; }
      .offline-modal .modal-header .close {
        width: 50px;
        height: 50px; } }
.offline-modal .modal-body {
  padding: 25px 0; }
  @media (min-width: 768px) {
    .offline-modal .modal-body {
      padding-bottom: 0; } }
.offline-modal .map {
  height: 360px; }
  @media (max-width: 1229px) {
    .offline-modal .map {
      height: 300px; } }
  @media (max-width: 767px) {
    .offline-modal .map {
      height: 250px; } }
.offline-modal .details {
  margin-top: 35px; }
  .offline-modal .details h5 {
    margin-bottom: 15px;
    border-left: 3px solid #080d68;
    padding-left: 10px;
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
    color: #080d68; }
  @media (max-width: 767px) {
    .offline-modal .details p {
      font-size: 12px; } }
  .offline-modal .details dl {
    margin-top: 40px; }
    .offline-modal .details dl dt, .offline-modal .details dl dd {
      margin-bottom: 10px;
      line-height: 22px; }
    .offline-modal .details dl dt {
      clear: both;
      float: left;
      width: 130px;
      color: #222;
      font-size: 14px; }
      .offline-modal .details dl dt:before {
        display: inline-block;
        margin-right: 10px;
        width: 22px;
        height: 22px;
        line-height: 23px;
        border-radius: 50%;
        font-family: 'fontello';
        background-color: #080d68;
        color: #fff;
        text-align: center;
        font-size: 11px;
        vertical-align: 2px; }
      .offline-modal .details dl dt:nth-of-type(1):before {
        content: '\E80C'; }
      .offline-modal .details dl dt:nth-of-type(2):before {
        content: '\E80B'; }
      .offline-modal .details dl dt:nth-of-type(3):before {
        content: '\E808'; }
    .offline-modal .details dl address {
      line-height: 22px; }
  @media (max-width: 1229px) {
    .offline-modal .details h5 {
      font-size: 14px; }
    .offline-modal .details dl dt {
      width: 120px; } }
  @media (max-width: 767px) {
    .offline-modal .details h5 {
      font-size: 13px; }
    .offline-modal .details dl {
      margin-top: 20px; }
      .offline-modal .details dl dt {
        width: 100px;
        font-size: 13px; }
      .offline-modal .details dl dd {
        font-size: 12px; } }

.reserve .section-head .section-title {
  text-align: center;
  font-size: 45px;
  line-height: 52px; }
  .reserve .section-head .section-title small {
    font-weight: 300;
    font-size: 18px; }
  .reserve .section-head .section-title i {
    font-style: normal;
    color: #080d68; }
@media (max-width: 991px) {
  .reserve .section-head .section-title {
    font-size: 35px;
    line-height: 45px; }
    .reserve .section-head .section-title small {
      font-size: 16px; } }
@media (max-width: 767px) {
  .reserve .section-head .section-title {
    font-size: 25px;
    line-height: 30px; }
    .reserve .section-head .section-title small {
      font-size: 13px; } }
.reserve .jumbowall {
  padding-top: 100px;
  padding-bottom: 100px; }
  .reserve .jumbowall .figure {
    margin-top: 25px;
    margin-right: -30px; }
  .reserve .jumbowall .details {
    margin-left: 30px; }
    .reserve .jumbowall .details h2 {
      margin-bottom: 25px;
      color: #eb2127;
      font-size: 45px;
      line-height: 52px;
      letter-spacing: -1px; }
      .reserve .jumbowall .details h2 img {
        vertical-align: -15px; }
      .reserve .jumbowall .details h2 small {
        display: inline-block;
        margin-left: 5px;
        font-size: 18px;
        color: #222; }
    .reserve .jumbowall .details p {
      color: #080d68;
      font-size: 28px; }
  @media (max-width: 991px) {
    .reserve .jumbowall {
      padding-top: 80px;
      padding-bottom: 80px; }
      .reserve .jumbowall .figure {
        margin-top: 0;
        margin-right: 0; }
        .reserve .jumbowall .figure .img-responsive {
          margin: 0 auto;
          width: 180px; }
      .reserve .jumbowall .details {
        margin-left: 0;
        text-align: center; }
        .reserve .jumbowall .details h2 {
          margin-bottom: 25px;
          font-size: 35px;
          line-height: 42px; }
          .reserve .jumbowall .details h2 img {
            vertical-align: -15px; }
          .reserve .jumbowall .details h2 small {
            margin-left: 5px;
            font-size: 16px; }
        .reserve .jumbowall .details p {
          font-size: 24px; } }
  @media (max-width: 767px) {
    .reserve .jumbowall {
      padding-top: 60px;
      padding-bottom: 60px; }
      .reserve .jumbowall .figure .img-responsive {
        width: 120px; }
      .reserve .jumbowall .details {
        margin-left: 0;
        text-align: center; }
        .reserve .jumbowall .details h2 {
          margin-bottom: 10px;
          font-size: 25px;
          line-height: 52px; }
          .reserve .jumbowall .details h2 img {
            display: block;
            margin: 0 auto;
            width: 120px;
            vertical-align: -15px; }
          .reserve .jumbowall .details h2 small {
            margin-left: 5px;
            font-size: 16px; }
        .reserve .jumbowall .details p {
          font-size: 18px; } }
.reserve .gia {
  padding-top: 90px;
  padding-bottom: 70px;
  background-image: url(/assets/images/company/bg_reserve.jpg);
  background-size: cover;
  background-position: 50% 50%; }
  .reserve .gia .details {
    margin-top: 45px;
    font-size: 20px;
    line-height: 32px;
    color: #080d68;
    text-align: center; }
    .reserve .gia .details i {
      font-style: normal;
      color: #913334; }
  @media (max-width: 1229px) {
    .reserve .gia .details {
      margin-top: 40px;
      font-size: 18px;
      line-height: 30px; } }
  @media (max-width: 991px) {
    .reserve .gia {
      padding-top: 70px;
      padding-bottom: 50px; }
      .reserve .gia .figure .img-responsive {
        width: 400px;
        margin: 0 auto; }
      .reserve .gia .details {
        margin-top: 30px;
        font-size: 16px;
        line-height: 28px; } }
  @media (max-width: 767px) {
    .reserve .gia {
      padding-top: 50px;
      padding-bottom: 30px; }
      .reserve .gia .figure {
        margin-left: -20px; }
        .reserve .gia .figure .img-responsive {
          width: 250px; }
      .reserve .gia .details {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 20px;
        font-size: 12px;
        line-height: 26px; } }
.reserve .direct {
  padding-top: 100px;
  padding-bottom: 100px; }
  .reserve .direct .section-head {
    margin-bottom: 220px;
    text-align: center; }
    .reserve .direct .section-head .section-title {
      margin-bottom: 20px;
      font-size: 45px;
      color: #222;
      line-height: 57px; }
      .reserve .direct .section-head .section-title small {
        font-size: 28px;
        color: #222; }
      .reserve .direct .section-head .section-title i {
        color: #080d68;
        font-style: normal; }
    .reserve .direct .section-head p {
      color: #080d68;
      font-size: 18px; }
      .reserve .direct .section-head p b {
        font-weight: bold; }
  .reserve .direct .section-body .price {
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
    padding: 40px 100px 40px 0;
    border: 10px solid #dfdfdf;
    box-shadow: 10px 10px 0 #ebebeb; }
    .reserve .direct .section-body .price > p {
      position: absolute;
      bottom: -38px;
      left: 145px; }
    .reserve .direct .section-body .price > div {
      margin-left: 590px;
      width: 350px; }
      .reserve .direct .section-body .price > div strong {
        font-size: 45px;
        font-weight: normal;
        color: #222;
        line-height: 60px; }
        .reserve .direct .section-body .price > div strong i {
          color: #080d68;
          font-style: normal; }
      .reserve .direct .section-body .price > div p {
        margin-top: 15px;
        font-size: 18px;
        line-height: 30px;
        color: #080d68; }
  @media (max-width: 1229px) {
    .reserve .direct .section-head {
      margin-bottom: 50px; }
      .reserve .direct .section-head .section-title {
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 55px; }
        .reserve .direct .section-head .section-title small {
          font-size: 26px; }
      .reserve .direct .section-head p {
        font-size: 16px; }
    .reserve .direct .section-body .price {
      padding: 30px 0 30px 0;
      margin-left: 0;
      margin-right: 0; }
      .reserve .direct .section-body .price .figure {
        display: none; }
      .reserve .direct .section-body .price .details {
        margin-left: 0;
        width: 100%;
        text-align: center; }
        .reserve .direct .section-body .price .details strong {
          font-size: 40px;
          line-height: 50px; }
        .reserve .direct .section-body .price .details p {
          margin-top: 15px;
          font-size: 16px;
          line-height: 28px; } }
  @media (max-width: 991px) {
    .reserve .direct {
      padding-top: 80px;
      padding-bottom: 80px; }
      .reserve .direct .section-head {
        margin-bottom: 40px; }
        .reserve .direct .section-head .section-title {
          margin-bottom: 15px;
          font-size: 30px;
          line-height: 35px; }
          .reserve .direct .section-head .section-title small {
            font-size: 18px; }
        .reserve .direct .section-head p {
          font-size: 16px; }
      .reserve .direct .section-body .price {
        padding: 30px 0 30px 0; }
        .reserve .direct .section-body .price .details strong {
          font-size: 40px;
          line-height: 50px; }
        .reserve .direct .section-body .price .details p {
          margin-top: 15px;
          font-size: 14px;
          line-height: 26px; } }
  @media (max-width: 767px) {
    .reserve .direct {
      padding-top: 60px;
      padding-bottom: 60px; }
      .reserve .direct .section-head {
        margin-bottom: 40px; }
        .reserve .direct .section-head .section-title {
          margin-bottom: 10px;
          font-size: 24px;
          line-height: 35px; }
          .reserve .direct .section-head .section-title small {
            font-size: 13px; }
        .reserve .direct .section-head p {
          font-size: 13px; }
      .reserve .direct .section-body .price {
        padding: 20px 10px; }
        .reserve .direct .section-body .price .details strong {
          font-size: 30px;
          line-height: 35px; }
        .reserve .direct .section-body .price .details p {
          margin-top: 10px;
          font-size: 13px;
          line-height: 22px; } }
.reserve .why-1 {
  padding-top: 100px;
  padding-bottom: 115px;
  background-color: #f7f7f7; }
  .reserve .why-1 .section-head {
    margin-bottom: 45px; }
  .reserve .why-1 .section-body ul {
    margin: 0 auto;
    width: 1170px; }
    .reserve .why-1 .section-body ul li div {
      height: 490px;
      background-color: #fff;
      border: 1px solid #eee;
      text-align: center; }
      .reserve .why-1 .section-body ul li div .figure {
        margin-bottom: 35px; }
        .reserve .why-1 .section-body ul li div .figure img {
          width: 100%; }
      .reserve .why-1 .section-body ul li div .num {
        font-size: 36px;
        line-height: 36px;
        color: #080d68;
        border-bottom: 2px solid #080d68; }
      .reserve .why-1 .section-body ul li div .details {
        margin-top: 15px;
        font-size: 24px;
        line-height: 36px;
        color: #222; }
        .reserve .why-1 .section-body ul li div .details b {
          color: #080d68; }
      .reserve .why-1 .section-body ul li div:hover {
        border-color: #080d68; }
  .reserve .why-1 .bx-wrapper {
    position: relative; }
  .reserve .why-1 .bx-controls-direction > a {
    position: absolute;
    margin-top: -23px;
    top: 50%; }
  .reserve .why-1 .bx-prev {
    left: -40px; }
  .reserve .why-1 .bx-next {
    right: -40px; }
  @media (max-width: 991px) {
    .reserve .why-1 {
      padding-top: 80px;
      padding-bottom: 95px; }
      .reserve .why-1 .section-head {
        margin-bottom: 35px; }
      .reserve .why-1 .section-body ul li div {
        height: 380px; }
        .reserve .why-1 .section-body ul li div .figure {
          margin-bottom: 30px; }
        .reserve .why-1 .section-body ul li div .num {
          font-size: 26px;
          line-height: 26px; }
        .reserve .why-1 .section-body ul li div .details {
          margin-top: 15px;
          font-size: 18px;
          line-height: 26px; } }
  @media (max-width: 767px) {
    .reserve .why-1 {
      padding-top: 60px;
      padding-bottom: 95px; }
      .reserve .why-1 .section-head {
        margin-bottom: 25px; }
      .reserve .why-1 .section-body ul li div {
        height: 300px; }
        .reserve .why-1 .section-body ul li div .figure {
          margin-bottom: 20px; }
        .reserve .why-1 .section-body ul li div .num {
          font-size: 24px;
          line-height: 24px; }
        .reserve .why-1 .section-body ul li div .details {
          margin-top: 15px;
          font-size: 16px;
          line-height: 22px; } }
.reserve .why-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/assets/images/company/bg_why_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .reserve .why-2 .section-head {
    margin-bottom: 70px; }
    .reserve .why-2 .section-head .section-title {
      color: #fff; }
      .reserve .why-2 .section-head .section-title small {
        color: #fff; }
  .reserve .why-2 .item {
    padding-top: 80px;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0; }
    .reserve .why-2 .item h5 {
      margin-bottom: 20px;
      color: #fff;
      text-decoration: underline;
      font-size: 25px;
      line-height: 28px; }
    .reserve .why-2 .item p {
      font-size: 15px;
      line-height: 25px; }
    .reserve .why-2 .item:nth-of-type(1) {
      background-image: url(/assets/images/company/ico_people.png); }
    .reserve .why-2 .item:nth-of-type(2) {
      background-image: url(/assets/images/company/ico_dia.png); }
    .reserve .why-2 .item:nth-of-type(3) {
      background-image: url(/assets/images/company/ico_flag.png); }
    .reserve .why-2 .item:nth-of-type(4) {
      background-image: url(/assets/images/company/ico_money.png); }
  @media (max-width: 991px) {
    .reserve .why-2 {
      padding-top: 80px;
      padding-bottom: 20px; }
      .reserve .why-2 .section-head {
        margin-bottom: 50px; }
      .reserve .why-2 .item {
        margin-bottom: 60px;
        padding-top: 60px;
        background-size: auto 50px; }
        .reserve .why-2 .item h5 {
          margin-bottom: 15px;
          font-size: 20px;
          line-height: 24px; }
        .reserve .why-2 .item p {
          font-size: 14px;
          line-height: 22px; }
        .reserve .why-2 .item:nth-of-type(2n+1) {
          clear: both; } }
  @media (max-width: 767px) {
    .reserve .why-2 {
      padding-top: 60px;
      padding-bottom: 0; }
      .reserve .why-2 .section-head {
        margin-bottom: 30px; }
      .reserve .why-2 .section-body {
        margin-left: -5px;
        margin-right: -5px; }
      .reserve .why-2 .item {
        margin-bottom: 60px;
        padding-top: 60px;
        padding-left: 5px;
        padding-right: 5px;
        background-size: auto 40px; }
        .reserve .why-2 .item h5 {
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 22px; }
        .reserve .why-2 .item p {
          font-size: 12px;
          line-height: 22px;
          letter-spacing: -1px; }
        .reserve .why-2 .item:nth-of-type(2n+1) {
          clear: both; } }
.reserve .call {
  padding-top: 115px;
  padding-bottom: 60px; }
  .reserve .call .figure {
    height: 273px;
    background-size: cover;
    background-position: 50% 50%; }
  .reserve .call .contact {
    display: table;
    padding: 10px;
    width: 100%;
    height: 273px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13); }
    .reserve .call .contact > div {
      display: table-cell;
      height: 100%;
      border: 1px solid #dfdfdf;
      background-color: #fff;
      vertical-align: middle;
      text-align: center; }
      .reserve .call .contact > div h5 {
        margin-bottom: 20px;
        color: #222;
        font-size: 25px;
        line-height: 30px; }
        .reserve .call .contact > div h5 small {
          color: #080d68;
          font-size: 15px; }
      .reserve .call .contact > div dl dt, .reserve .call .contact > div dl dd {
        display: inline;
        line-height: 23px;
        font-size: 13px; }
      .reserve .call .contact > div dl dd {
        color: #999; }
      .reserve .call .contact > div dl.time dd:last-child {
        display: block; }
      .reserve .call .contact > div dl.phone {
        margin-top: 10px; }
        .reserve .call .contact > div dl.phone dd {
          color: #080d68;
          font-weight: 900;
          font-size: 18px;
          letter-spacing: -1px; }
  @media (max-width: 991px) {
    .reserve .call {
      padding-top: 75px;
      padding-bottom: 40px; }
      .reserve .call .figure {
        margin-bottom: 20px;
        height: 240px; }
      .reserve .call .contact {
        height: 240px; }
        .reserve .call .contact > div h5 {
          margin-bottom: 15px;
          font-size: 22px;
          line-height: 28px; }
          .reserve .call .contact > div h5 small {
            font-size: 13px; }
        .reserve .call .contact > div dl dt, .reserve .call .contact > div dl dd {
          line-height: 23px;
          font-size: 13px; }
        .reserve .call .contact > div dl.phone {
          margin-top: 10px; }
          .reserve .call .contact > div dl.phone dd {
            font-size: 18px; } }
  @media (max-width: 767px) {
    .reserve .call {
      padding-top: 55px; }
      .reserve .call .contact {
        height: 200px; }
        .reserve .call .contact > div h5 {
          margin-bottom: 10px;
          font-size: 20px;
          line-height: 26px; }
          .reserve .call .contact > div h5 small {
            font-size: 12px; }
        .reserve .call .contact > div dl dt, .reserve .call .contact > div dl dd {
          line-height: 22px;
          font-size: 12px; }
        .reserve .call .contact > div dl.phone {
          margin-top: 10px; }
          .reserve .call .contact > div dl.phone dd {
            font-size: 16px; } }
.reserve .request {
  padding-bottom: 90px; }
  .reserve .request h4 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #080d68;
    font-size: 25px;
    border-bottom: 1px solid #c2c2c2; }
  .reserve .request .request-list td:nth-of-type(1), .reserve .request .request-list th:nth-of-type(1) {
    width: 90px; }
  .reserve .request .request-list td:nth-of-type(3), .reserve .request .request-list th:nth-of-type(3) {
    width: 140px; }
  .reserve .request .request-list td:nth-of-type(4), .reserve .request .request-list th:nth-of-type(4) {
    width: 120px; }
  .reserve .request .request-list td:nth-of-type(5), .reserve .request .request-list th:nth-of-type(5) {
    width: 100px; }
  .reserve .request .request-list .title {
    padding-left: 30px;
    text-align: left; }
  .reserve .request .request-list .paging {
    margin-top: 10px; }
  @media (max-width: 991px) {
    .reserve .request {
      padding-bottom: 70px; }
      .reserve .request h4 {
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-size: 22px; }
      .reserve .request .request-list td:nth-of-type(4), .reserve .request .request-list td:nth-of-type(5), .reserve .request .request-list th:nth-of-type(4), .reserve .request .request-list th:nth-of-type(5) {
        display: none; }
      .reserve .request .request-list .title {
        padding-left: 10px; } }
  @media (max-width: 767px) {
    .reserve .request {
      padding-bottom: 50px; }
      .reserve .request h4 {
        padding-bottom: 10px;
        font-size: 18px; }
      .reserve .request .request-list td:nth-of-type(1), .reserve .request .request-list th:nth-of-type(1) {
        display: none; } }

#content.cafe .page-header {
  margin-top: 0;
  margin-bottom: 80px;
  padding-bottom: 0;
  border-bottom: 0; }
  #content.cafe .page-header .page-title {
    font-size: 50px;
    text-align: center;
    line-height: 50px; }
    #content.cafe .page-header .page-title small {
      font-size: 18px;
      color: #080d68;
      letter-spacing: 4px; }
  @media (max-width: 1229px) {
    #content.cafe .page-header {
      margin-bottom: 70px; }
      #content.cafe .page-header .page-title {
        font-size: 45px;
        line-height: 45px; }
        #content.cafe .page-header .page-title small {
          font-size: 16px; } }
  @media (max-width: 767px) {
    #content.cafe .page-header {
      margin-bottom: 50px; }
      #content.cafe .page-header .page-title {
        font-size: 35px;
        line-height: 35px; }
        #content.cafe .page-header .page-title small {
          font-size: 14px; } }
#content.cafe .page-tabs .btn {
  padding-left: 0;
  padding-right: 0;
  width: 100%; }
#content.cafe .page-tabs span.btn {
  background-color: #080d68;
  border-color: #080d68;
  color: #fff; }
@media (max-width: 1229px) {
  #content.cafe .page-tabs li {
    margin-bottom: 10px; } }
#content.cafe .section-head {
  margin-top: 85px;
  margin-bottom: 55px;
  text-align: center; }
  #content.cafe .section-head .section-title {
    font-size: 25px;
    color: #080d68; }
  #content.cafe .section-head hr {
    margin: 20px auto 15px;
    width: 30px;
    border-top: 3px solid #080d68; }
  @media (max-width: 991px) {
    #content.cafe .section-head {
      margin-top: 65px;
      margin-bottom: 35px; }
      #content.cafe .section-head .section-title {
        font-size: 22px; }
      #content.cafe .section-head hr {
        margin: 15px auto 15px; } }
  @media (max-width: 767px) {
    #content.cafe .section-head {
      margin-top: 45px;
      margin-bottom: 15px; }
      #content.cafe .section-head .section-title {
        font-size: 20px; }
      #content.cafe .section-head p {
        font-size: 12px; } }
#content.cafe .room-type {
  padding-top: 90px;
  padding-bottom: 90px; }
  #content.cafe .room-type h4 {
    margin-bottom: 40px;
    color: #080d68;
    font-size: 25px; }
    #content.cafe .room-type h4 small {
      font-size: 15px; }
  #content.cafe .room-type .figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  #content.cafe .room-type.room-1 .figure-1 {
    height: 503px;
    background-image: url(/assets/images/company/img_room_1_figure_1.jpg); }
  #content.cafe .room-type.room-1 .figure-2 {
    margin-bottom: 30px;
    height: 236px;
    background-image: url(/assets/images/company/img_room_1_figure_2.jpg); }
  #content.cafe .room-type.room-1 .figure-3 {
    height: 236px;
    background-image: url(/assets/images/company/img_room_1_figure_3.jpg); }
  #content.cafe .room-type.room-2 {
    background-color: #f7f7f7; }
    #content.cafe .room-type.room-2 .figure-1 {
      margin-bottom: 30px;
      height: 236px;
      background-image: url(/assets/images/company/img_room_2_figure_1.jpg); }
    #content.cafe .room-type.room-2 .figure-2 {
      height: 236px;
      background-image: url(/assets/images/company/img_room_2_figure_2.jpg); }
    #content.cafe .room-type.room-2 .figure-3 {
      height: 503px;
      background-image: url(/assets/images/company/img_room_2_figure_3.jpg); }
  #content.cafe .room-type.room-3 .figure-1 {
    height: 434px;
    background-image: url(/assets/images/company/img_room_3_figure_1.jpg); }
  #content.cafe .room-type.room-3 .figure-2 {
    height: 434px;
    background-image: url(/assets/images/company/img_room_3_figure_2.jpg); }
  @media (max-width: 991px) {
    #content.cafe .room-type {
      padding-top: 70px;
      padding-bottom: 70px; }
      #content.cafe .room-type h4 {
        margin-bottom: 30px;
        font-size: 22px; }
        #content.cafe .room-type h4 small {
          font-size: 13px; }
      #content.cafe .room-type.room-1 .figure-1 {
        height: 350px; }
      #content.cafe .room-type.room-1 .figure-2 {
        margin-bottom: 20px;
        height: 165px; }
      #content.cafe .room-type.room-1 .figure-3 {
        height: 165px; }
      #content.cafe .room-type.room-2 .figure-1 {
        margin-bottom: 20px;
        height: 165px; }
      #content.cafe .room-type.room-2 .figure-2 {
        height: 165px; }
      #content.cafe .room-type.room-2 .figure-3 {
        height: 350px; }
      #content.cafe .room-type.room-3 .figure-1 {
        height: 350px; }
      #content.cafe .room-type.room-3 .figure-2 {
        height: 350px; } }
  @media (max-width: 767px) {
    #content.cafe .room-type {
      padding-top: 70px;
      padding-bottom: 70px; }
      #content.cafe .room-type h4 {
        margin-bottom: 20px;
        font-size: 20px; }
        #content.cafe .room-type h4 small {
          font-size: 12px; }
      #content.cafe .room-type.room-1 .figure-1 {
        margin-bottom: 10px;
        height: 250px; }
      #content.cafe .room-type.room-1 .figure-2 {
        margin-right: -5px;
        height: 150px; }
      #content.cafe .room-type.room-1 .figure-3 {
        margin-left: -5px;
        height: 150px; }
      #content.cafe .room-type.room-2 .figure-1 {
        margin-right: -5px;
        margin-bottom: 10px;
        height: 150px; }
      #content.cafe .room-type.room-2 .figure-2 {
        margin-left: -5px;
        margin-bottom: 10px;
        height: 150px; }
      #content.cafe .room-type.room-2 .figure-3 {
        height: 250px; }
      #content.cafe .room-type.room-3 .figure-1 {
        margin-bottom: 10px;
        height: 250px; }
      #content.cafe .room-type.room-3 .figure-2 {
        height: 250px; } }

/*# sourceMappingURL=company.css.map */
