@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
.lato, #header .util .member li a, #nav-foot .cs .contact strong {
  font-family: 'Lato', sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.noto, body {
  font-family: 'Noto Sans KR', sans-serif; }

.crimson {
  font-family: 'Crimson Text', serif; }

.font-12, #footer .copyright {
  font-size: 12px;
  line-height: 18px; }

.font-13, body, dt, dd {
  font-size: 13px;
  line-height: 20px; }

.font-14 {
  font-size: 14px;
  line-height: 22px; }

html {
  min-width: 320px; }

body {
  min-width: 320px;
  color: #666;
  font-weight: 300; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #666; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #222; }

ol, ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl, p, address {
  margin-bottom: 0; }

dt, dd {
  font-weight: normal; }

legend {
  margin-bottom: 0;
  border-bottom: 0; }

label {
  font-weight: normal; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 10px;
      padding-right: 10px; }
  @media (min-width: 1230px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.btn {
  padding: 0 10px;
  height: 35px;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 33px;
  border-radius: 0;
  text-align: center;
  transition: all .3s;
  box-shadow: none; }
  .btn.btn-round {
    border-radius: 5px; }
  .btn:hover, .btn:focus {
    background-color: #080d68;
    border-color: #080d68;
    color: #fff;
    box-shadow: none; }
  .btn:active, .btn.active {
    box-shadow: none; }
  .btn.btn-primary {
    background-color: #080d68;
    border-color: #080d68;
    color: #fff; }
  @media (min-width: 768px) {
    .btn {
      height: 40px;
      font-size: 13px;
      line-height: 38px; } }

.form-group {
  margin-bottom: 0; }

.form-control:focus {
  box-shadow: none; }

select.form-control {
  padding: 0 5px;
  font-size: 12px !important; }

.skip-nav:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #080d68;
  color: #fff;
  z-index: 9000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }

#header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #080d68;
  background-color: #fff;
  -webkit-transition: left .3s;
  transition: left .3s; }
  @media (min-width: 768px) {
    #header {
      height: 56px; } }
  @media (min-width: 1230px) {
    #header {
      height: 225px; } }
  #header .util {
    height: 46px;
    border-bottom: 1px solid #ededed; }
    #header .util .member li {
      float: left; }
      #header .util .member li a {
        line-height: 45px;
        font-size: 10px;
        font-weight: 400;
        color: #aaa;
        text-decoration: none; }
        #header .util .member li a:hover, #header .util .member li a:focus {
          color: #080d68; }
      #header .util .member li + li:before {
        padding-left: 10px;
        padding-right: 10px;
        content: '/';
        font-size: 10px;
        color: #aaa; }
      #header .util .member li.cart strong {
        padding-left: 1px;
        padding-right: 1px;
        color: #080d68; }
      #header .util .member li.cart a:before {
        margin-right: 5px;
        font-family: 'fontello';
        content: '\E809'; }
      #header .util .member li.mypage a:before {
        margin-right: 5px;
        font-family: 'fontello';
        content: '\E80A'; }
      #header .util .member li.login a:before {
        margin-right: 5px;
        font-family: 'fontello';
        content: '\E800'; }
    #header .util .search {
      position: relative;
      border-left: 1px solid #ededed; }
      #header .util .search .form-group {
        margin-bottom: 0;
        padding-right: 45px;
        height: 45px; }
        #header .util .search .form-group .form-control {
          height: 45px;
          border: 0;
          box-shadow: none; }
      #header .util .search .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        border: 0;
        background-color: #080d68;
        font-size: 18px;
        color: #fff; }
        #header .util .search .btn-search:focus, #header .util .search .btn-search:hover {
          opacity: .75; }
  #header .logo h1 {
    margin: 9px auto 0;
    width: 100px;
    height: 30px;
    text-align: center; }
    #header .logo h1 img {
      display: block;
      width: 100%;
      height: 100%; }
  #header .logo .btn-menu {
    margin-top: 6px;
    margin-left: -6px;
    padding: 10px 6px;
    width: 34px;
    height: 35px;
    background-color: transparent;
    border: 0; }
    #header .logo .btn-menu .bar {
      display: block;
      margin-top: 3px;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background-color: #080d68; }
      #header .logo .btn-menu .bar:first-child {
        margin-top: 0; }
  #header .logo .btn-search {
    float: right;
    margin-top: 6px;
    margin-right: -6px;
    width: 34px;
    border: 0;
    font-size: 18px;
    color: #080d68;
    background-color: transparent; }
  @media (min-width: 768px) {
    #header .logo h1 {
      margin-top: 12px; }
    #header .logo .btn-menu,
    #header .logo .btn-search {
      margin-top: 10px; } }
  @media (min-width: 1230px) {
    #header .logo h1 {
      margin-top: 27px;
      width: 231px;
      height: 69px; } }

#gnb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  border-top: 1px solid #ececec; }
  #gnb ul {
    overflow: hidden; }
  #gnb li {
    float: left;
    width: 14.2857142857%; }
    #gnb li a {
      display: block;
      width: 100%;
      height: 53px;
      line-height: 53px;
      text-align: center;
      font-size: 16px;
      color: #666;
      font-weight: 400; }

#gnb-all {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%; }
  #gnb-all > .back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.1); }
  #gnb-all > .full {
    -webkit-transition: left .3s;
    transition: left .3s;
    position: relative;
    z-index: 1002;
    left: -270px;
    padding-top: 62px;
    width: 270px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      #gnb-all > .full {
        left: -540px;
        padding-top: 72px;
        width: 540px; } }
  #gnb-all .member {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    border-bottom: 2px solid #080d68; }
    #gnb-all .member > ul {
      overflow: hidden;
      padding: 12px 5px; }
      #gnb-all .member > ul > li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 33.33%; }
        #gnb-all .member > ul > li .btn {
          width: 100%; }
    @media (min-width: 768px) {
      #gnb-all .member {
        height: 72px; }
        #gnb-all .member > ul {
          padding: 15px 10px; }
          #gnb-all .member > ul > li {
            padding-left: 10px;
            padding-right: 10px; } }
  #gnb-all .menu {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%; }
    #gnb-all .menu > ul > li {
      border-bottom: 1px solid #dfdfdf; }
      #gnb-all .menu > ul > li > a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        background-color: #f7f7f7;
        line-height: 50px;
        font-size: 13px;
        text-decoration: none; }
        #gnb-all .menu > ul > li > a:hover, #gnb-all .menu > ul > li > a:focus {
          background-color: #080d68;
          color: #fff; }
        #gnb-all .menu > ul > li > a:after {
          float: right;
          font-family: 'fontello';
          content: '\F105'; }
      #gnb-all .menu > ul > li > ul {
        display: none;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #dfdfdf; }
        #gnb-all .menu > ul > li > ul > li > a {
          display: block;
          padding-left: 10px;
          padding-right: 10px;
          height: 35px;
          font-size: 13px;
          color: #aaa;
          line-height: 35px;
          text-decoration: none; }
          #gnb-all .menu > ul > li > ul > li > a:after {
            float: right;
            font-family: 'fontello';
            content: '\F105'; }
          #gnb-all .menu > ul > li > ul > li > a:hover, #gnb-all .menu > ul > li > ul > li > a:focus {
            color: #080d68; }
        #gnb-all .menu > ul > li > ul > li.active > a {
          color: #080d68; }
      #gnb-all .menu > ul > li.has-child > a:after {
        font-family: 'fontello';
        content: '\E808'; }
      #gnb-all .menu > ul > li.has-child.active > a:after {
        content: '\E807'; }
      #gnb-all .menu > ul > li.active > a {
        background-color: #080d68;
        color: #fff; }
      #gnb-all .menu > ul > li.active > ul {
        display: block; }

body {
  position: relative;
  left: 0;
  padding-top: 50px;
  -webkit-transition: left .3s;
  transition: left .3s; }
  @media (min-width: 768px) {
    body {
      padding-top: 56px; } }
  @media (min-width: 1230px) {
    body {
      padding-top: 225px; } }
  body.gnb-open {
    overflow: hidden;
    left: 270px; }
    body.gnb-open #header {
      left: 270px; }
    @media (min-width: 768px) {
      body.gnb-open {
        left: 540px; }
        body.gnb-open #header {
          left: 540px; } }
    @media (min-width: 1230px) {
      body.gnb-open {
        overflow: auto;
        left: 0; }
        body.gnb-open #header {
          left: 0; } }
    body.gnb-open #gnb-all {
      left: 0; }
      body.gnb-open #gnb-all > .full {
        left: 0; }

#nav-foot {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
  text-align: center; }
  @media (min-width: 1230px) {
    #nav-foot {
      padding-top: 60px;
      padding-bottom: 60px; } }
  #nav-foot .full {
    text-align: left; }
    #nav-foot .full h5 {
      margin-bottom: 20px;
      font-size: 14px; }
      #nav-foot .full h5 + ul li {
        line-height: 23px; }
        #nav-foot .full h5 + ul li a:hover, #nav-foot .full h5 + ul li a:focus {
          color: #080d68; }
  #nav-foot .bar {
    margin: 0 auto;
    width: 1px;
    height: 230px;
    background-color: #dfdfdf; }
  #nav-foot .cs {
    color: #999; }
    #nav-foot .cs h5 {
      margin-bottom: 20px;
      font-size: 14px;
      color: #333; }
    #nav-foot .cs .contact {
      margin-bottom: 15px; }
      #nav-foot .cs .contact strong {
        font-size: 35px;
        color: #080d68; }
    #nav-foot .cs .hours dt, #nav-foot .cs .hours dd {
      display: inline-block;
      font-weight: 300; }
    #nav-foot .cs .hours dt {
      margin-right: 3px; }
    #nav-foot .cs .hours dd:after {
      position: relative;
      top: -2px;
      padding-left: 5px;
      padding-right: 2px;
      content: '|';
      font-size: .8em; }
    #nav-foot .cs .hours dd:last-child:after {
      padding-left: 0;
      padding-right: 0;
      content: ''; }
    #nav-foot .cs .note {
      margin-bottom: 15px; }
      @media (min-width: 1230px) {
        #nav-foot .cs .note {
          margin-bottom: 30px; } }
    #nav-foot .cs .shortcuts {
      margin-left: -5px;
      margin-right: -5px; }
      #nav-foot .cs .shortcuts li {
        padding-left: 5px;
        padding-right: 5px; }
    @media (min-width: 768px) {
      #nav-foot .cs .shortcuts {
        margin-left: -10px;
        margin-right: -10px; }
        #nav-foot .cs .shortcuts li {
          padding-left: 10px;
          padding-right: 10px; } }
    @media (min-width: 1230px) {
      #nav-foot .cs {
        text-align: left; }
        #nav-foot .cs .shortcuts {
          margin-left: -15px;
          margin-right: -15px; }
          #nav-foot .cs .shortcuts li {
            padding-left: 15px;
            padding-right: 15px; }
            #nav-foot .cs .shortcuts li .btn {
              padding-top: 45px;
              padding-left: 0;
              padding-right: 0;
              height: 65px;
              border: 0;
              line-height: 18px;
              background-position: 50% 1px;
              background-repeat: no-repeat; }
              #nav-foot .cs .shortcuts li .btn:hover, #nav-foot .cs .shortcuts li .btn:focus {
                background-color: transparent;
                color: #080d68; }
            #nav-foot .cs .shortcuts li.reserve .btn {
              background-image: url(/assets/images/main/ico_cs_reserve.png);
              background-position: 50% 0; }
              #nav-foot .cs .shortcuts li.reserve .btn:hover, #nav-foot .cs .shortcuts li.reserve .btn:focus {
                background-image: url(/assets/images/main/ico_cs_reserve_on.png); }
            #nav-foot .cs .shortcuts li.qna .btn {
              background-image: url(/assets/images/main/ico_cs_qna.png); }
              #nav-foot .cs .shortcuts li.qna .btn:hover, #nav-foot .cs .shortcuts li.qna .btn:focus {
                background-image: url(/assets/images/main/ico_cs_qna_on.png); }
            #nav-foot .cs .shortcuts li.delivery .btn {
              background-image: url(/assets/images/main/ico_cs_delivery.png); }
              #nav-foot .cs .shortcuts li.delivery .btn:hover, #nav-foot .cs .shortcuts li.delivery .btn:focus {
                background-image: url(/assets/images/main/ico_cs_delivery_on.png); } }

#footer {
  padding-top: 35px;
  padding-bottom: 35px; }
  @media (min-width: 1230px) {
    #footer {
      padding-top: 45px;
      padding-bottom: 40px; } }
  #footer .company {
    margin: 0 auto;
    max-width: 300px; }
    #footer .company dl {
      text-align: center; }
    #footer .company dt, #footer .company dd {
      display: inline-block;
      color: #999; }
    #footer .company dt {
      font-weight: normal; }
      #footer .company dt:after {
        padding-left: 2px;
        content: ':'; }
    #footer .company dd:after {
      position: relative;
      top: -2px;
      padding-left: 10px;
      padding-right: 8px;
      font-size: 10px;
      content: '|'; }
    #footer .company dd:last-child:after {
      padding-left: 0;
      padding-right: 0;
      content: ''; }
    #footer .company .policy {
      margin-bottom: 15px;
      text-align: center; }
      #footer .company .policy li {
        display: inline-block;
        font-weight: 400; }
        #footer .company .policy li:before {
          padding-left: 5px;
          padding-right: 7px;
          content: '·'; }
        #footer .company .policy li:first-child:before {
          padding-left: 0;
          padding-right: 0;
          content: ''; }
    #footer .company .address dt, #footer .company .address dd {
      display: inline; }
    #footer .company .address address {
      display: inline; }
    #footer .company .license a {
      color: #080d68;
      font-weight: normal; }
    @media (min-width: 768px) {
      #footer .company {
        margin: 0;
        max-width: none; } }
    @media (min-width: 1230px) {
      #footer .company dl {
        text-align: left; }
      #footer .company .policy {
        text-align: left; } }
  #footer h2 {
    text-align: right; }
    @media (min-width: 1230px) {
      #footer h2 {
        margin-top: 15px; } }
  #footer .copyright {
    margin-top: 25px;
    color: #999;
    text-align: center; }
    #footer .copyright span {
      color: #bbb; }
      #footer .copyright span a {
        color: #bbb; }
    @media (min-width: 1230px) {
      #footer .copyright {
        margin-top: 15px;
        text-align: right; } }

/*# sourceMappingURL=default.css.map */
