@import 'common';

.path-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    @media (min-width: $lg) {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

// LNB 영역
#lnb {
    margin-bottom: 40px;
    .dropdown {
        z-index: 999;
        >.btn {
            width: 100%;
            height: 50px;
            border-top: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            border-left: 0;
            border-right: 0;
            background-color: #f7f7f7;
            color: $kc;
            font-size: 13px;
            text-align: left;
            &:hover, &:focus {
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                color: $kc;
                background-color: #f7f7f7;
            }
            i {
                float: right;
            }
        }
        > .dropdown-menu {
            margin-top: -1px;
            padding-top: 0;
            padding-bottom: 0;
            width: 100%;
            border-radius: 0;
            border: 0;
            box-shadow: none;
            li {
                > a {
                    display: block;
                    margin-top: -1px;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 51px;
                    color: #666;
                    background-color: #f7f7f7;
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;
                    line-height: 44px;
                    font-size: 13px;
                    text-decoration: none;
                    &:hover, &:focus {
                        background-color: #e4e4e4;
                    }
                }
                > ul {
                    display: none;
                    li {
                        border-bottom: 0;
                        a {
                            padding-left: 20px;
                            background-color: #fff;
                            line-height: 49px;
                        }
                    }
                }
                &.active {
                    > a {
                        background-color: #e4e4e4;
                    }
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
    @media (min-width: $sm) {
        .dropdown {
            > .btn {
                padding-left: 15px;
                padding-right: 15px;
            }
            > .dropdown-menu {
                li {
                    a {
                        padding-left: 15px;
                    }
                    ul {
                        li {
                            a {
                                paddin-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 0;
        width: 235px;
        .dropdown {
            > .btn {
                display: none;
            }
            > .dropdown-menu {
                display: block;
                position: relative;
            }
        }
    }
}

#content {
    margin-bottom: 50px;
    @media (min-width: $sm) {
        margin-bottom: 100px;
    }
    @media (min-width: $lg) {
        margin-bottom: 120px;
    }
}

// 페이지헤더
.page-header {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom-color: #ccc;
    h2 {
        font-size: 23px;
        color: $kc;
        @extend .jjmj;
        font-weight: 400;
        small {
            font-size: 13px;
            @extend .noto;
            color: #666;
            font-weight: 300;
        }
    }
    @media (min-width: $sm) {
        margin-bottom: 40px;
        h2 {
            font-size: 25px;
            small {
                font-size: 15px;
            }
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 60px;
        padding-bottom: 15px;
    }
}

// 페이지 간략설명
.page-summary {
    p {
        font-size: 12px;
        line-height: 22px;
        i {
            font-style: normal;
            color: $kc;
            font-weight: 400;
        }
    }
    @media (min-width: $sm) {
        p {
            font-size: 13px;
        }
    }
}

// 탭
.tabs {
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        li {
            float: left;
            width: 25%;
            padding-left: 5px;
            padding-right: 5px;
            a, span {
                display: block;
                padding-top: 9px;
                padding-bottom: 9px;
                width: 100%;
                height: 50px;
                border: 1px solid #ccc;
                line-height: 15px;
                text-align: center;
                font-size: 12px;
                color: #666;
            }
            span {
                background-color: $kc;
                border-color: $kc;
                color: #fff;
            }
        }
    }
    @media (min-width: $sm) {
        margin-bottom: 60px;
        ul {
            margin-left: -10px;
            margin-right: -10px;
            li {
                padding-left: 10px;
                padding-right: 10px;
                a, span {
                    height: 40px;
                    line-height: 20px;
                    font-size: 13px;
                }
            }
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 95px;
        padding-left: 50px;
        padding-right: 50px;
        ul {
            margin-left: -15px;
            margin-right: -15px;
            li {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.section-content {
    // 섹션 헤더
    .section-head {
        margin-bottom: 25px;
        padding-left: 10px;
        border-left: 3px solid $kc;
        .section-title {
            font-size: 20px;
            color: $kc;
            @extend .crimson;
            small {
                margin-left: 5px;
                font-size: 15px;
                color: #666;
                @extend .noto;
                font-weight: 300;
            }
            & + p {
                margin-top: 10px;
            }
        }
        p {
            font-size: 12px;
            color: #999;
        }
        @media (min-width: $sm) {
            margin-bottom: 30px;
            .section-title {
                font-size: 22px;
            }
        }
        @media (min-width: $lg) {
            .section-title {
                margin-bottom: 15px;
                font-size: 25px;
            }
            p {
                font-size: 13px;
            }
        }
    }

    // 문단
    p {
        font-size: 12px;
        line-height: 22px;
        & + p {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            font-size: 13px;
            & + p {
                margin-top: 25px;
            }
        }
        @media (min-width: $lg) {
            & + p {
                margin-top: 30px;
            }
        }
    }
}

.information.dia {
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .explain {
        margin-bottom: 40px;
        @media (min-width: $sm) {
            margin-bottom: 60px;
        }
        @media (min-width: $lg) {
            margin-bottom: 90px;
        }
    }
}

// 다이아몬드 캐럿
.information.dia.carat {
    .explain {
        .chart {
            margin-top: 30px;
            border: 1px solid #ccc;
            p + p {
                margin-top: 0;
            }
            img {
                margin: 0 auto;
            }
        }
    }
    .relationship {
        .section-title {
            @extend .jjmj;
        }
        .img-responsive {
            margin: 0 auto 20px;
        }
    }
}

// 다이아몬드 컬러, 내포물
.information.dia.color,
.information.dia.clarity,
.information.dia.cut {
    .type {
        margin-top: 55px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            display: table;
            width: 100%;
            height: 120px;
            p {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 10px 20px;
            margin-bottom: 20px;
            h5 {
                margin-bottom: 10px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                i {
                    font-size: 12px;
                    color: #222;
                }
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                height: 140px;
            }
            .details {
                padding: 25px 25px 25px 0;
                margin-bottom: 0;
                h5 {
                    font-size: 15px;
                    text-align: left;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            .figure {
                height: 155px;
            }
        }
    }
}

// 다이아몬드 내포물
.information.dia.clarity {
    .explain {
        > p {
            i {
                font-style: normal;
                font-weight: normal;
                color: $kc;
            }
        }
    }
}

// 다이아몬드 컷
.information.dia.cut {
    .section-content + .section-content {
        margin-top: 40px;
        @media (min-width: $sm) {
            margin-top: 60px;
        }
        @media (min-width: $lg) {
            margin-top: 90px;
        }
    }
    .explain {
        margin-bottom: 0;
        > p {
            i {
                font-style: normal;
                color: $kc;
            }
        }
        .figure {
            margin-top: 20px;
            border: 1px solid #dfdfdf;
            p {
                margin-top: 0;
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .table {
            margin-top: 15px;
            margin-bottom: 0;
            border-top: 2px solid $kc;
            th {
                padding-left: 10px;
                width: 140px;
                color: $kc;
                i {
                    color: #666;
                    font-style: normal;
                }
            }
            td {
                padding-left: 20px;
                text-align: left;
                color: #333;
            }
        }
        @media (min-width: $sm) {
            .figure {
                margin-top: 30px;
            }
            .table {
                margin-top: 25px;
                th {
                    padding-left: 15px;
                    width: 210px;
                }
                td {
                    padding-left: 30px;
                }
            }
        }
        @media (min-width: $lg) {
        }
    }
    .reflection,
    .hna,
    .addtional {
        .section-title {
            @extend .jjmj;
        }
    }
    .reflection {
        .figure {
            border: 1px solid #dfdfdf;
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
    .hna {
        .figure {
            margin-bottom: 20px;
            .img-responsive {
                margin: 0 auto;
            }
        }
        @media (min-width: $md) {
            .section-body {
                overflow: hidden;
                .figure {
                    float: left;
                    margin-bottom: 0;
                    margin-right: 30px;
                    border: 1px solid #dfdfdf;
                }
            }
        }
    }
    .addtional {
        .row {
            > div {
                & + div {
                    margin-top: 15px;
                }
            }
        }
        .details {
            padding: 20px;
            border: 1px solid #dfdfdf;
            h4 {
                margin-bottom: 15px;
                padding-bottom: 10px;
                color: $kc;
                @extend .crimson;
                font-size: 14px;
                border-bottom: 1px solid #dfdfdf;
                small {
                    color: #666;
                    font-size: 12px;
                    @extend .noto;
                }
            }
        }
        @media (min-width: $sm) {
            .details {
                padding: 20px;
                h4 {
                    margin-bottom: 20px;
                }
            }
        }
        @media (min-width: $md) {
            .row {
                > div {
                    & + div {
                        margin-top: 0;
                    }
                }
            }
            .details {
                padding: 30px;
                min-height: 210px;
                h4 {
                    padding-bottom: 15px;
                    font-size: 15px;
                    small {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .ratio {
        .section-head {
            .section-title {
                @extend .jjmj;
            }
        }
        .section-body {
            > .figure {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .type {
            .details {
                margin-bottom: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                h5 {
                    font-weight: normal;
                }
                ul {
                    li {
                        line-height: 22px;
                        &:before {
                            display: inline-block;
                            padding-right: 5px;
                            content: '-';
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        @media (min-width: $sm) {
            .type {
                &.no-figure {
                    .details {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

// 팬시 컬러 다이아
.information.fancy {
    .tabs {
        ul {
            li {
                width: 50%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            ul {
                li {
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .explain {
        margin-bottom: 40px;
        @media (min-width: $sm) {
            margin-bottom: 60px;
        }
        @media (min-width: $lg) {
            margin-bottom: 90px;
        }
    }
}

// 팬시 컬러 다이아: 등급
.information.fancy.grade {
    .explain {
        margin-bottom: 30px;
        .section-head {
            .section-title {
                @extend .jjmj;
            }
        }
        .section-body {
            .figure {
                margin-bottom: 30px;
                .img-responsive {
                    margin: 0 auto;
                    padding: 1px;
                    border: 1px solid #dfdfdf;
                }
            }
            .details {
                p {
                    i {
                        color: $kc;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            margin-bottom: 40px;
        }
        @media (min-width: $md) {
            .section-body {
                overflow: hidden;
                .figure {
                    float: left;
                    margin-right: 30px;
                }
            }
        }
    }
    .intensity {
        h4 {
            margin-bottom: 25px;
            border-bottom: 1px solid #dfdfdf;
            font-size: 14px;
            line-height: 14px;
            i {
                padding-right: 10px;
                background-color: #fff;
                color: $red;
            }
        }
        .figure {
            p + p {
                margin-top: 0;
            }
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
}

// 팬시 컬러 다이아: 특징
.information.fancy.feature {
    .explain {
        .section-head {
            .section-title {
                @extend .jjmj;
            }
        }
    }
    .type {
        margin-top: 55px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            margin-top: 30px;
            margin-bottom: 20px;
            p {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 10px 20px 30px;
            h5 {
                margin-bottom: 5px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                @extend .crimson;
                font-weight: bold;

            }
            strong {
                display: block;
                margin-bottom: 20px;
                font-weight: 400;
                color: #333;
                text-align: center;
                line-height: 22px;
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                margin-top: 80px;
                margin-bottom: 0;
            }
            .details {
                padding: 50px 50px 50px 0;
                h5 {
                    font-size: 15px;
                    text-align: left;
                }
                strong {
                    text-align: left;
                }
            }
        }
        @media (min-width: $sm) {
            .figure {
                height: 155px;
            }
            .details {
                h5 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// 감정서
.information.lab {
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .page-summary {
        p + p {
            margin-top: 20px;
        }
    }
    .tabs {
        margin-top: 50px;
        margin-bottom: 60px;
        ul {
            margin-top: -5px;
            margin-bottom: -5px;
            li {
                padding: 5px;
                width: 33.33%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            padding-left: 5px;
            padding-right: 5px;
            ul {
                margin-top: 0;
                margin-bottom: 0;
                li {
                    padding-top: 0;
                    padding-bottom: 0;
                    width: 20%;
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            margin-top: 100px;
            margin-bottom: 110px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .figure {
        margin: 0 auto 30px;
        width: 300px;
        background-color: #fbfbfb;
        p {
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .13);
            .img-responsive {
                margin: 0 auto;
                border: 1px solid #ccc;
            }
        }
        @media (min-width: $sm) {
            width: auto;
        }
    }
    .details {
        @media (min-width: $lg) {
            p + p {
                margin-top: 25px;
            }
        }
    }
}

.information.lab.igi {
    .figure {
        width: 184px;
        @media (min-width: $sm) {
            margin: inherit;
        }
    }
}

.information.lab.ags {
    .explain {
        margin-bottom: 50px;
        @media (min-width: $sm) {
            margin-bottom: 60px;
        }
    }
    .grade {
        h4 {
            margin-bottom: 20px;
            @extend .jjmj;
            color: $kc;
            font-weight: 500;
            font-size: 20px;
        }
        h5 {
            font-size: 13px;
            font-weight: normal;
            color: $kc;
            line-height: 18px;
            vertical-align: middle;
            span {
                display: inline-block;
                margin-right: 5px;
                width: 16px;
                height: 16px;
                background-color: $kc;
                color: #fff;
                line-height: 16px;
                border-radius: 50%;
                font-size: 11px;
                text-align: center;
                line-height: 16px;
                font-weight: 300;
                vertical-align: 1px;
            }
            i {
                font-style: normal;
                color: #222;
            }
            & + p {
                margin-top: 10px;
            }
        }
        @media (min-width: $sm) {
            h4 {
                font-size: 22px;
            }
            h5 {
                font-size: 14px;
                line-height: 20px;
            }
        }
        @media (min-width: $lg) {
            h4 {
                margin-bottom: 30px;
                font-size: 24px;
            }
        }
    }
}

.information.ring {
    .tabs {
        margin-top: 40px;
        margin-bottom: 60px;
        ul {
            li {
                padding-left: 5px;
                padding-right: 5px;
                width: 33.33%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            padding-left: 5px;
            padding-right: 5px;
            ul {
                li {
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            margin-top: 60px;
            margin-bottom: 90px;
            padding-left: 150px;
            padding-right: 150px;
            ul {
                margin-left: -15px;
                margin-right: -15px;
                li {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

.information.ring.metal {
    .type {
        margin-top: 55px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            margin-top: 30px;
            margin-bottom: 20px;
            p {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 10px 20px;
            margin-bottom: 20px;
            h5 {
                margin-bottom: 10px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                font-weight: normal;
                i {
                    font-size: 12px;
                    color: #222;
                }
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                height: 140px;
            }
            .details {
                padding: 25px 25px 25px 0;
                margin-bottom: 0;
                h5 {
                    font-size: 15px;
                    text-align: left;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            .figure {
                height: 155px;
            }
        }
    }
}
