.lato, .information.shape .type .chart h6 span, .information.shape .type .chart .table th span {
  font-family: 'Lato', sans-serif; }

.jjmj, .page-header h2, .information.dia.carat .relationship .section-title, .information.dia.cut .reflection .section-title,
.information.dia.cut .hna .section-title,
.information.dia.cut .addtional .section-title, .information.dia.cut .ratio .section-head .section-title, .information.fancy.grade .explain .section-head .section-title, .information.fancy.feature .explain .section-head .section-title, .information.lab.ags .grade h4, .information.ring.size .section-head .section-title {
  font-family: 'Jeju Myeongjo', serif; }

.noto, .page-header h2 small, .section-content .section-head .section-title small, .information.dia.cut .addtional .details h4 small, .information.ring.setting .method h4 small, .information.shape .type .details h5 i {
  font-family: 'Noto Sans KR', sans-serif; }

.crimson, .section-content .section-head .section-title, .information.dia.cut .addtional .details h4, .information.fancy.feature .type .details h5, .information.ring.setting .method h4, .information.shape .type .details h5 {
  font-family: 'Crimson Text', serif; }

.font-12 {
  font-size: 12px;
  line-height: 18px; }

.font-13 {
  font-size: 13px;
  line-height: 20px; }

.font-14 {
  font-size: 14px;
  line-height: 22px; }

.path-nav {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 1230px) {
    .path-nav {
      margin-top: 35px;
      margin-bottom: 30px; } }

#lnb {
  margin-bottom: 40px; }
  #lnb .dropdown {
    z-index: 999; }
    #lnb .dropdown > .btn {
      width: 100%;
      height: 50px;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf;
      border-left: 0;
      border-right: 0;
      background-color: #f7f7f7;
      color: #080d68;
      font-size: 13px;
      text-align: left; }
      #lnb .dropdown > .btn:hover, #lnb .dropdown > .btn:focus {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        color: #080d68;
        background-color: #f7f7f7; }
      #lnb .dropdown > .btn i {
        float: right; }
    #lnb .dropdown > .dropdown-menu {
      margin-top: -1px;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      border-radius: 0;
      border: 0;
      box-shadow: none; }
      #lnb .dropdown > .dropdown-menu li > a {
        display: block;
        margin-top: -1px;
        padding-left: 10px;
        padding-right: 10px;
        height: 51px;
        color: #666;
        background-color: #f7f7f7;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        line-height: 44px;
        font-size: 13px;
        text-decoration: none; }
        #lnb .dropdown > .dropdown-menu li > a:hover, #lnb .dropdown > .dropdown-menu li > a:focus {
          background-color: #e4e4e4; }
      #lnb .dropdown > .dropdown-menu li > ul {
        display: none; }
        #lnb .dropdown > .dropdown-menu li > ul li {
          border-bottom: 0; }
          #lnb .dropdown > .dropdown-menu li > ul li a {
            padding-left: 20px;
            background-color: #fff;
            line-height: 49px; }
      #lnb .dropdown > .dropdown-menu li.active > a {
        background-color: #e4e4e4; }
      #lnb .dropdown > .dropdown-menu li.active > ul {
        display: block; }
  @media (min-width: 768px) {
    #lnb .dropdown > .btn {
      padding-left: 15px;
      padding-right: 15px; }
    #lnb .dropdown > .dropdown-menu li a {
      padding-left: 15px; }
    #lnb .dropdown > .dropdown-menu li ul li a {
      paddin-left: 25px; } }
  @media (min-width: 1230px) {
    #lnb {
      margin-bottom: 0;
      width: 235px; }
      #lnb .dropdown > .btn {
        display: none; }
      #lnb .dropdown > .dropdown-menu {
        display: block;
        position: relative; } }

#content {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    #content {
      margin-bottom: 100px; } }
  @media (min-width: 1230px) {
    #content {
      margin-bottom: 120px; } }

.page-header {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom-color: #ccc; }
  .page-header h2 {
    font-size: 23px;
    color: #080d68;
    font-weight: 400; }
    .page-header h2 small {
      font-size: 13px;
      color: #666;
      font-weight: 300; }
  @media (min-width: 768px) {
    .page-header {
      margin-bottom: 40px; }
      .page-header h2 {
        font-size: 25px; }
        .page-header h2 small {
          font-size: 15px; } }
  @media (min-width: 1230px) {
    .page-header {
      margin-bottom: 60px;
      padding-bottom: 15px; } }

.page-summary p {
  font-size: 12px;
  line-height: 22px; }
  .page-summary p i {
    font-style: normal;
    color: #080d68;
    font-weight: 400; }
@media (min-width: 768px) {
  .page-summary p {
    font-size: 13px; } }

.tabs {
  margin-top: 40px;
  margin-bottom: 40px; }
  .tabs ul {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .tabs ul li {
      float: left;
      width: 25%;
      padding-left: 5px;
      padding-right: 5px; }
      .tabs ul li a, .tabs ul li span {
        display: block;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 100%;
        height: 50px;
        border: 1px solid #ccc;
        line-height: 15px;
        text-align: center;
        font-size: 12px;
        color: #666; }
      .tabs ul li span {
        background-color: #080d68;
        border-color: #080d68;
        color: #fff; }
  @media (min-width: 768px) {
    .tabs {
      margin-bottom: 60px; }
      .tabs ul {
        margin-left: -10px;
        margin-right: -10px; }
        .tabs ul li {
          padding-left: 10px;
          padding-right: 10px; }
          .tabs ul li a, .tabs ul li span {
            height: 40px;
            line-height: 20px;
            font-size: 13px; } }
  @media (min-width: 1230px) {
    .tabs {
      margin-bottom: 95px;
      padding-left: 50px;
      padding-right: 50px; }
      .tabs ul {
        margin-left: -15px;
        margin-right: -15px; }
        .tabs ul li {
          padding-left: 15px;
          padding-right: 15px; } }

.section-content .section-head {
  margin-bottom: 25px;
  padding-left: 10px;
  border-left: 3px solid #080d68; }
  .section-content .section-head .section-title {
    font-size: 20px;
    color: #080d68; }
    .section-content .section-head .section-title small {
      margin-left: 5px;
      font-size: 15px;
      color: #666;
      font-weight: 300; }
    .section-content .section-head .section-title + p {
      margin-top: 10px; }
  .section-content .section-head p {
    font-size: 12px;
    color: #999; }
  @media (min-width: 768px) {
    .section-content .section-head {
      margin-bottom: 30px; }
      .section-content .section-head .section-title {
        font-size: 22px; } }
  @media (min-width: 1230px) {
    .section-content .section-head .section-title {
      margin-bottom: 15px;
      font-size: 25px; }
    .section-content .section-head p {
      font-size: 13px; } }
.section-content p {
  font-size: 12px;
  line-height: 22px; }
  .section-content p + p {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .section-content p {
      font-size: 13px; }
      .section-content p + p {
        margin-top: 25px; } }
  @media (min-width: 1230px) {
    .section-content p + p {
      margin-top: 30px; } }

.information.dia .page-header {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .information.dia .page-header {
      margin-bottom: 25px; } }
.information.dia .explain {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .information.dia .explain {
      margin-bottom: 60px; } }
  @media (min-width: 1230px) {
    .information.dia .explain {
      margin-bottom: 90px; } }

.information.dia.carat .explain .chart {
  margin-top: 30px;
  border: 1px solid #ccc; }
  .information.dia.carat .explain .chart p + p {
    margin-top: 0; }
  .information.dia.carat .explain .chart img {
    margin: 0 auto; }
.information.dia.carat .relationship .img-responsive {
  margin: 0 auto 20px; }

.information.dia.color .type,
.information.dia.clarity .type,
.information.dia.cut .type {
  margin-top: 55px;
  border: 1px solid #dfdfdf; }
  .information.dia.color .type .row,
  .information.dia.clarity .type .row,
  .information.dia.cut .type .row {
    margin-left: 0;
    margin-right: 0; }
    .information.dia.color .type .row > div,
    .information.dia.clarity .type .row > div,
    .information.dia.cut .type .row > div {
      padding-left: 0;
      padding-right: 0; }
  .information.dia.color .type .figure,
  .information.dia.clarity .type .figure,
  .information.dia.cut .type .figure {
    display: table;
    width: 100%;
    height: 120px; }
    .information.dia.color .type .figure p,
    .information.dia.clarity .type .figure p,
    .information.dia.cut .type .figure p {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .information.dia.color .type .figure p .img-responsive,
      .information.dia.clarity .type .figure p .img-responsive,
      .information.dia.cut .type .figure p .img-responsive {
        margin: 0 auto; }
  .information.dia.color .type .details,
  .information.dia.clarity .type .details,
  .information.dia.cut .type .details {
    padding: 10px 20px;
    margin-bottom: 20px; }
    .information.dia.color .type .details h5,
    .information.dia.clarity .type .details h5,
    .information.dia.cut .type .details h5 {
      margin-bottom: 10px;
      font-size: 13px;
      color: #080d68;
      text-align: center; }
      .information.dia.color .type .details h5 i,
      .information.dia.clarity .type .details h5 i,
      .information.dia.cut .type .details h5 i {
        font-size: 12px;
        color: #222; }
  .information.dia.color .type + .type,
  .information.dia.clarity .type + .type,
  .information.dia.cut .type + .type {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .information.dia.color .type .figure,
    .information.dia.clarity .type .figure,
    .information.dia.cut .type .figure {
      height: 140px; }
    .information.dia.color .type .details,
    .information.dia.clarity .type .details,
    .information.dia.cut .type .details {
      padding: 25px 25px 25px 0;
      margin-bottom: 0; }
      .information.dia.color .type .details h5,
      .information.dia.clarity .type .details h5,
      .information.dia.cut .type .details h5 {
        font-size: 15px;
        text-align: left; }
        .information.dia.color .type .details h5 i,
        .information.dia.clarity .type .details h5 i,
        .information.dia.cut .type .details h5 i {
          font-size: 14px; } }
  @media (min-width: 1230px) {
    .information.dia.color .type .figure,
    .information.dia.clarity .type .figure,
    .information.dia.cut .type .figure {
      height: 155px; } }

.information.dia.clarity .explain > p i {
  font-style: normal;
  font-weight: normal;
  color: #080d68; }

.information.dia.cut .section-content + .section-content {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .information.dia.cut .section-content + .section-content {
      margin-top: 60px; } }
  @media (min-width: 1230px) {
    .information.dia.cut .section-content + .section-content {
      margin-top: 90px; } }
.information.dia.cut .explain {
  margin-bottom: 0; }
  .information.dia.cut .explain > p i {
    font-style: normal;
    color: #080d68; }
  .information.dia.cut .explain .figure {
    margin-top: 20px;
    border: 1px solid #dfdfdf; }
    .information.dia.cut .explain .figure p {
      margin-top: 0; }
      .information.dia.cut .explain .figure p .img-responsive {
        margin: 0 auto; }
  .information.dia.cut .explain .table {
    margin-top: 15px;
    margin-bottom: 0;
    border-top: 2px solid #080d68; }
    .information.dia.cut .explain .table th {
      padding-left: 10px;
      width: 140px;
      color: #080d68; }
      .information.dia.cut .explain .table th i {
        color: #666;
        font-style: normal; }
    .information.dia.cut .explain .table td {
      padding-left: 20px;
      text-align: left;
      color: #333; }
  @media (min-width: 768px) {
    .information.dia.cut .explain .figure {
      margin-top: 30px; }
    .information.dia.cut .explain .table {
      margin-top: 25px; }
      .information.dia.cut .explain .table th {
        padding-left: 15px;
        width: 210px; }
      .information.dia.cut .explain .table td {
        padding-left: 30px; } }
.information.dia.cut .reflection .figure {
  border: 1px solid #dfdfdf; }
  .information.dia.cut .reflection .figure .img-responsive {
    margin: 0 auto; }
.information.dia.cut .hna .figure {
  margin-bottom: 20px; }
  .information.dia.cut .hna .figure .img-responsive {
    margin: 0 auto; }
@media (min-width: 992px) {
  .information.dia.cut .hna .section-body {
    overflow: hidden; }
    .information.dia.cut .hna .section-body .figure {
      float: left;
      margin-bottom: 0;
      margin-right: 30px;
      border: 1px solid #dfdfdf; } }
.information.dia.cut .addtional .row > div + div {
  margin-top: 15px; }
.information.dia.cut .addtional .details {
  padding: 20px;
  border: 1px solid #dfdfdf; }
  .information.dia.cut .addtional .details h4 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #080d68;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf; }
    .information.dia.cut .addtional .details h4 small {
      color: #666;
      font-size: 12px; }
@media (min-width: 768px) {
  .information.dia.cut .addtional .details {
    padding: 20px; }
    .information.dia.cut .addtional .details h4 {
      margin-bottom: 20px; } }
@media (min-width: 992px) {
  .information.dia.cut .addtional .row > div + div {
    margin-top: 0; }
  .information.dia.cut .addtional .details {
    padding: 30px;
    min-height: 210px; }
    .information.dia.cut .addtional .details h4 {
      padding-bottom: 15px;
      font-size: 15px; }
      .information.dia.cut .addtional .details h4 small {
        font-size: 13px; } }
.information.dia.cut .ratio .section-body > .figure .img-responsive {
  margin: 0 auto; }
.information.dia.cut .ratio .type .details {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px; }
  .information.dia.cut .ratio .type .details h5 {
    font-weight: normal; }
  .information.dia.cut .ratio .type .details ul li {
    line-height: 22px; }
    .information.dia.cut .ratio .type .details ul li:before {
      display: inline-block;
      padding-right: 5px;
      content: '-';
      line-height: 22px; }
@media (min-width: 768px) {
  .information.dia.cut .ratio .type.no-figure .details {
    padding-left: 20px; } }

.information.fancy .tabs ul li {
  width: 50%; }
  .information.fancy .tabs ul li a, .information.fancy .tabs ul li span {
    padding-top: 0;
    padding-bottom: 0;
    height: 35px;
    line-height: 33px; }
@media (min-width: 768px) {
  .information.fancy .tabs ul li a, .information.fancy .tabs ul li span {
    height: 40px;
    line-height: 38px; } }
.information.fancy .page-header {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .information.fancy .page-header {
      margin-bottom: 25px; } }
.information.fancy .explain {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .information.fancy .explain {
      margin-bottom: 60px; } }
  @media (min-width: 1230px) {
    .information.fancy .explain {
      margin-bottom: 90px; } }

.information.fancy.grade .explain {
  margin-bottom: 30px; }
  .information.fancy.grade .explain .section-body .figure {
    margin-bottom: 30px; }
    .information.fancy.grade .explain .section-body .figure .img-responsive {
      margin: 0 auto;
      padding: 1px;
      border: 1px solid #dfdfdf; }
  .information.fancy.grade .explain .section-body .details p i {
    color: #080d68;
    font-style: normal;
    font-weight: 400; }
  @media (min-width: 768px) {
    .information.fancy.grade .explain {
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .information.fancy.grade .explain .section-body {
      overflow: hidden; }
      .information.fancy.grade .explain .section-body .figure {
        float: left;
        margin-right: 30px; } }
.information.fancy.grade .intensity h4 {
  margin-bottom: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  line-height: 14px; }
  .information.fancy.grade .intensity h4 i {
    padding-right: 10px;
    background-color: #fff;
    color: #eb2127; }
.information.fancy.grade .intensity .figure p + p {
  margin-top: 0; }
.information.fancy.grade .intensity .figure .img-responsive {
  margin: 0 auto; }

.information.fancy.feature .type {
  margin-top: 55px;
  border: 1px solid #dfdfdf; }
  .information.fancy.feature .type .row {
    margin-left: 0;
    margin-right: 0; }
    .information.fancy.feature .type .row > div {
      padding-left: 0;
      padding-right: 0; }
  .information.fancy.feature .type .figure {
    margin-top: 30px;
    margin-bottom: 20px; }
    .information.fancy.feature .type .figure p .img-responsive {
      margin: 0 auto; }
  .information.fancy.feature .type .details {
    padding: 10px 20px 30px; }
    .information.fancy.feature .type .details h5 {
      margin-bottom: 5px;
      font-size: 13px;
      color: #080d68;
      text-align: center;
      font-weight: bold; }
    .information.fancy.feature .type .details strong {
      display: block;
      margin-bottom: 20px;
      font-weight: 400;
      color: #333;
      text-align: center;
      line-height: 22px; }
  .information.fancy.feature .type + .type {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .information.fancy.feature .type .figure {
      margin-top: 80px;
      margin-bottom: 0; }
    .information.fancy.feature .type .details {
      padding: 50px 50px 50px 0; }
      .information.fancy.feature .type .details h5 {
        font-size: 15px;
        text-align: left; }
      .information.fancy.feature .type .details strong {
        text-align: left; } }
  @media (min-width: 768px) {
    .information.fancy.feature .type .figure {
      height: 155px; }
    .information.fancy.feature .type .details h5 {
      margin-bottom: 10px; } }

.information.lab .page-header {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .information.lab .page-header {
      margin-bottom: 25px; } }
.information.lab .page-summary p + p {
  margin-top: 20px; }
.information.lab .tabs {
  margin-top: 50px;
  margin-bottom: 60px; }
  .information.lab .tabs ul {
    margin-top: -5px;
    margin-bottom: -5px; }
    .information.lab .tabs ul li {
      padding: 5px;
      width: 33.33%; }
      .information.lab .tabs ul li a, .information.lab .tabs ul li span {
        padding-top: 0;
        padding-bottom: 0;
        height: 35px;
        line-height: 33px; }
  @media (min-width: 768px) {
    .information.lab .tabs {
      padding-left: 5px;
      padding-right: 5px; }
      .information.lab .tabs ul {
        margin-top: 0;
        margin-bottom: 0; }
        .information.lab .tabs ul li {
          padding-top: 0;
          padding-bottom: 0;
          width: 20%; }
          .information.lab .tabs ul li a, .information.lab .tabs ul li span {
            height: 40px;
            line-height: 38px; } }
  @media (min-width: 1230px) {
    .information.lab .tabs {
      margin-top: 100px;
      margin-bottom: 110px;
      padding-left: 10px;
      padding-right: 10px; } }
.information.lab .figure {
  margin: 0 auto 30px;
  width: 300px;
  background-color: #fbfbfb; }
  .information.lab .figure p {
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.13); }
    .information.lab .figure p .img-responsive {
      margin: 0 auto;
      border: 1px solid #ccc; }
  @media (min-width: 768px) {
    .information.lab .figure {
      width: auto; } }
@media (min-width: 1230px) {
  .information.lab .details p + p {
    margin-top: 25px; } }

.information.lab.igi .figure {
  width: 184px; }
  @media (min-width: 768px) {
    .information.lab.igi .figure {
      margin: inherit; } }

.information.lab.ags .explain {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .information.lab.ags .explain {
      margin-bottom: 60px; } }
.information.lab.ags .grade h4 {
  margin-bottom: 20px;
  color: #080d68;
  font-weight: 500;
  font-size: 20px; }
.information.lab.ags .grade h5 {
  font-size: 13px;
  font-weight: normal;
  color: #080d68;
  line-height: 18px;
  vertical-align: middle; }
  .information.lab.ags .grade h5 span {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-color: #080d68;
    color: #fff;
    line-height: 16px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    font-weight: 300;
    vertical-align: 1px; }
  .information.lab.ags .grade h5 i {
    font-style: normal;
    color: #222; }
  .information.lab.ags .grade h5 + p {
    margin-top: 10px; }
.information.lab.ags .grade .table-responsive {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0; }
@media (min-width: 768px) {
  .information.lab.ags .grade h4 {
    font-size: 22px; }
  .information.lab.ags .grade h5 {
    font-size: 14px;
    line-height: 20px; }
  .information.lab.ags .grade .table-responsive {
    margin-bottom: 40px; } }
@media (min-width: 1230px) {
  .information.lab.ags .grade h4 {
    margin-bottom: 30px;
    font-size: 24px; }
  .information.lab.ags .grade .table-responsive {
    margin-bottom: 50px; } }

.information.ring .tabs {
  margin-top: 40px;
  margin-bottom: 60px; }
  .information.ring .tabs ul li {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%; }
    .information.ring .tabs ul li a, .information.ring .tabs ul li span {
      padding-top: 0;
      padding-bottom: 0;
      height: 35px;
      line-height: 33px; }
  @media (min-width: 768px) {
    .information.ring .tabs {
      padding-left: 5px;
      padding-right: 5px; }
      .information.ring .tabs ul li a, .information.ring .tabs ul li span {
        height: 40px;
        line-height: 38px; } }
  @media (min-width: 1230px) {
    .information.ring .tabs {
      margin-top: 60px;
      margin-bottom: 90px;
      padding-left: 150px;
      padding-right: 150px; }
      .information.ring .tabs ul {
        margin-left: -15px;
        margin-right: -15px; }
        .information.ring .tabs ul li {
          padding-left: 15px;
          padding-right: 15px; } }

.information.ring.metal .type {
  margin-top: 55px;
  border: 1px solid #dfdfdf; }
  .information.ring.metal .type .row {
    margin-left: 0;
    margin-right: 0; }
    .information.ring.metal .type .row > div {
      padding-left: 0;
      padding-right: 0; }
  .information.ring.metal .type .figure {
    margin-top: 30px;
    margin-bottom: 20px; }
    .information.ring.metal .type .figure p .img-responsive {
      margin: 0 auto; }
  .information.ring.metal .type .details {
    padding: 10px 20px;
    margin-bottom: 20px; }
    .information.ring.metal .type .details h5 {
      margin-bottom: 10px;
      font-size: 13px;
      color: #080d68;
      text-align: center;
      font-weight: normal; }
      .information.ring.metal .type .details h5 i {
        font-size: 12px;
        color: #222; }
  .information.ring.metal .type + .type {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .information.ring.metal .type .figure {
      height: 140px; }
    .information.ring.metal .type .details {
      padding: 25px 25px 25px 0;
      margin-bottom: 0; }
      .information.ring.metal .type .details h5 {
        font-size: 15px;
        text-align: left; }
        .information.ring.metal .type .details h5 i {
          font-size: 14px; } }
  @media (min-width: 768px) {
    .information.ring.metal .type .figure {
      height: 155px; } }

.information.ring.size .ruler {
  margin-bottom: 100px; }
  .information.ring.size .ruler .steps ol li {
    margin-bottom: 20px; }
    .information.ring.size .ruler .steps ol li figure p {
      margin-bottom: 20px; }
    .information.ring.size .ruler .steps ol li figure figcaption {
      padding-left: 30px; }
      .information.ring.size .ruler .steps ol li figure figcaption span {
        display: inline-block;
        margin-left: -20px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 10px;
        background-color: #080d68;
        color: #fff;
        line-height: 16px;
        text-align: center; }
  .information.ring.size .ruler .help {
    padding: 15px 20px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7; }
    .information.ring.size .ruler .help p i, .information.ring.size .ruler .help p em {
      font-style: normal; }
    .information.ring.size .ruler .help p i {
      color: #080d68; }
    .information.ring.size .ruler .help p em {
      color: #eb2127; }
    .information.ring.size .ruler .help p:before {
      margin-right: 5px;
      font-family: 'fontello';
      content: '\e805';
      color: #080d68; }
.information.ring.size .chart .notify {
  margin-bottom: 45px; }
  .information.ring.size .chart .notify i {
    font-style: normal;
    color: #080d68; }

.information.ring.setting .method {
  padding: 20px;
  border: 1px solid #dfdfdf; }
  .information.ring.setting .method h4 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #080d68;
    border-bottom: 1px solid #dfdfdf; }
    .information.ring.setting .method h4 small {
      font-size: 13px;
      color: #666; }
  .information.ring.setting .method + .method {
    margin-top: 20px; }
  .information.ring.setting .method .details p + p {
    margin-top: 20px; }
  .information.ring.setting .method .figure {
    margin-top: 30px; }
    .information.ring.setting .method .figure ul {
      overflow: hidden;
      margin-top: -10px;
      margin-bottom: -10px;
      margin-left: -10px;
      margin-right: -10px; }
    .information.ring.setting .method .figure li {
      float: left;
      width: 50%;
      padding: 10px; }
      .information.ring.setting .method .figure li img {
        width: 100%; }
  @media (min-width: 768px) {
    .information.ring.setting .method .figure li {
      width: auto; }
      .information.ring.setting .method .figure li img {
        width: auto; } }
  @media (min-width: 1230px) {
    .information.ring.setting .method {
      padding: 30px; } }

.information.shape .page-header {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .information.shape .page-header {
      margin-bottom: 25px; } }
.information.shape .tabs ul {
  margin-top: -5px;
  margin-bottom: -5px; }
  .information.shape .tabs ul li {
    padding: 5px;
    width: 33.33%; }
    .information.shape .tabs ul li a, .information.shape .tabs ul li span {
      padding-top: 0;
      padding-bottom: 0;
      height: 35px;
      line-height: 33px; }
@media (min-width: 768px) {
  .information.shape .tabs {
    padding-left: 150px;
    padding-right: 150px; } }
.information.shape .type {
  margin-top: 30px;
  border: 1px solid #dfdfdf; }
  .information.shape .type .row {
    margin-left: 0;
    margin-right: 0; }
    .information.shape .type .row > div {
      padding-left: 0;
      padding-right: 0; }
  .information.shape .type .figure {
    display: table;
    width: 100%;
    height: 200px; }
    .information.shape .type .figure p {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .information.shape .type .figure p .img-responsive {
        margin: 0 auto; }
  .information.shape .type .details {
    padding: 20px;
    margin-bottom: 20px; }
    .information.shape .type .details h5 {
      margin-bottom: 10px;
      font-size: 13px;
      color: #080d68;
      text-align: center;
      line-height: 18px;
      font-weight: normal; }
      .information.shape .type .details h5 i {
        font-size: 12px;
        color: #222;
        font-style: normal; }
    .information.shape .type .details .btn {
      display: block;
      margin: 0 auto;
      max-width: 110px; }
    .information.shape .type .details p {
      margin-top: 15px; }
  .information.shape .type .drawing {
    margin-bottom: 20px;
    padding: 10px 20px; }
    .information.shape .type .drawing .img-responsive {
      margin: 0 auto; }
  .information.shape .type .chart {
    padding: 10px 20px; }
    .information.shape .type .chart h6 {
      margin-bottom: 10px;
      color: #080d68;
      font-size: 13px; }
    .information.shape .type .chart .table {
      border-top: 2px solid #080d68; }
      .information.shape .type .chart .table th {
        width: 120px;
        color: #222; }
        .information.shape .type .chart .table th span {
          display: block;
          color: #666; }
      .information.shape .type .chart .table td {
        text-align: left;
        vertical-align: middle;
        color: #222; }
  .information.shape .type + .type {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .information.shape .type .figure {
      height: 220px; }
    .information.shape .type .details {
      padding: 40px 25px 40px 0;
      margin-bottom: 0; }
      .information.shape .type .details h5 {
        float: left;
        font-size: 18px;
        text-align: left; }
        .information.shape .type .details h5 i {
          font-size: 13px; }
      .information.shape .type .details .btn {
        margin-left: 180px; } }
  @media (min-width: 1230px) {
    .information.shape .type .figure {
      height: 200px; }
    .information.shape .type .drawing {
      padding-left: 45px;
      padding-right: 45px; }
    .information.shape .type .chart {
      padding-left: 45px;
      padding-right: 45px; }
      .information.shape .type .chart h6 {
        margin-bottom: 15px;
        font-size: 14px; }
      .information.shape .type .chart .table th {
        width: 250px; }
        .information.shape .type .chart .table th span {
          display: inline-block; }
      .information.shape .type .chart .table td {
        text-align: left;
        vertical-align: middle; } }

/*# sourceMappingURL=information.css.map */
