@import 'common';

.path-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    @media (min-width: $lg) {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

// LNB 영역
#lnb {
    margin-bottom: 40px;
    .dropdown {
        z-index: 999;
        >.btn {
            width: 100%;
            height: 50px;
            border-top: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            border-left: 0;
            border-right: 0;
            background-color: #f7f7f7;
            color: $kc;
            font-size: 13px;
            text-align: left;
            &:hover, &:focus {
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                color: $kc;
                background-color: #f7f7f7;
            }
            i {
                float: right;
            }
        }
        > .dropdown-menu {
            margin-top: -1px;
            padding-top: 0;
            padding-bottom: 0;
            width: 100%;
            border-radius: 0;
            border: 0;
            box-shadow: none;
            li {
                > a {
                    display: block;
                    margin-top: -1px;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 51px;
                    color: #666;
                    background-color: #f7f7f7;
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;
                    line-height: 44px;
                    font-size: 13px;
                    text-decoration: none;
                    &:hover, &:focus {
                        background-color: #e4e4e4;
                    }
                }
                > ul {
                    display: none;
                    li {
                        border-bottom: 0;
                        a {
                            padding-left: 20px;
                            background-color: #fff;
                            line-height: 49px;
                        }
                    }
                }
                &.active {
                    > a {
                        background-color: #e4e4e4;
                    }
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
    @media (min-width: $sm) {
        .dropdown {
            > .btn {
                padding-left: 15px;
                padding-right: 15px;
            }
            > .dropdown-menu {
                li {
                    a {
                        padding-left: 15px;
                    }
                    ul {
                        li {
                            a {
                                paddin-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 0;
        width: 235px;
        .dropdown {
            > .btn {
                display: none;
            }
            > .dropdown-menu {
                display: block;
                position: relative;
            }
        }
    }
}

#content {
    margin-bottom: 50px;
    @media (min-width: $sm) {
        margin-bottom: 100px;
    }
    @media (min-width: $lg) {
        margin-bottom: 120px;
    }
}

// 페이지헤더
.page-header {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom-color: #ccc;
    h2 {
        font-size: 23px;
        color: $kc;
        @extend .jjmj;
        font-weight: 400;
        small {
            font-size: 13px;
            @extend .noto;
            color: #666;
            font-weight: 300;
        }
    }
    @media (min-width: $sm) {
        margin-bottom: 40px;
        h2 {
            font-size: 25px;
            small {
                font-size: 15px;
            }
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 60px;
        padding-bottom: 15px;
    }
}

// 페이지 간략설명
.page-summary {
    p {
        font-size: 12px;
        line-height: 22px;
        i {
            font-style: normal;
            color: $kc;
            font-weight: 400;
        }
    }
    @media (min-width: $sm) {
        p {
            font-size: 13px;
        }
    }
}

// 탭
.tabs {
    margin-top: 40px;
    margin-bottom: 40px;
    ul {
        overflow: hidden;
        margin-left: -5px;
        margin-right: -5px;
        li {
            float: left;
            width: 25%;
            padding-left: 5px;
            padding-right: 5px;
            a, span {
                display: block;
                padding-top: 9px;
                padding-bottom: 9px;
                width: 100%;
                height: 50px;
                border: 1px solid #ccc;
                line-height: 15px;
                text-align: center;
                font-size: 12px;
                color: #666;
            }
            span {
                background-color: $kc;
                border-color: $kc;
                color: #fff;
            }
        }
    }
    @media (min-width: $sm) {
        margin-bottom: 60px;
        ul {
            margin-left: -10px;
            margin-right: -10px;
            li {
                padding-left: 10px;
                padding-right: 10px;
                a, span {
                    height: 40px;
                    line-height: 20px;
                    font-size: 13px;
                }
            }
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 95px;
        padding-left: 50px;
        padding-right: 50px;
        ul {
            margin-left: -15px;
            margin-right: -15px;
            li {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.section-content {
    // 섹션 헤더
    .section-head {
        margin-bottom: 25px;
        padding-left: 10px;
        border-left: 3px solid $kc;
        .section-title {
            font-size: 20px;
            color: $kc;
            @extend .crimson;
            small {
                margin-left: 5px;
                font-size: 15px;
                color: #666;
                @extend .noto;
                font-weight: 300;
            }
            & + p {
                margin-top: 10px;
            }
        }
        p {
            font-size: 12px;
            color: #999;
        }
        @media (min-width: $sm) {
            margin-bottom: 30px;
            .section-title {
                font-size: 22px;
            }
        }
        @media (min-width: $lg) {
            .section-title {
                margin-bottom: 15px;
                font-size: 25px;
            }
            p {
                font-size: 13px;
            }
        }
    }

    // 문단
    p {
        font-size: 12px;
        line-height: 22px;
        & + p {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            font-size: 13px;
            & + p {
                margin-top: 25px;
            }
        }
        @media (min-width: $lg) {
            & + p {
                margin-top: 30px;
            }
        }
    }
}

.information.dia {
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .explain {
        margin-bottom: 40px;
        @media (min-width: $sm) {
            margin-bottom: 60px;
        }
        @media (min-width: $lg) {
            margin-bottom: 90px;
        }
    }
}

// 다이아몬드 캐럿
.information.dia.carat {
    .explain {
        .chart {
            margin-top: 30px;
            border: 1px solid #ccc;
            p + p {
                margin-top: 0;
            }
            img {
                margin: 0 auto;
            }
        }
    }
    .relationship {
        .section-title {
            @extend .jjmj;
        }
        .img-responsive {
            margin: 0 auto 20px;
        }
    }
}

// 다이아몬드 컬러, 내포물
.information.dia.color,
.information.dia.clarity,
.information.dia.cut {
    .type {
        margin-top: 55px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            display: table;
            width: 100%;
            height: 120px;
            p {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 10px 20px;
            margin-bottom: 20px;
            h5 {
                margin-bottom: 10px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                i {
                    font-size: 12px;
                    color: #222;
                }
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                height: 140px;
            }
            .details {
                padding: 25px 25px 25px 0;
                margin-bottom: 0;
                h5 {
                    font-size: 15px;
                    text-align: left;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            .figure {
                height: 155px;
            }
        }
    }
}

// 다이아몬드 내포물
.information.dia.clarity {
    .explain {
        > p {
            i {
                font-style: normal;
                font-weight: normal;
                color: $kc;
            }
        }
    }
}

// 다이아몬드 컷
.information.dia.cut {
    .section-content + .section-content {
        margin-top: 40px;
        @media (min-width: $sm) {
            margin-top: 60px;
        }
        @media (min-width: $lg) {
            margin-top: 90px;
        }
    }
    .explain {
        margin-bottom: 0;
        > p {
            i {
                font-style: normal;
                color: $kc;
            }
        }
        .figure {
            margin-top: 20px;
            border: 1px solid #dfdfdf;
            p {
                margin-top: 0;
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .table {
            margin-top: 15px;
            margin-bottom: 0;
            border-top: 2px solid $kc;
            th {
                padding-left: 10px;
                width: 140px;
                color: $kc;
                i {
                    color: #666;
                    font-style: normal;
                }
            }
            td {
                padding-left: 20px;
                text-align: left;
                color: #333;
            }
        }
        @media (min-width: $sm) {
            .figure {
                margin-top: 30px;
            }
            .table {
                margin-top: 25px;
                th {
                    padding-left: 15px;
                    width: 210px;
                }
                td {
                    padding-left: 30px;
                }
            }
        }
        @media (min-width: $lg) {
        }
    }
    .reflection,
    .hna,
    .addtional {
        .section-title {
            @extend .jjmj;
        }
    }
    .reflection {
        .figure {
            border: 1px solid #dfdfdf;
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
    .hna {
        .figure {
            margin-bottom: 20px;
            .img-responsive {
                margin: 0 auto;
            }
        }
        @media (min-width: $md) {
            .section-body {
                overflow: hidden;
                .figure {
                    float: left;
                    margin-bottom: 0;
                    margin-right: 30px;
                    border: 1px solid #dfdfdf;
                }
            }
        }
    }
    .addtional {
        .row {
            > div {
                & + div {
                    margin-top: 15px;
                }
            }
        }
        .details {
            padding: 20px;
            border: 1px solid #dfdfdf;
            h4 {
                margin-bottom: 15px;
                padding-bottom: 10px;
                color: $kc;
                @extend .crimson;
                font-size: 14px;
                border-bottom: 1px solid #dfdfdf;
                small {
                    color: #666;
                    font-size: 12px;
                    @extend .noto;
                }
            }
        }
        @media (min-width: $sm) {
            .details {
                padding: 20px;
                h4 {
                    margin-bottom: 20px;
                }
            }
        }
        @media (min-width: $md) {
            .row {
                > div {
                    & + div {
                        margin-top: 0;
                    }
                }
            }
            .details {
                padding: 30px;
                min-height: 210px;
                h4 {
                    padding-bottom: 15px;
                    font-size: 15px;
                    small {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .ratio {
        .section-head {
            .section-title {
                @extend .jjmj;
            }
        }
        .section-body {
            > .figure {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .type {
            .details {
                margin-bottom: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                h5 {
                    font-weight: normal;
                }
                ul {
                    li {
                        line-height: 22px;
                        &:before {
                            display: inline-block;
                            padding-right: 5px;
                            content: '-';
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        @media (min-width: $sm) {
            .type {
                &.no-figure {
                    .details {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

// 팬시 컬러 다이아
.information.fancy {
    .tabs {
        ul {
            li {
                width: 50%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            ul {
                li {
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .explain {
        margin-bottom: 40px;
        @media (min-width: $sm) {
            margin-bottom: 60px;
        }
        @media (min-width: $lg) {
            margin-bottom: 90px;
        }
    }
}

// 팬시 컬러 다이아: 등급
.information.fancy.grade {
    .explain {
        margin-bottom: 30px;
        .section-head {
            .section-title {
                @extend .jjmj;
            }
        }
        .section-body {
            .figure {
                margin-bottom: 30px;
                .img-responsive {
                    margin: 0 auto;
                    padding: 1px;
                    border: 1px solid #dfdfdf;
                }
            }
            .details {
                p {
                    i {
                        color: $kc;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            margin-bottom: 40px;
        }
        @media (min-width: $md) {
            .section-body {
                overflow: hidden;
                .figure {
                    float: left;
                    margin-right: 30px;
                }
            }
        }
    }
    .intensity {
        h4 {
            margin-bottom: 25px;
            border-bottom: 1px solid #dfdfdf;
            font-size: 14px;
            line-height: 14px;
            i {
                padding-right: 10px;
                background-color: #fff;
                color: $red;
            }
        }
        .figure {
            p + p {
                margin-top: 0;
            }
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
}

// 팬시 컬러 다이아: 특징
.information.fancy.feature {
    .explain {
        .section-head {
            .section-title {
                @extend .jjmj;
            }
        }
    }
    .type {
        margin-top: 55px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            margin-top: 30px;
            margin-bottom: 20px;
            p {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 10px 20px 30px;
            h5 {
                margin-bottom: 5px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                @extend .crimson;
                font-weight: bold;

            }
            strong {
                display: block;
                margin-bottom: 20px;
                font-weight: 400;
                color: #333;
                text-align: center;
                line-height: 22px;
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                margin-top: 80px;
                margin-bottom: 0;
            }
            .details {
                padding: 50px 50px 50px 0;
                h5 {
                    font-size: 15px;
                    text-align: left;
                }
                strong {
                    text-align: left;
                }
            }
        }
        @media (min-width: $sm) {
            .figure {
                height: 155px;
            }
            .details {
                h5 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// 감정서
.information.lab {
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .page-summary {
        p + p {
            margin-top: 20px;
        }
    }
    .tabs {
        margin-top: 50px;
        margin-bottom: 60px;
        ul {
            margin-top: -5px;
            margin-bottom: -5px;
            li {
                padding: 5px;
                width: 33.33%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            padding-left: 5px;
            padding-right: 5px;
            ul {
                margin-top: 0;
                margin-bottom: 0;
                li {
                    padding-top: 0;
                    padding-bottom: 0;
                    width: 20%;
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            margin-top: 100px;
            margin-bottom: 110px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .figure {
        margin: 0 auto 30px;
        width: 300px;
        background-color: #fbfbfb;
        p {
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .13);
            .img-responsive {
                margin: 0 auto;
                border: 1px solid #ccc;
            }
        }
        @media (min-width: $sm) {
            width: auto;
        }
    }
    .details {
        @media (min-width: $lg) {
            p + p {
                margin-top: 25px;
            }
        }
    }
}

.information.lab.gia {
    .figure {
        margin-bottom: 0;
        p {
            padding: 0;
            box-shadow: none;
            img {
                border: 0;
            }
        }
    }
    .report {
        padding-top: 20px;
        .left {
            .figure {
                float: right;
                width: 320px;
            }
            .details {
                float: right;
                margin-top: 30px;
                padding: 40px 20px;
                border: 9px solid #f7f7f7;
                p {
                    font-size: 13px;
                    line-height: 22px;
                    i {
                        font-style: normal;
                        color: $kc;
                    }
                }
            }
        }
        .right {
            margin-top: 170px;
            .figure {
                float: left;
                width: 350px;
                h4 {
                    margin-bottom: 30px;
                    padding-left: 10px;
                    @extend .crimson;
                    color: $kc;
                    border-left: 6px solid $kc;
                    font-size: 25px;
                    line-height: 36px;
                }
            }
            .details {
                float: left;
                margin-top: 30px;
                padding: 40px 30px;
                background-color: #f6f6f6;
                p {
                    font-size: 13px;
                    line-height: 22px;
                    i {
                        font-style: normal;
                        color: $kc;
                    }
                }
            }
        }
        @media (max-width: $lg - 1px) {
            padding-top: 0;
            .left {
                .details {
                    margin-top: 20px;
                    margin-left: 0;
                    padding: 30px 10px;
                    p {
                        font-size: 13px;
                    }
                }
            }
            .right {
                margin-top: 45px;
                .figure {
                    h4 {
                        margin-bottom: 20px;
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
                .details {
                    margin-right: 0;
                    margin-top: 20px;
                    padding: 30px 20px;
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
        @media (max-width: $sm - 1px) {
            .left {
                .figure {
                    float: none;
                }
                .details {
                    float: none;
                    margin-top: 20px;
                    margin-left: 0;
                    padding: 20px;
                    p {
                        font-size: 12px;
                    }
                }
            }
            .right {
                margin-top: 20px;
                .figure {
                    float: none;
                    h4 {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .details {
                    float: none;
                    margin-right: 0;
                    margin-top: 20px;
                    padding: 20px;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .feature {
        margin-top: 40px;
        .item {
            height: 365px;
            border: 1px solid #ededed;
            .details {
                padding-top: 30px;
                text-align: center;
                h4 {
                    @extend .jjmj;
                    color: $kc;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 26px;
                }
                p {
                    font-size: 15px;
                    line-height: 26px;
                    color: #222;
                    @extend .jjmj;
                }
            }
            &:nth-of-type(1) {
                a {
                    @extend .noto;
                    font-size: 15px;
                    line-height: 22px;
                    color: $kc;
                    text-decoration: underline;
                    font-weight: normal;
                }
                ol {
                    margin-top: 10px;
                    text-align: center;
                    li {
                        display: inline-block;
                        color: #333;
                        font-size: 13px;
                        line-height: 22px;
                        span {
                            display: inline-block;
                            font-size: 10px;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            text-align: center;
                            background-color: $kc;
                            color: #fff;
                            border-radius: 50%;
                        }
                        & + li {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        @media (max-width: $lg - 1px) {
            .item {
                height: 390px;
                .details {
                    //padding-top: 30px;
                    padding-left: 10px;
                    padding-right: 10px;
                    h4 {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        @media (max-width: $sm - 1px) {
            .item {
                height: auto;
                margin-bottom: 20px;
                .figure {
                    width: auto;
                    .img-responsive {
                        width: 100%;
                    }
                }
                .details {
                    padding: 20px 10px;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
                &:nth-of-type(1) {
                    a {
                        font-size: 14px;
                        line-height: 22px;
                    }
                    ol {
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.information.lab.igi {
    .figure {
        width: 184px;
        @media (min-width: $sm) {
            margin: inherit;
        }
    }
}

.information.lab.ags {
    .explain {
        margin-bottom: 50px;
        @media (min-width: $sm) {
            margin-bottom: 60px;
        }
    }
    .grade {
        h4 {
            margin-bottom: 20px;
            @extend .jjmj;
            color: $kc;
            font-weight: 500;
            font-size: 20px;
        }
        h5 {
            font-size: 13px;
            font-weight: normal;
            color: $kc;
            line-height: 18px;
            vertical-align: middle;
            span {
                display: inline-block;
                margin-right: 5px;
                width: 16px;
                height: 16px;
                background-color: $kc;
                color: #fff;
                line-height: 16px;
                border-radius: 50%;
                font-size: 11px;
                text-align: center;
                line-height: 16px;
                font-weight: 300;
                vertical-align: 1px;
            }
            i {
                font-style: normal;
                color: #222;
            }
            & + p {
                margin-top: 10px;
            }
        }
        .table-responsive {
            margin-top: 20px;
            margin-bottom: 30px;
            border: 0;
        }
        @media (min-width: $sm) {
            h4 {
                font-size: 22px;
            }
            h5 {
                font-size: 14px;
                line-height: 20px;
            }
            .table-responsive {
                margin-bottom: 40px;
            }
        }
        @media (min-width: $lg) {
            h4 {
                margin-bottom: 30px;
                font-size: 24px;
            }
            .table-responsive {
                margin-bottom: 50px;
            }
        }
    }
}

.information.ring {
    .tabs {
        margin-top: 40px;
        margin-bottom: 60px;
        ul {
            li {
                padding-left: 5px;
                padding-right: 5px;
                width: 33.33%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            padding-left: 5px;
            padding-right: 5px;
            ul {
                li {
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            margin-top: 60px;
            margin-bottom: 90px;
            padding-left: 150px;
            padding-right: 150px;
            ul {
                margin-left: -15px;
                margin-right: -15px;
                li {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

.information.ring.metal {
    .type {
        margin-top: 55px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            margin-top: 30px;
            margin-bottom: 20px;
            p {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 10px 20px;
            margin-bottom: 20px;
            h5 {
                margin-bottom: 10px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                font-weight: normal;
                i {
                    font-size: 12px;
                    color: #222;
                }
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                height: 140px;
            }
            .details {
                padding: 25px 25px 25px 0;
                margin-bottom: 0;
                h5 {
                    font-size: 15px;
                    text-align: left;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            .figure {
                height: 155px;
            }
        }
    }
}

.information.ring.size {
    .section-head {
        .section-title {
            @extend .jjmj;
        }
    }
    .ruler {
        margin-bottom: 100px;
        .steps {
            ol {
                li {
                    margin-bottom: 20px;
                    figure {
                        p {
                            margin-bottom: 20px;
                        }
                        figcaption {
                            padding-left: 30px;
                            span {
                                display: inline-block;
                                margin-left: -20px;
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                font-size: 10px;
                                background-color: $kc;
                                color: #fff;
                                line-height: 16px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .help {
            padding: 15px 20px;
            border: 1px solid #dfdfdf;
            background-color: #f7f7f7;
            p {
                i, em {
                    font-style: normal;
                }
                i {
                    color: $kc;
                }
                em {
                    color: $red;
                }
                &:before {
                    margin-right: 5px;
                    font-family: 'fontello';
                    content: '\e805';
                    color: $kc;
                }
            }
        }
    }
    .chart {
        .notify {
            margin-bottom: 45px;
            i {
                font-style: normal;
                color: $kc;
            }
        }
    }
}

.information.ring.setting {
    .method {
        padding: 20px;
        border: 1px solid #dfdfdf;
        h4 {
            margin-bottom: 20px;
            padding-bottom: 10px;
            @extend .crimson;
            font-size: 18px;
            color: $kc;
            border-bottom: 1px solid #dfdfdf;
            small {
                @extend .noto;
                font-size: 13px;
                color: #666;
            }
        }
        & + .method {
            margin-top: 20px;
        }
        .details {
            p + p {
                margin-top: 20px;
            }
        }
        .figure {
            margin-top: 30px;
            ul {
                overflow: hidden;
                margin-top: -10px;
                margin-bottom: -10px;
                margin-left: -10px;
                margin-right: -10px;
            }
            li {
                float: left;
                width: 50%;
                padding: 10px;
                img {
                    width: 100%;
                }
            }
        }
        @media (min-width: $sm) {
            .figure {
                li {
                    width: auto;
                    img {
                        width: auto;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            padding: 30px;
        }
    }
}

// 다이아몬드 쉐입
.information.shape {
    .page-header {
        margin-bottom: 15px;
        @media (min-width: $sm) {
            margin-bottom: 25px;
        }
    }
    .tabs {
        ul {
            margin-top: -5px;
            margin-bottom: -5px;
            li {
                padding: 5px;
                width: 33.33%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            padding-left: 150px;
            padding-right: 150px;
        }
    }
    .type {
        margin-top: 30px;
        border: 1px solid #dfdfdf;
        .row {
            margin-left: 0;
            margin-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .figure {
            display: table;
            width: 100%;
            height: 200px;
            p {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .details {
            padding: 20px;
            margin-bottom: 20px;
            h5 {
                margin-bottom: 10px;
                font-size: 13px;
                color: $kc;
                text-align: center;
                @extend .crimson;
                line-height: 18px;
                font-weight: normal;
                i {
                    font-size: 12px;
                    color: #222;
                    @extend .noto;
                    font-style: normal;
                }
            }
            .btn {
                display: block;
                margin: 0 auto;
                max-width: 110px;
            }
            p {
                margin-top: 15px;
            }
        }
        .drawing {
            margin-bottom: 20px;
            padding: 10px 20px;
            .img-responsive {
                margin: 0 auto;
            }
        }
        .chart {
            padding: 10px 20px;
            h6 {
                margin-bottom: 10px;
                color: $kc;
                font-size: 13px;
                span {
                    @extend .lato;
                }
            }
            .table {
                border-top: 2px solid $kc;
                th {
                    width: 120px;
                    color: #222;
                    span {
                        display: block;
                        color: #666;
                        @extend .lato;
                    }
                }
                td {
                    text-align: left;
                    vertical-align: middle;
                    color: #222;
                }
            }
        }
        & + .type {
            margin-top: 20px;
        }
        @media (min-width: $sm) {
            .figure {
                height: 220px;
            }
            .details {
                padding: 40px 25px 40px 0;
                margin-bottom: 0;
                h5 {
                    float: left;
                    font-size: 18px;
                    text-align: left;
                    i {
                        font-size: 13px;
                    }
                }
                .btn {
                    margin-left: 180px;
                }
            }
        }
        @media (min-width: $lg) {
            .figure {
                height: 200px;
            }
            .drawing {
                padding-left: 45px;
                padding-right: 45px;
            }
            .chart {
                padding-left: 45px;
                padding-right: 45px;
                h6 {
                    margin-bottom: 15px;
                    font-size: 14px;
                }
                .table {
                    th {
                        width: 250px;
                        span {
                            display: inline-block;
                        }
                    }
                    td {
                        text-align: left;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

// 원석정보
.information.stone.bstone {
    .bstone-list {
        ul {
            margin-left: -5px;
            margin-right: -5px;
            li {
                margin-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;
                &:nth-of-type(odd) {
                    clear: both;
                }
                a {
                    text-decoration: none;
                    &:hover, &:focus {
                        .bstone-content {
                            border-color: $kc;
                        }
                    }
                }
            }
        }
    }
    .bstone-content {
        padding-left: 15px;
        padding-right: 15px;
        min-height: 200px;
        border: 1px solid #dfdfdf;
        text-align: center;
        .bstone-head {
            position: relative;
            padding-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dfdfdf;
            .figure {
                .img-responsive {
                    margin: 0 auto;
                }
            }
            h4 {
                @extend .crimson;
                font-size: 14px;
                color: $kc;
                text-decoration: underline;
            }
            small {
                @extend .lato;
                font-size: 12px;
                color: #222;
            }
        }
        .bstone-body {
            padding-top: 10px;
            padding-bottom: 20px;
            .month {
                font-size: 13px;
                color: #666;
                i {
                    font-size: 12px;
                    @extend .lato;
                }
            }
            .means {
                margin-top: 5px;
                font-size: 13px;
                color: #222;
            }
        }
    }
    @media (min-width: $sm) {
        .bstone-list {
            ul {
                li {
                    &:nth-of-type(odd) {
                        clear: none;
                    }
                    &:nth-of-type(4n+1) {
                        clear: both;
                    }
                }
            }
        }
        .bstone-content {
            padding-left: 20px;
            padding-right: 20px;
            min-height: 240px;
            .bstone-head {
                padding-top: 25px;
                padding-bottom: 15px;
                h4 {
                    font-size: 16px;
                }
            }
            .bstone-body {
                padding-top: 15px;
                padding-bottom: 25px;
                .month {
                    font-size: 14px;
                }
                .means {
                    font-size: 14px;
                }
            }
        }
    }
    @media (min-width: $lg) {
        .bstone-list {
            ul {
                margin-left: -15px;
                margin-right: -15px;
                li {
                    margin-bottom: 30px;
                    padding-left: 15px;
                    padding-right: 15px
                }
            }
        }
        .bstone-content {
            padding-left: 25px;
            padding-right: 25px;
            min-height: 270px;
            .bstone-head {
                h4 {
                    font-size: 18px;
                }
            }
        }
    }
    .tabs {
        margin-top: 40px;
        margin-bottom: 60px;
        ul {
            margin-top: -5px;
            li {
                padding: 5px;
                width: 33.33%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            ul {
                margin-left: -5px;
                margin-right: -5px;
                li {
                    width: 16.6667%;
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            margin-top: 60px;
            margin-bottom: 90px;
            padding-left: 0;
            padding-right: 0;
            ul {
                margin-top: -10px;
                margin-bottom: -10px;
                margin-left: -15px;
                margin-right: -15px;
                li {
                    padding: 10px 15px;
                }
            }
        }
    }
    .bstone-view {
        padding: 20px;
        background-color: #f7f7f7;
        & + .bstone-view {
            margin-top: 10px;
        }
        figure {
            p {
                img {
                    margin: 0 auto;
                    border: 1px solid #dfdfdf;
                }
            }
            figcaption {
                text-align: center;
                h4 {
                    margin-top: 15px;
                    margin-bottom: 5px;
                    font-size: 20px;
                    @extend .crimson;
                    color: $kc;
                    text-decoration: underline;
                }
                small {
                    font-size: 12px;
                    @extend .lato;
                    color: #222;
                    font-weight: normal;
                }
            }
        }
        .details {
            margin-top: 20px;
            &:after {
                display: table;
                content: '';
                clear: both;
            }
            h5 {
                margin-bottom: 20px;
                padding-left: 5px;
                border-left: 3px solid $kc;
                color: $kc;
                font-size: 18px;
                font-weight: normal;
                i {
                    @extend .lato;
                    color: #666;
                }
                small {
                    color: #222;
                    font-size: 14px;
                }
            }
            p {
                i {
                    color: $kc;
                    font-style: normal;
                    font-weight: normal;
                }
                br {
                    display: none;
                }
            }
        }
        .knowhow {
            margin-top: 20px;
            h6 {
                font-size: 13px;
                color: $kc;
                line-height: 22px;
                &:before {
                    margin-right: 5px;
                    font-family: 'fontello';
                    content: '\e805';
                }
            }
        }
    }
    @media (min-width: $sm) {
        .bstone-view {
            padding: 30px;
            figure {
                float: left;
            }
            .details {
                margin-top: 5px;
                margin-left: 200px;
            }
            .knowhow {
                margin-left: 200px;
            }
        }
    }
    @media (min-width: $md) {
        .bstone-view {
            .details {
                p {
                    br {
                        display: inline;
                    }
                }
            }
        }
    }
    @media (min-width: $lg) {
        .bstone-view {
            padding: 30px;
        }
    }
}

// 진주정보
.information.stone.pearl {
    .page-header {
        margin-bottom: 0;
        border-bottom: 0;
    }
    .overview {
        padding: 20px;
        border: 1px solid #dfdfdf;
        background-color: #f9f9f9;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: auto 100%;
        p {
            i {
                font-style: normal;
                color: $kc;
                font-weight: normal;
            }
            & + p {
                margin-top: 20px;
            }
        }
        @media (min-width: $sm) {
            padding: 40px 30px;
            background-image: url(/assets/images/information/bg_pearl_overview.jpg);
        }
        @media (min-width: $lg) {
        }
    }
    .section-content {
        margin-top: 70px;
        .section-head {
            margin-bottom: 30px;
            padding-left: 0;
            border-left: 0;
            h3 {
                padding-left: 10px;
                font-size: 20px;
                @extend .jjmj;
                color: $kc;
                border-left: 3px solid $kc;
            }
        }
        p {
            font-size: 12px;
            line-height: 22px;
            & + p {
                margin-top: 20px;
            }
        }
        @media (min-width: $sm) {
            .section-head {
                h3 {
                    padding-left: 15px;
                    font-size: 25px;
                }
            }
            p {
                font-size: 13px;
            }
        }
        @media (min-width: $lg) {
        }
    }

    .natural {
        .explain {
            .figure {
                .img-responsive {
                    margin: 0 auto 20px;
                }
            }
        }
        .kind {
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #f7f7f7;
            > div {
                padding-top: 20px;
                padding-bottom: 20px;
                & + div {
                    border-top: 1px solid #dfdfdf;
                }
            }
            h5 {
                margin-bottom: 15px;
                font-size: 14px;
                &:before {
                    margin-right: 5px;
                    content: '\2022';
                    color: $kc;
                }
            }
            .kind-item {
                & + .kind-item {
                    margin-top: 20px;
                }
                h6 {
                    margin-bottom: 5px;
                    font-size: 12px;
                    color: $kc;
                    span {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: $kc;
                        color: #fff;
                        font-size: 10px;
                        line-height: 16px;
                        text-align: center;
                        vertical-align: middle;
                    }
                    & ~ p {
                        margin-left: 20px;
                    }
                }
                .figure {
                    margin-bottom: 10px;
                    .img-responsive {
                        margin: 0 auto;
                        border: 1px solid #dfdfdf;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            .kind {
                padding: 10px 30px;
                .kind-item {
                    h6 {
                        font-size: 13px;
                    }
                    .figure {
                        margin-bottom: 0;
                        .img-responsive {
                            margin: inherit;
                        }
                    }
                }
            }
        }
        @media (min-width: $lg) {
            .kind {
                margin-top: 80px;
            }
        }
    }

    .imitation {
        .explain {
            .figure {
                margin-bottom: 10px;
                .img-responsive {
                    margin: 0 auto;
                    border: 1px solid #dfdfdf;
                }
            }
        }
        .manager {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #dfdfdf;
            h5 {
                margin-bottom: 5px;
                color: $kc;
                font-size: 12px;
                &:before {
                    margin-right: 5px;
                    font-family: 'fontello';
                    content: '\E805';
                }
                & ~ p {
                    margin-left: 15px;
                }
            }
        }
        @media (min-width: $sm) {
            .explain {
                .figure {
                    .img-responsive {
                        margin: inherit;
                    }
                }
            }
            .manager {
                h5 {
                    font-size: 13px;
                }
            }
        }
    }

    .values {
        .table {
            border-top: 2px solid $kc;
            th {
                width: 100px;
            }
            td {
                text-align: left;
                p {
                    color: #222;
                }
                i {
                    font-style: normal;
                    color: #666;
                    font-size: .9em;
                }
            }
        }
    }
}

// 진주정보
.information.artist {
    .page-header {
        margin-bottom: 20px;
    }
    .tabs {
        margin-top: 40px;
        margin-bottom: 60px;
        ul {
            margin-top: -5px;
            li {
                padding: 5px;
                width: 50%;
                a, span {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 35px;
                    line-height: 33px;
                }
            }
        }
        @media (min-width: $sm) {
            ul {
                margin-left: -5px;
                margin-right: -5px;
                li {
                    a, span {
                        height: 40px;
                        line-height: 38px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            margin-top: 100px;
            margin-bottom: 110px;
            padding-left: 0;
            padding-right: 0;
            ul {
                margin-top: -10px;
                margin-bottom: -10px;
                margin-left: -15px;
                margin-right: -15px;
                li {
                    padding: 10px 15px;
                }
            }
        }
    }
    .section-content {
        position: relative;
        & + .section-content {
            margin-top: 60px;
        }
        .btn-direct {
            margin-bottom: 20px;
        }
        .section-body {
            padding: 20px;
            border: 1px solid #dfdfdf;
            > div {
                padding-top: 25px;
                padding-bottom: 20px;
                font-size: 12px;
                lien-height: 20px;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                & + div {
                    border-top: 1px solid #dfdfdf;
                }
                h5 {
                    margin-bottom: 10px;
                    color: $kc;
                }
                &.career {
                    ul {
                        li {
                            color: #222;
                        }
                    }
                }
                &.education {
                    dl {
                        dt, dd {
                            margin-bottom: 5px;
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: 300;
                        }
                        dt {
                            float: left;
                        }
                        dd {
                            margin-left: 40px;
                        }
                    }
                }
                &.history {
                    ul {
                        li {
                            margin-bottom: 5px;
                            &:before {
                                margin-right: 10px;
                                content: '\2022';
                                color: $kc;
                            }
                        }
                    }
                }
                &.works {
                    padding-top: 0;
                    border-top: 0;
                    img {
                        width: 100%;
                        border: 1px solid #dfdfdf;
                    }
                    ul {
                        li + li {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        @media (min-width: $sm) {
            & + .section-content {
                margin-top: 80px;
            }
            .btn-direct {
                position: absolute;
                top: -7px;
                right: 0;
                margin-bottom: 0;
            }
            .section-body {
                padding: 30px;
                > div {
                    font-size: 13px;
                    lien-height: 22px;
                    &.education {
                        dl {
                            dt, dd {
                                font-size: 13px;
                                line-height: 22px;
                            }
                        }
                    }
                    &.history {
                        ul {
                            overflow: hidden;
                            li {
                                float: left;
                                width: 50%;
                                &:nth-of-type(even) {
                                    padding-left: 15px;
                                }
                            }
                        }
                    }
                    &.works {
                        ul {
                            li + li {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: $lg) {
            & + .section-content {
                margin-top: 100px;
            }
            .btn-direct {
                width: 170px;
            }
            .section-body {
                padding: 40px;
            }
        }
    }
}
