@import 'common';
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

.crimson {
    font-family: 'Crimson Text', serif;
}

#make-yours {
    position: relative;
    height: 130px;
    //height: 280px;
    background-color: #fff;
    transition: height .3s;
    @media (min-width: $sm) {
        height: 160px;
    }
    @media (min-width: $lg) {
        height: 280px;
    }
    header {
        height: 130px;
        text-align: center;
        h2 {
            margin-top: 25px;
            margin-bottom: 15px;
            @extend .jjmj;
            font-size: 25px;
            font-weight: 500;
            letter-spacing: -2px;
        }
        P {
            @extend .font-13;
        }
        @media (min-width: $sm) {
            height: 160px;
            h2 {
                margin-top: 40px;
                font-size: 35px;
            }
        }
        @media (min-width: $lg) {
            text-align: left;
            h2 {
                margin-top: 58px;
                margin-bottom: 25px;
                font-size: 45px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .combine {
        overflow: hidden;
        position: relative;
        height: 0;
        text-align: center;
        transition: height .3s;
        ol {
            overflow: hidden;
            li {
                position: relative;
                float: left;
                width: 20%;
                height: 150px;
                a {
                    display: block;
                    padding-top: 90px;
                    width: 100%;
                    height: 100%;
                }
                &.plus, &.equal {
                    background-repeat: no-repeat;
                }
                &.plus {
                    background-image: url(/assets/images/main/ico_combine_plus_xs.png);
                    background-position: 50% 38px;
                }
                &.equal {
                    background-image: url(/assets/images/main/ico_combine_equal_xs.png);
                    background-position: 50% 43px;
                }
                &.ring {
                    padding-top: 90px;
                    background-image: url(/assets/images/main/img_combine_ring.png);
                    background-repeat: no-repeat;
                    background-size: 57px auto;
                    background-position: 50% 13px;
                }
                &.dia {
                    a {
                        background-image: url(/assets/images/main/img_combine_dia.png);
                        background-repeat: no-repeat;
                        background-size: 50px auto;
                        background-position: 50% 25px;
                        &:hover,
                        &:focus {
                            background-image: url(/assets/images/main/img_combine_dia_on.png);
                            background-size: 55px auto;
                            background-position: 50% 21px;
                        }
                    }
                }
                &.design {
                    a {
                        background-image: url(/assets/images/main/img_combine_design.png);
                        background-repeat: no-repeat;
                        background-size: 57px auto;
                        background-position: 50% 13px;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            ol {
                li {
                    height: 190px;
                    font-size: 14px;
                    a {
                        padding-top: 135px;
                    }
                    &.plus {
                        background-image: url(/assets/images/main/ico_combine_plus.png);
                        background-position: 50% 48px;
                    }
                    &.equal {
                        background-image: url(/assets/images/main/ico_combine_equal.png);
                        background-position: 50% 55px;
                    }
                    &.ring {
                        padding-top: 135px;
                        background-size: 98px auto;
                        background-position: 50% 4px;
                    }
                    &.dia {
                        a {
                            background-image: url(/assets/images/main/img_combine_dia.png);
                            background-size: 82px auto;
                            background-position: 50% 25px;
                            &:hover,
                            &:focus {
                                background-image: url(/assets/images/main/img_combine_dia_on.png);
                                background-size: 90px auto;
                                background-position: 50% 21px;
                            }
                        }
                    }
                    &.design {
                        a {
                            background-image: url(/assets/images/main/img_combine_design.png);
                            background-size: 98px auto;
                            background-position: 50% 6px;
                        }
                    }
                }
            }
        }
        @media (min-width: $lg) {
            height: 280px;
            ol {
                li {
                    height: 280px;
                    font-size: 16px;
                    font-weight: 400;
                    a {
                        padding-top: 202px;
                    }
                    &.ring {
                        padding-top: 202px;
                        background-size: 104px auto;
                        background-position: 50% 52px;
                    }
                    &.plus {
                        background-position: 50% 98px;
                    }
                    &.equal {
                        background-position: 50% 107px;
                    }
                    &.dia {
                        a {
                            background-size: 82px auto;
                            background-position: 50% 75px;
                            &:hover,
                            &:focus {
                                background-image: url(/assets/images/main/img_combine_dia_on.png);
                                background-position: 50% 71px;
                            }
                        }
                    }
                    &.design {
                        a {
                            background-size: 102px auto;
                            background-position: 50% 54px;
                        }
                    }
                }
            }
        }
    }
    .btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
        width: 41px;
        height: 20px;
        background-image: url(/assets/images/main/bg_combine_open.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-color: transparent;
        border: 0;
        color: $kc;
        line-height: 20px;
        span {
            top: -5px;
        }
        @media (min-width: $lg) {
            display: none;
        }
    }
    &.opened {
        height: 280px;
        .combine {
            height: 150px;
        }
        @media (min-width: $sm) {
            height: 350px;
            .combine {
                height: 190px;
            }
        }
        @media (min-width: $lg) {
            height: 280px;
            .combine {
                height: 280px;
            }
        }
    }
}

#content > .visual {
    img {
        width: 100%;
        margin: 0 auto;
    }
    @media (min-width: $lg) {
        height: 600px;
        background-image: url(/assets/images/main/img_visual.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}

#find-for {
    border-bottom: 1px solid #ededed;
    section {
        padding-top: 30px;
        padding-bottom: 40px;
        header {
            text-align: center;
            h3 {
                margin-bottom: 10px;
                @extend .crimson;
                font-size: 26px;
                line-height: 30px;
                color: $kc;
                letter-spacing: -1px;
                word-spacing: 3px;
                small {
                    @extend .lato;
                    font-size: 13px;
                    color: #222;
                }
            }
            p {
                font-size: 13px;
            }
        }
        @media (min-width: $sm) {
            padding-top: 55px;
            padding-bottom: 60px;
            header {
                h3 {
                    margin-bottom: 20px;
                    font-size: 35px;
                    line-height: 40px;
                    letter-spacing: 0;
                    small {
                        font-size: 14px;
                    }
                }
                p {
                    font-size: 14px;
                }
            }
        }
        @media (min-width: $lg) {
            padding-top: 45px;
            padding-bottom: 0;
            height: 595px;
            header {
                h3 {
                    margin-bottom: 10px;
                    font-size: 45px;
                    line-height: 50px;
                    letter-spacing: 0;
                    small {
                        font-size: 16px;
                    }
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .dia {
        background-color: #f7f7f7;
        ul {
            overflow: hidden;
            margin-top: 25px;
            li {
                float: left;
                margin-bottom: 25px;
                width: 25%;
                a {
                    display: block;
                    padding-top: 50px;
                    height: 70px;
                    text-align: center;
                    @extend .lato;
                    font-weight: 400;
                    font-size: 11px;
                    background-repeat: no-repeat;
                    background-position: 50% 0;
                    background-size: 50px auto;
                    text-decoration: none;
                    .ko {
                        display: none;
                        color: $red;
                        font-weight: 600;
                    }
                }
                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i}) {
                        a {
                            background-image: url(/assets/images/main/img_dia_real_#{$i}.jpg);
                            &:hover,
                            &:focus {
                                background-image: url(/assets/images/main/img_dia_line_#{$i}.jpg);
                                .en {
                                    display: none;
                                }
                                .ko {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn {
            display: block;
            margin: 0 auto;
            width: 160px;
        }
        @media (min-width: $sm) {
            ul {
                margin-top: 50px;
                li {
                    margin-bottom: 40px;
                    width: 20%;
                    a {
                        padding-top: 80px;
                        height: 100px;
                        font-size: 12px;
                        background-size: 70px auto;
                    }
                }
            }
            .btn {
                width: 230px;
                font-size: 13px;
            }
        }
        @media (min-width: $lg) {
            ul {
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
            }
        }
    }
    .jewelry {
        ul {
            margin-top: 30px;
            li {
                text-align: center;
                p {
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .btn {
                    width: 90px;
                }
            }
        }
        @media (min-width: $sm) {
            ul {
                margin-top: 45px;
                li {
                    .btn {
                        width: 166px;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            section {
                padding-bottom: 105px;
                ul {
                    margin-top: 70px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 640px;
                    li {
                        .btn {
                            width: 172px;
                        }
                    }
                }
            }
        }

    }
    @media (min-width: $lg) {
        .row {
            > div {
                -webkit-transition: box-shadow .3s;
                transition: box-shadow .3s;
                &:hover,
                &:focus {
                    box-shadow: 0 0 30px #ccc;
                }
            }
        }
    }
}

#fancy-dia {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    @media (min-width: $sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    header {
        text-align: center;
        h3 {
            margin-bottom: 10px;
            @extend .crimson;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: -1px;
            word-spacing: 3px;
            color: #222;
            small {
                @extend .lato;
                font-size: 13px;
                color: $kc;
                font-weight: bold;
            }
        }
        p {
            font-size: 13px;
            line-height: 18px;
        }
        @media (min-width: $sm) {
            h3 {
                font-size: 35px;
                line-height: 40px;
                small {
                    font-size: 14px;
                }
            }
            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
        @media (min-width: $lg) {
            h3 {
                margin-bottom: 25px;
                font-size: 45px;
                line-height: 50px;
                small {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: -1px;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
    .preview {
        position: relative;
        margin-top: 50px;
        height: 130px;
        background-image: url(/assets/images/main/bg_fancy_figure.png);
        background-repeat: no-repeat;
        background-position: 50% 35px;
        background-size: 100% auto;
        .shadow {
            position: absolute;
            top: 36px;
            left: 50%;
            margin-left: -144px;
            width: 280px;
            img {
                width: 100%;
            }
        }
        .ring {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            margin-left: -115px;
            width: 230px;
            img {
                display: block;
                width: 100%;
            }
        }
        @media (min-width: $sm) {
            margin-top: 95px;
            height: 200px;
            background-position: 50% 50px;
            .shadow {
                top: 58px;
                margin-left: -235px;
                width: 460px;
            }
            .ring {
                left: 50%;
                margin-left: -190px;
                width: 380px;
            }
        }
        @media (min-width: $lg) {
            height: 230px;
        }
    }
    ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
        li {
            a {
                display: block;
                margin-bottom: 20px;
                font-size: 12px;
                line-height: 22px;
                @extend .lato;
                font-weight: normal;
                text-decoration: none;
                p {
                    display: inline-block;
                    margin-right: 5px;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    vertical-align: bottom;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                &:hover,
                &:focus {
                    p {
                        img {
                            display: none;
                        }
                    }
                    span {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
                @media (min-width: $sm) {
                    font-size: 16px;
                    letter-spacing: -1px;
                    font-weight: 300;
                    p {
                        margin-right: 10px;
                        width: 26px;
                        height: 26px;
                    }
                }
                @media (min-width: $lg) {
                    margin-bottom: 40px;
                }
            }
            &.active {
                a {
                    p {
                        img {
                            display: none;
                        }
                    }
                    span {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
            &.yellow {
                &.active {
                    a {
                        p {
                            background-color: yellow;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: yellow;
                        }
                    }
                }
            }
            &.pink {
                &.active {
                    a {
                        p {
                            background-color: pink;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: pink;
                        }
                    }
                }
            }
            &.violet {
                &.active {
                    a {
                        p {
                            background-color: violet;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: violet;
                        }
                    }
                }
            }
            &.red {
                &.active {
                    a {
                        p {
                            background-color: red;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: red;
                        }
                    }
                }
            }
            &.blue {
                &.active {
                    a {
                        p {
                            background-color: blue;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: blue;
                        }
                    }
                }
            }
            &.green {
                &.active {
                    a {
                        p {
                            background-color: green;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: green;
                        }
                    }
                }
            }
            &.orange {
                &.active {
                    a {
                        p {
                            background-color: orange;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: orange;
                        }
                    }
                }
            }
            &.brown {
                &.active {
                    a {
                        p {
                            background-color: brown;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: brown;
                        }
                    }
                }
            }
            &.black {
                &.active {
                    a {
                        p {
                            background-color: black;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: black;
                        }
                    }
                }
            }
            &.gray {
                &.active {
                    a {
                        p {
                            background-color: gray;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        p {
                            background-color: gray;
                        }
                    }
                }
            }
        }
        @media (min-width: $sm) {
            max-width: none;
        }
    }
}

#day-delivery {
    padding-top: 35px;
    padding-bottom: 35px;
    background: -webkit-repeating-linear-gradient(#f8f8f8 0%, #fff 300px, #fff 100%);
    background: -o-repeating-linear-gradient(#f8f8f8 0%, #fff 300px, #fff 100%);
    background: -moz-repeating-linear-gradient(#f8f8f8 0%, #fff 300px), #fff 100%;
    background: repeating-linear-gradient(#f8f8f8 0%, #fff 300px, #fff 100%);
    background-repeat: no-repeat;
    @media (min-width: $sm) {
        padding-top: 35px;
        padding-bottom: 55px;
    }
    @media (min-width: $lg) {
        padding-top: 75px;
        padding-bottom: 85px;
    }
    header {
        margin-bottom: 10px;
        text-align: center;
        h3 {
            font-size: 26px;
            @extend .crimson;
            margin-bottom: 10px;
            letter-spacing: -1px;
            small {
                font-size: 13px;
                @extend .noto;
                color: $kc;
            }
        }
        p {
            font-size: 13px;
            line-height: 18px;
        }
        @media (min-width: $sm) {
            margin-bottom: 40px;
            h3 {
                font-size: 35px;
                line-height: 40px;
                small {
                    font-size: 14px;
                }
            }
            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
        @media (min-width: $lg) {
            margin-bottom: 80px;
            h3 {
                margin-bottom: 25px;
                font-size: 45px;
                line-height: 50px;
                small {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: -1px;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
    .delivery-list {
        position: relative;
        a {
            text-decoration: none;
            @extend .font-13;
            figure {
                > img {
                    margin: 0 auto 15px;
                }
                > figcaption {
                    text-align: center;
                    h5 {
                        @extend .font-13;
                    }
                    .appraisal {
                        color: #aaa;
                    }
                    .price {
                        margin-top: 5px;
                        color: $purple;
                        font-weight: 400;
                    }
                }
            }
            &:hover,
            &:focus {
            }
            @media (min-width: $sm) {
                figure {
                    > img {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .bx-wrapper {
            .bx-controls {
                .bx-controls-direction {
                    a {
                        position: absolute;
                        top: 50%;
                        margin-top: -50px;
                        img {
                            width: 24px;
                            height: 45px;
                        }
                        &.bx-prev {
                            left: 0;
                        }
                        &.bx-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

#events {
    margin-bottom: 10px;
    @media (min-width: $sm) {
        margin-bottom: 20px;
    }
    @media (min-width: $lg) {
        margin-bottom: 100px;
    }
    img {
        width: 100%;
    }
    .bx-wrapper {
        position: relative;
        .bx-controls {
            position: absolute;
            top: 20px;
            right: 20px;
            .bx-pager {
                .bx-pager-item {
                    overflow: hidden;
                    float: left;
                    margin-left: 8px;
                    width: 18px;
                    height: 4px;
                    .bx-pager-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-indent: -999em;
                        background-color: #ccc;
                        &.active {
                            background-color: $kc;
                        }
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

#propose {
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-image: url(/assets/images/main/bg_artist_collection.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    h4 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 26px;
        line-height: 30px;
        @extend .crimson;
        small {
            font-size: 13px;
            @extend .lato;
            color: #222;
            font-weight: 300;
        }
    }
    p {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 18px;
    }
    .btn {
        width: 160px;
        color: #fff;
        font-size: 13px;
        background-color: $kc;
        border-color: $kc;
    }
    @media (min-width: $sm) {
        margin-bottom: 20px;
        h4 {
            margin-bottom: 20px;
            font-size: 35px;
            line-height: 35px;
            small {
                font-size: 14px;
            }
        }
        p {
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 20px;
        }
        .btn {
            width: 190px;
        }
    }
    @media (min-width: $lg) {
        margin-bottom: 100px;
        padding-top: 70px;
        height: 400px;
        h4 {
            margin-bottom: 20px;
            font-size: 45px;
            line-height: 45px;
            small {
                font-size: 16px;
            }
        }
        p {
            margin-bottom: 80px;
        }
        .btn {
            width: 190px;
        }
    }
}

#content > .shortcuts {
    border-top: 1px solid #dfdfdf;
    .container-fluid {
        max-width: 1920px;
    }
    ul {
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 20px;
        li {
            float: left;
            width: 50%;
            a {
                position: relative;
                display: block;
                padding-top: 75px;
                padding-bottom: 20px;
                width: 100%;
                height: 110px;
                text-align: center;
                background-repeat: no-repeat;
                background-position: 50% 20px;
                h5 {
                    font-weight: normal;
                    font-size: 13px;
                }
                p, .btn {
                    display: none;
                }
            }
            &:nth-of-type(1) {
                a {
                    background-image: url(/assets/images/main/ico_shortcut_dia.png);
                    background-size: auto 46px;
                }
            }
            &:nth-of-type(2) {
                a {
                    background-image: url(/assets/images/main/ico_shortcut_notebook.png);
                    background-size: auto 40px;
                    background-position-y: 23px;
                }
            }
            &:nth-of-type(3) {
                a {
                    background-image: url(/assets/images/main/ico_shortcut_bd.png);
                    background-size: auto 45px;
                }
            }
            &:nth-of-type(4) {
                a {
                    background-image: url(/assets/images/main/ico_shortcut_mic.png);
                    background-size: auto 46px;
                }
            }
        }
        @media (min-width: $sm) {
            padding-top: 40px;
            padding-bottom: 35px;
            li {
                width: 25%;
                a {
                    padding-top: 80px;
                    height: 100px;
                    background-position: 50% 0;
                    h5 {
                        font-size: 14px;
                    }
                }
                &:nth-of-type(1) {
                    a {
                        background-size: auto;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        background-size: auto;
                        background-position: 50% 4px;
                    }
                }
                &:nth-of-type(3) {
                    a {
                        background-size: auto;
                    }
                }
                &:nth-of-type(4) {
                    a {
                        background-size: auto;
                    }
                }
            }
        }
        @media (min-width: $lg) {
            padding-top: 60px;
            padding-bottom: 60px;
            li {
                a {
                    padding-top: 90px;
                    padding-bottom: 0;
                    height: 230px;
                    background-position: 50% 0;
                    text-decoration: none;
                    div {
                        border-left: 1px solid #dfdfdf;
                    }
                    h5 {
                        margin-bottom: 15px;
                        font-size: 16px;
                    }
                    p {
                        display: block;
                        margin-bottom: 25px;
                        font-size: 14px;
                    }
                    .btn {
                        display: block;
                        margin: 0 auto;
                        width: 170px;
                        font-size: 14px;
                    }
                }
                &:nth-of-type(1) {
                    a {
                        background-size: auto;
                        div {
                            border-left: 0;
                        }
                    }
                }
                &:nth-of-type(2) {
                    a {
                        background-size: auto;
                        background-position: 50% 4px;
                    }
                }
                &:nth-of-type(3) {
                    a {
                        background-size: auto;
                    }
                }
                &:nth-of-type(4) {
                    a {
                        background-size: auto;
                    }
                }
            }
        }
    }
}
