@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
.lato, #find-for section header h3 small, #find-for .dia ul li a, #fancy-dia header h3 small, #fancy-dia ul li a, #propose h4 small {
  font-family: 'Lato', sans-serif; }

.jjmj, #make-yours header h2 {
  font-family: 'Jeju Myeongjo', serif; }

.noto, #day-delivery header h3 small {
  font-family: 'Noto Sans KR', sans-serif; }

.font-12 {
  font-size: 12px;
  line-height: 18px; }

.font-13, #make-yours header P, #day-delivery .delivery-list a, #day-delivery .delivery-list a figure > figcaption h5 {
  font-size: 13px;
  line-height: 20px; }

.font-14 {
  font-size: 14px;
  line-height: 22px; }

.crimson, #find-for section header h3, #fancy-dia header h3, #day-delivery header h3, #propose h4 {
  font-family: 'Crimson Text', serif; }

#make-yours {
  position: relative;
  height: 130px;
  background-color: #fff;
  transition: height .3s; }
  @media (min-width: 768px) {
    #make-yours {
      height: 160px; } }
  @media (min-width: 1230px) {
    #make-yours {
      height: 280px; } }
  #make-yours header {
    height: 130px;
    text-align: center; }
    #make-yours header h2 {
      margin-top: 25px;
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: 500;
      letter-spacing: -2px; }
    @media (min-width: 768px) {
      #make-yours header {
        height: 160px; }
        #make-yours header h2 {
          margin-top: 40px;
          font-size: 35px; } }
    @media (min-width: 1230px) {
      #make-yours header {
        text-align: left; }
        #make-yours header h2 {
          margin-top: 58px;
          margin-bottom: 25px;
          font-size: 45px; }
        #make-yours header p {
          font-size: 14px; } }
  #make-yours .combine {
    overflow: hidden;
    position: relative;
    height: 0;
    text-align: center;
    transition: height .3s; }
    #make-yours .combine ol {
      overflow: hidden; }
      #make-yours .combine ol li {
        position: relative;
        float: left;
        width: 20%;
        height: 150px; }
        #make-yours .combine ol li a {
          display: block;
          padding-top: 90px;
          width: 100%;
          height: 100%; }
        #make-yours .combine ol li.plus, #make-yours .combine ol li.equal {
          background-repeat: no-repeat; }
        #make-yours .combine ol li.plus {
          background-image: url(/assets/images/main/ico_combine_plus_xs.png);
          background-position: 50% 38px; }
        #make-yours .combine ol li.equal {
          background-image: url(/assets/images/main/ico_combine_equal_xs.png);
          background-position: 50% 43px; }
        #make-yours .combine ol li.ring {
          padding-top: 90px;
          background-image: url(/assets/images/main/img_combine_ring.png);
          background-repeat: no-repeat;
          background-size: 57px auto;
          background-position: 50% 13px; }
        #make-yours .combine ol li.dia a {
          background-image: url(/assets/images/main/img_combine_dia.png);
          background-repeat: no-repeat;
          background-size: 50px auto;
          background-position: 50% 25px; }
          #make-yours .combine ol li.dia a:hover, #make-yours .combine ol li.dia a:focus {
            background-image: url(/assets/images/main/img_combine_dia_on.png);
            background-size: 55px auto;
            background-position: 50% 21px; }
        #make-yours .combine ol li.design a {
          background-image: url(/assets/images/main/img_combine_design.png);
          background-repeat: no-repeat;
          background-size: 57px auto;
          background-position: 50% 13px; }
    @media (min-width: 768px) {
      #make-yours .combine ol li {
        height: 190px;
        font-size: 14px; }
        #make-yours .combine ol li a {
          padding-top: 135px; }
        #make-yours .combine ol li.plus {
          background-image: url(/assets/images/main/ico_combine_plus.png);
          background-position: 50% 48px; }
        #make-yours .combine ol li.equal {
          background-image: url(/assets/images/main/ico_combine_equal.png);
          background-position: 50% 55px; }
        #make-yours .combine ol li.ring {
          padding-top: 135px;
          background-size: 98px auto;
          background-position: 50% 4px; }
        #make-yours .combine ol li.dia a {
          background-image: url(/assets/images/main/img_combine_dia.png);
          background-size: 82px auto;
          background-position: 50% 25px; }
          #make-yours .combine ol li.dia a:hover, #make-yours .combine ol li.dia a:focus {
            background-image: url(/assets/images/main/img_combine_dia_on.png);
            background-size: 90px auto;
            background-position: 50% 21px; }
        #make-yours .combine ol li.design a {
          background-image: url(/assets/images/main/img_combine_design.png);
          background-size: 98px auto;
          background-position: 50% 6px; } }
    @media (min-width: 1230px) {
      #make-yours .combine {
        height: 280px; }
        #make-yours .combine ol li {
          height: 280px;
          font-size: 16px;
          font-weight: 400; }
          #make-yours .combine ol li a {
            padding-top: 202px; }
          #make-yours .combine ol li.ring {
            padding-top: 202px;
            background-size: 104px auto;
            background-position: 50% 52px; }
          #make-yours .combine ol li.plus {
            background-position: 50% 98px; }
          #make-yours .combine ol li.equal {
            background-position: 50% 107px; }
          #make-yours .combine ol li.dia a {
            background-size: 82px auto;
            background-position: 50% 75px; }
            #make-yours .combine ol li.dia a:hover, #make-yours .combine ol li.dia a:focus {
              background-image: url(/assets/images/main/img_combine_dia_on.png);
              background-position: 50% 71px; }
          #make-yours .combine ol li.design a {
            background-size: 102px auto;
            background-position: 50% 54px; } }
  #make-yours .btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    width: 41px;
    height: 20px;
    background-image: url(/assets/images/main/bg_combine_open.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: transparent;
    border: 0;
    color: #080d68;
    line-height: 20px; }
    #make-yours .btn span {
      top: -5px; }
    @media (min-width: 1230px) {
      #make-yours .btn {
        display: none; } }
  #make-yours.opened {
    height: 280px; }
    #make-yours.opened .combine {
      height: 150px; }
    @media (min-width: 768px) {
      #make-yours.opened {
        height: 350px; }
        #make-yours.opened .combine {
          height: 190px; } }
    @media (min-width: 1230px) {
      #make-yours.opened {
        height: 280px; }
        #make-yours.opened .combine {
          height: 280px; } }

#content > .visual {
  height: 255px;
  background-image: url(/assets/images/main/img_visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  @media (min-width: 768px) {
    #content > .visual {
      height: 380px; } }
  @media (min-width: 1230px) {
    #content > .visual {
      height: 600px; } }

#find-for {
  border-bottom: 1px solid #ededed; }
  #find-for section {
    padding-top: 30px;
    padding-bottom: 40px; }
    #find-for section header {
      text-align: center; }
      #find-for section header h3 {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 30px;
        color: #080d68;
        letter-spacing: -1px;
        word-spacing: 3px; }
        #find-for section header h3 small {
          font-size: 13px;
          color: #222; }
      #find-for section header p {
        font-size: 13px; }
    @media (min-width: 768px) {
      #find-for section {
        padding-top: 55px;
        padding-bottom: 60px; }
        #find-for section header h3 {
          margin-bottom: 20px;
          font-size: 35px;
          line-height: 40px;
          letter-spacing: 0; }
          #find-for section header h3 small {
            font-size: 14px; }
        #find-for section header p {
          font-size: 14px; } }
    @media (min-width: 1230px) {
      #find-for section {
        padding-top: 45px;
        padding-bottom: 0;
        height: 595px; }
        #find-for section header h3 {
          margin-bottom: 10px;
          font-size: 45px;
          line-height: 50px;
          letter-spacing: 0; }
          #find-for section header h3 small {
            font-size: 16px; }
        #find-for section header p {
          font-size: 14px; } }
  #find-for .dia {
    background-color: #f7f7f7; }
    #find-for .dia ul {
      overflow: hidden;
      margin-top: 25px; }
      #find-for .dia ul li {
        float: left;
        margin-bottom: 25px;
        width: 25%; }
        #find-for .dia ul li a {
          display: block;
          padding-top: 50px;
          height: 70px;
          text-align: center;
          font-weight: 400;
          font-size: 11px;
          background-repeat: no-repeat;
          background-position: 50% 0;
          background-size: 50px auto;
          text-decoration: none; }
          #find-for .dia ul li a .ko {
            display: none;
            color: #eb2127;
            font-weight: 600; }
        #find-for .dia ul li:nth-of-type(1) a {
          background-image: url(/assets/images/main/img_dia_real_1.jpg); }
          #find-for .dia ul li:nth-of-type(1) a:hover, #find-for .dia ul li:nth-of-type(1) a:focus {
            background-image: url(/assets/images/main/img_dia_line_1.jpg); }
            #find-for .dia ul li:nth-of-type(1) a:hover .en, #find-for .dia ul li:nth-of-type(1) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(1) a:hover .ko, #find-for .dia ul li:nth-of-type(1) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(2) a {
          background-image: url(/assets/images/main/img_dia_real_2.jpg); }
          #find-for .dia ul li:nth-of-type(2) a:hover, #find-for .dia ul li:nth-of-type(2) a:focus {
            background-image: url(/assets/images/main/img_dia_line_2.jpg); }
            #find-for .dia ul li:nth-of-type(2) a:hover .en, #find-for .dia ul li:nth-of-type(2) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(2) a:hover .ko, #find-for .dia ul li:nth-of-type(2) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(3) a {
          background-image: url(/assets/images/main/img_dia_real_3.jpg); }
          #find-for .dia ul li:nth-of-type(3) a:hover, #find-for .dia ul li:nth-of-type(3) a:focus {
            background-image: url(/assets/images/main/img_dia_line_3.jpg); }
            #find-for .dia ul li:nth-of-type(3) a:hover .en, #find-for .dia ul li:nth-of-type(3) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(3) a:hover .ko, #find-for .dia ul li:nth-of-type(3) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(4) a {
          background-image: url(/assets/images/main/img_dia_real_4.jpg); }
          #find-for .dia ul li:nth-of-type(4) a:hover, #find-for .dia ul li:nth-of-type(4) a:focus {
            background-image: url(/assets/images/main/img_dia_line_4.jpg); }
            #find-for .dia ul li:nth-of-type(4) a:hover .en, #find-for .dia ul li:nth-of-type(4) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(4) a:hover .ko, #find-for .dia ul li:nth-of-type(4) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(5) a {
          background-image: url(/assets/images/main/img_dia_real_5.jpg); }
          #find-for .dia ul li:nth-of-type(5) a:hover, #find-for .dia ul li:nth-of-type(5) a:focus {
            background-image: url(/assets/images/main/img_dia_line_5.jpg); }
            #find-for .dia ul li:nth-of-type(5) a:hover .en, #find-for .dia ul li:nth-of-type(5) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(5) a:hover .ko, #find-for .dia ul li:nth-of-type(5) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(6) a {
          background-image: url(/assets/images/main/img_dia_real_6.jpg); }
          #find-for .dia ul li:nth-of-type(6) a:hover, #find-for .dia ul li:nth-of-type(6) a:focus {
            background-image: url(/assets/images/main/img_dia_line_6.jpg); }
            #find-for .dia ul li:nth-of-type(6) a:hover .en, #find-for .dia ul li:nth-of-type(6) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(6) a:hover .ko, #find-for .dia ul li:nth-of-type(6) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(7) a {
          background-image: url(/assets/images/main/img_dia_real_7.jpg); }
          #find-for .dia ul li:nth-of-type(7) a:hover, #find-for .dia ul li:nth-of-type(7) a:focus {
            background-image: url(/assets/images/main/img_dia_line_7.jpg); }
            #find-for .dia ul li:nth-of-type(7) a:hover .en, #find-for .dia ul li:nth-of-type(7) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(7) a:hover .ko, #find-for .dia ul li:nth-of-type(7) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(8) a {
          background-image: url(/assets/images/main/img_dia_real_8.jpg); }
          #find-for .dia ul li:nth-of-type(8) a:hover, #find-for .dia ul li:nth-of-type(8) a:focus {
            background-image: url(/assets/images/main/img_dia_line_8.jpg); }
            #find-for .dia ul li:nth-of-type(8) a:hover .en, #find-for .dia ul li:nth-of-type(8) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(8) a:hover .ko, #find-for .dia ul li:nth-of-type(8) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(9) a {
          background-image: url(/assets/images/main/img_dia_real_9.jpg); }
          #find-for .dia ul li:nth-of-type(9) a:hover, #find-for .dia ul li:nth-of-type(9) a:focus {
            background-image: url(/assets/images/main/img_dia_line_9.jpg); }
            #find-for .dia ul li:nth-of-type(9) a:hover .en, #find-for .dia ul li:nth-of-type(9) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(9) a:hover .ko, #find-for .dia ul li:nth-of-type(9) a:focus .ko {
              display: block; }
        #find-for .dia ul li:nth-of-type(10) a {
          background-image: url(/assets/images/main/img_dia_real_10.jpg); }
          #find-for .dia ul li:nth-of-type(10) a:hover, #find-for .dia ul li:nth-of-type(10) a:focus {
            background-image: url(/assets/images/main/img_dia_line_10.jpg); }
            #find-for .dia ul li:nth-of-type(10) a:hover .en, #find-for .dia ul li:nth-of-type(10) a:focus .en {
              display: none; }
            #find-for .dia ul li:nth-of-type(10) a:hover .ko, #find-for .dia ul li:nth-of-type(10) a:focus .ko {
              display: block; }
    #find-for .dia .btn {
      display: block;
      margin: 0 auto;
      width: 160px; }
    @media (min-width: 768px) {
      #find-for .dia ul {
        margin-top: 50px; }
        #find-for .dia ul li {
          margin-bottom: 40px;
          width: 20%; }
          #find-for .dia ul li a {
            padding-top: 80px;
            height: 100px;
            font-size: 12px;
            background-size: 70px auto; }
      #find-for .dia .btn {
        width: 230px;
        font-size: 13px; } }
    @media (min-width: 1230px) {
      #find-for .dia ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px; } }
  #find-for .jewelry ul {
    margin-top: 30px; }
    #find-for .jewelry ul li {
      height: 160px;
      text-align: center; }
      #find-for .jewelry ul li p img {
        display: block;
        margin: 0 auto; }
      #find-for .jewelry ul li .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -45px;
        width: 90px; }
      #find-for .jewelry ul li.ring img {
        margin-top: 10px;
        width: 76px; }
      #find-for .jewelry ul li.necklace img {
        width: 63px; }
      #find-for .jewelry ul li.earring img {
        margin-top: 25px;
        width: 90px; }
  @media (min-width: 768px) {
    #find-for .jewelry ul {
      margin-top: 45px; }
      #find-for .jewelry ul li {
        height: 240px; }
        #find-for .jewelry ul li .btn {
          margin-left: -83px;
          width: 166px; }
        #find-for .jewelry ul li.ring img {
          margin-top: 25px;
          width: 125px; }
        #find-for .jewelry ul li.necklace img {
          width: 106px; }
        #find-for .jewelry ul li.earring img {
          margin-top: 40px;
          width: 168px; } }
  @media (min-width: 1230px) {
    #find-for .jewelry section {
      padding-bottom: 105px; }
      #find-for .jewelry section ul {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        max-width: 640px; }
        #find-for .jewelry section ul li {
          height: 255px; }
          #find-for .jewelry section ul li .btn {
            margin-left: -86px;
            width: 172px; }
          #find-for .jewelry section ul li.ring img {
            margin-top: 25px;
            width: 125px; }
          #find-for .jewelry section ul li.necklace img {
            width: 106px; }
          #find-for .jewelry section ul li.earring img {
            margin-top: 40px;
            width: 168px; } }
  @media (min-width: 1230px) {
    #find-for .row > div {
      -webkit-transition: box-shadow .3s;
      transition: box-shadow .3s; }
      #find-for .row > div:hover, #find-for .row > div:focus {
        box-shadow: 0 0 30px #ccc; } }

#fancy-dia {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    #fancy-dia {
      padding-top: 40px;
      padding-bottom: 40px; } }
  #fancy-dia header {
    text-align: center; }
    #fancy-dia header h3 {
      margin-bottom: 10px;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -1px;
      word-spacing: 3px;
      color: #222; }
      #fancy-dia header h3 small {
        font-size: 13px;
        color: #080d68;
        font-weight: bold; }
    #fancy-dia header p {
      font-size: 13px;
      line-height: 18px; }
    @media (min-width: 768px) {
      #fancy-dia header h3 {
        font-size: 35px;
        line-height: 40px; }
        #fancy-dia header h3 small {
          font-size: 14px; }
      #fancy-dia header p {
        font-size: 14px;
        line-height: 20px; } }
    @media (min-width: 1230px) {
      #fancy-dia header h3 {
        margin-bottom: 25px;
        font-size: 45px;
        line-height: 50px; }
        #fancy-dia header h3 small {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -1px; }
      #fancy-dia header p {
        font-size: 14px; } }
  #fancy-dia .preview {
    position: relative;
    margin-top: 50px;
    height: 130px;
    background-image: url(/assets/images/main/bg_fancy_figure.png);
    background-repeat: no-repeat;
    background-position: 50% 35px;
    background-size: 100% auto; }
    #fancy-dia .preview .shadow {
      position: absolute;
      top: 36px;
      left: 50%;
      margin-left: -144px;
      width: 280px; }
      #fancy-dia .preview .shadow img {
        width: 100%; }
    #fancy-dia .preview .ring {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      margin-left: -115px;
      width: 230px; }
      #fancy-dia .preview .ring img {
        display: block;
        width: 100%; }
    @media (min-width: 768px) {
      #fancy-dia .preview {
        margin-top: 95px;
        height: 200px;
        background-position: 50% 50px; }
        #fancy-dia .preview .shadow {
          top: 58px;
          margin-left: -235px;
          width: 460px; }
        #fancy-dia .preview .ring {
          left: 50%;
          margin-left: -190px;
          width: 380px; } }
    @media (min-width: 1230px) {
      #fancy-dia .preview {
        height: 230px; } }
  #fancy-dia ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px; }
    #fancy-dia ul li a {
      display: block;
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 22px;
      font-weight: normal;
      text-decoration: none; }
      #fancy-dia ul li a p {
        display: inline-block;
        margin-right: 5px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        vertical-align: bottom; }
        #fancy-dia ul li a p img {
          display: block;
          width: 100%; }
      #fancy-dia ul li a:hover p img, #fancy-dia ul li a:focus p img {
        display: none; }
      #fancy-dia ul li a:hover span, #fancy-dia ul li a:focus span {
        text-decoration: underline;
        font-weight: bold; }
      @media (min-width: 768px) {
        #fancy-dia ul li a {
          font-size: 16px;
          letter-spacing: -1px;
          font-weight: 300; }
          #fancy-dia ul li a p {
            margin-right: 10px;
            width: 26px;
            height: 26px; } }
      @media (min-width: 1230px) {
        #fancy-dia ul li a {
          margin-bottom: 40px; } }
    #fancy-dia ul li.active a p img {
      display: none; }
    #fancy-dia ul li.active a span {
      text-decoration: underline;
      font-weight: bold; }
    #fancy-dia ul li.yellow.active a p {
      background-color: yellow; }
    #fancy-dia ul li.yellow a:hover p, #fancy-dia ul li.yellow a:focus p {
      background-color: yellow; }
    #fancy-dia ul li.pink.active a p {
      background-color: pink; }
    #fancy-dia ul li.pink a:hover p, #fancy-dia ul li.pink a:focus p {
      background-color: pink; }
    #fancy-dia ul li.violet.active a p {
      background-color: violet; }
    #fancy-dia ul li.violet a:hover p, #fancy-dia ul li.violet a:focus p {
      background-color: violet; }
    #fancy-dia ul li.red.active a p {
      background-color: red; }
    #fancy-dia ul li.red a:hover p, #fancy-dia ul li.red a:focus p {
      background-color: red; }
    #fancy-dia ul li.blue.active a p {
      background-color: blue; }
    #fancy-dia ul li.blue a:hover p, #fancy-dia ul li.blue a:focus p {
      background-color: blue; }
    #fancy-dia ul li.green.active a p {
      background-color: green; }
    #fancy-dia ul li.green a:hover p, #fancy-dia ul li.green a:focus p {
      background-color: green; }
    #fancy-dia ul li.orange.active a p {
      background-color: orange; }
    #fancy-dia ul li.orange a:hover p, #fancy-dia ul li.orange a:focus p {
      background-color: orange; }
    #fancy-dia ul li.brown.active a p {
      background-color: brown; }
    #fancy-dia ul li.brown a:hover p, #fancy-dia ul li.brown a:focus p {
      background-color: brown; }
    #fancy-dia ul li.black.active a p {
      background-color: black; }
    #fancy-dia ul li.black a:hover p, #fancy-dia ul li.black a:focus p {
      background-color: black; }
    #fancy-dia ul li.gray.active a p {
      background-color: gray; }
    #fancy-dia ul li.gray a:hover p, #fancy-dia ul li.gray a:focus p {
      background-color: gray; }
    @media (min-width: 768px) {
      #fancy-dia ul {
        max-width: none; } }

#day-delivery {
  padding-top: 35px;
  padding-bottom: 35px;
  background: -webkit-repeating-linear-gradient(#f8f8f8 0%, #fff 300px, #fff 100%);
  background: -o-repeating-linear-gradient(#f8f8f8 0%, #fff 300px, #fff 100%);
  background: -moz-repeating-linear-gradient(#f8f8f8 0%, #fff 300px), #fff 100%;
  background: repeating-linear-gradient(#f8f8f8 0%, #fff 300px, #fff 100%);
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    #day-delivery {
      padding-top: 35px;
      padding-bottom: 55px; } }
  @media (min-width: 1230px) {
    #day-delivery {
      padding-top: 75px;
      padding-bottom: 85px; } }
  #day-delivery header {
    margin-bottom: 10px;
    text-align: center; }
    #day-delivery header h3 {
      font-size: 26px;
      margin-bottom: 10px;
      letter-spacing: -1px; }
      #day-delivery header h3 small {
        font-size: 13px;
        color: #080d68; }
    #day-delivery header p {
      font-size: 13px;
      line-height: 18px; }
    @media (min-width: 768px) {
      #day-delivery header {
        margin-bottom: 40px; }
        #day-delivery header h3 {
          font-size: 35px;
          line-height: 40px; }
          #day-delivery header h3 small {
            font-size: 14px; }
        #day-delivery header p {
          font-size: 14px;
          line-height: 20px; } }
    @media (min-width: 1230px) {
      #day-delivery header {
        margin-bottom: 80px; }
        #day-delivery header h3 {
          margin-bottom: 25px;
          font-size: 45px;
          line-height: 50px; }
          #day-delivery header h3 small {
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -1px; }
        #day-delivery header p {
          font-size: 14px; } }
  #day-delivery .delivery-list {
    position: relative; }
    #day-delivery .delivery-list a {
      text-decoration: none; }
      #day-delivery .delivery-list a figure > img {
        margin: 0 auto 15px; }
      #day-delivery .delivery-list a figure > figcaption {
        text-align: center; }
        #day-delivery .delivery-list a figure > figcaption .appraisal {
          color: #aaa; }
        #day-delivery .delivery-list a figure > figcaption .price {
          margin-top: 5px;
          color: #4d437e;
          font-weight: 400; }
      @media (min-width: 768px) {
        #day-delivery .delivery-list a figure > img {
          margin-bottom: 20px; } }
    #day-delivery .delivery-list .bx-wrapper .bx-controls .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -50px; }
      #day-delivery .delivery-list .bx-wrapper .bx-controls .bx-controls-direction a img {
        width: 24px;
        height: 45px; }
      #day-delivery .delivery-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
        left: 0; }
      #day-delivery .delivery-list .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
        right: 0; }

#events {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    #events {
      margin-bottom: 20px; } }
  @media (min-width: 1230px) {
    #events {
      margin-bottom: 100px; } }
  #events img {
    width: 100%; }
  #events .bx-wrapper {
    position: relative; }
    #events .bx-wrapper .bx-controls {
      position: absolute;
      top: 20px;
      right: 20px; }
      #events .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        overflow: hidden;
        float: left;
        margin-left: 8px;
        width: 18px;
        height: 4px; }
        #events .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: -999em;
          background-color: #ccc; }
          #events .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
            background-color: #080d68; }
        #events .bx-wrapper .bx-controls .bx-pager .bx-pager-item:first-child {
          margin-left: 0; }

#propose {
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-image: url(/assets/images/main/bg_artist_collection.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center; }
  #propose h4 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    line-height: 30px; }
    #propose h4 small {
      font-size: 13px;
      color: #222;
      font-weight: 300; }
  #propose p {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 18px; }
  #propose .btn {
    width: 160px;
    background-color: #222;
    color: #fff;
    font-size: 13px; }
    #propose .btn:hover, #propose .btn:focus {
      background-color: #080d68; }
  @media (min-width: 768px) {
    #propose {
      margin-bottom: 20px; }
      #propose h4 {
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 35px; }
        #propose h4 small {
          font-size: 14px; }
      #propose p {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px; }
      #propose .btn {
        width: 190px; } }
  @media (min-width: 1230px) {
    #propose {
      margin-bottom: 100px;
      padding-top: 70px;
      height: 400px; }
      #propose h4 {
        margin-bottom: 20px;
        font-size: 45px;
        line-height: 45px; }
        #propose h4 small {
          font-size: 16px; }
      #propose p {
        margin-bottom: 80px; }
      #propose .btn {
        width: 190px; } }

#content > .shortcuts {
  border-top: 1px solid #dfdfdf; }
  #content > .shortcuts .container-fluid {
    max-width: 1920px; }
  #content > .shortcuts ul {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px; }
    #content > .shortcuts ul li {
      float: left;
      width: 50%; }
      #content > .shortcuts ul li a {
        position: relative;
        display: block;
        padding-top: 75px;
        padding-bottom: 20px;
        width: 100%;
        height: 110px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 50% 20px; }
        #content > .shortcuts ul li a h5 {
          font-weight: normal;
          font-size: 13px; }
        #content > .shortcuts ul li a p, #content > .shortcuts ul li a .btn {
          display: none; }
      #content > .shortcuts ul li:nth-of-type(1) a {
        background-image: url(/assets/images/main/ico_shortcut_dia.png);
        background-size: auto 46px; }
      #content > .shortcuts ul li:nth-of-type(2) a {
        background-image: url(/assets/images/main/ico_shortcut_notebook.png);
        background-size: auto 40px;
        background-position-y: 23px; }
      #content > .shortcuts ul li:nth-of-type(3) a {
        background-image: url(/assets/images/main/ico_shortcut_bd.png);
        background-size: auto 45px; }
      #content > .shortcuts ul li:nth-of-type(4) a {
        background-image: url(/assets/images/main/ico_shortcut_mic.png);
        background-size: auto 46px; }
    @media (min-width: 768px) {
      #content > .shortcuts ul {
        padding-top: 40px;
        padding-bottom: 35px; }
        #content > .shortcuts ul li {
          width: 25%; }
          #content > .shortcuts ul li a {
            padding-top: 80px;
            height: 100px;
            background-position: 50% 0; }
            #content > .shortcuts ul li a h5 {
              font-size: 14px; }
          #content > .shortcuts ul li:nth-of-type(1) a {
            background-size: auto; }
          #content > .shortcuts ul li:nth-of-type(2) a {
            background-size: auto;
            background-position: 50% 4px; }
          #content > .shortcuts ul li:nth-of-type(3) a {
            background-size: auto; }
          #content > .shortcuts ul li:nth-of-type(4) a {
            background-size: auto; } }
    @media (min-width: 1230px) {
      #content > .shortcuts ul {
        padding-top: 60px;
        padding-bottom: 60px; }
        #content > .shortcuts ul li a {
          padding-top: 90px;
          padding-bottom: 0;
          height: 230px;
          background-position: 50% 0;
          text-decoration: none; }
          #content > .shortcuts ul li a div {
            border-left: 1px solid #dfdfdf; }
          #content > .shortcuts ul li a h5 {
            margin-bottom: 15px;
            font-size: 16px; }
          #content > .shortcuts ul li a p {
            display: block;
            margin-bottom: 25px;
            font-size: 14px; }
          #content > .shortcuts ul li a .btn {
            display: block;
            margin: 0 auto;
            width: 170px;
            font-size: 14px; }
        #content > .shortcuts ul li:nth-of-type(1) a {
          background-size: auto; }
          #content > .shortcuts ul li:nth-of-type(1) a div {
            border-left: 0; }
        #content > .shortcuts ul li:nth-of-type(2) a {
          background-size: auto;
          background-position: 50% 4px; }
        #content > .shortcuts ul li:nth-of-type(3) a {
          background-size: auto; }
        #content > .shortcuts ul li:nth-of-type(4) a {
          background-size: auto; } }

/*# sourceMappingURL=main.css.map */
