.lato {
  font-family: 'Lato', sans-serif; }

.jjmj, .page-header h3, .order.done .message h3 {
  font-family: 'Jeju Myeongjo', serif; }

.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.crimson {
  font-family: 'Crimson Text', serif; }

.font-12 {
  font-size: 12px;
  line-height: 18px; }

.font-13 {
  font-size: 13px;
  line-height: 20px; }

.font-14 {
  font-size: 14px;
  line-height: 22px; }

#content {
  padding-top: 70px;
  padding-bottom: 80px; }

.btn {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  width: 100px;
  height: 30px;
  line-height: 28px; }

.page-header {
  margin-top: 0;
  margin-bottom: 45px;
  padding-bottom: 0;
  border-bottom: 0; }
  .page-header h3 {
    font-size: 52px;
    letter-spacing: -1px; }
    .page-header h3 + p {
      margin-top: 20px; }
  .page-header p {
    font-size: 14px; }
  @media (max-width: 1229px) {
    .page-header h3 {
      font-size: 40px; } }
  @media (max-width: 767px) {
    .page-header h3 {
      font-size: 24px; } }

.product-list th.title, .product-list td.title {
  text-align: left !important; }
.product-list td {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  vertical-align: middle !important; }
.product-list tfoot td {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dfdfdf; }
.product-list tfoot .total {
  padding-right: 80px;
  text-align: right;
  font-size: 15px;
  color: #333;
  font-weight: bold; }
.product-list .title h5 {
  margin-bottom: 0 !important;
  font-size: 14px !important;
  line-height: 20px; }
.product-list .title .lap {
  font-size: 13px !important;
  line-height: 20px; }
  .product-list .title .lap + p.status {
    margin-bottom: 20px;
    font-size: 12px;
    color: #080d68; }
.product-list .order-info {
  margin-top: 10px;
  padding: 10px 15px;
  width: 210px;
  background-color: #f5f5f5; }
  .product-list .order-info dt, .product-list .order-info dd {
    font-size: 12px;
    line-height: 16px;
    color: #999; }
  .product-list .order-info dt {
    float: left;
    clear: both; }
  .product-list .order-info dd:before {
    padding-left: 2px;
    padding-right: 2px;
    content: ':'; }
.product-list .price-info {
  overflow: hidden;
  margin: 0 auto;
  max-width: 140px;
  text-align: left; }
  .product-list .price-info dt {
    float: left;
    margin-bottom: 8px;
    width: 31px;
    height: 21px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 11px;
    color: #666; }
  .product-list .price-info dd {
    margin-left: 41px;
    margin-bottom: 8px;
    min-height: 21px;
    color: #666; }
    .product-list .price-info dd:last-child {
      color: #080d68; }
.product-list p.status.shipped {
  font-size: 14px;
  color: #eb2127;
  font-weight: 400; }
  .product-list p.status.shipped:before {
    margin-right: 10px;
    content: url(/assets/images/mypage/ico_gift.png);
    vertical-align: -2px; }
.product-list p.status.exchanged {
  font-size: 14px;
  font-weight: 400;
  color: #2ca223; }
  .product-list p.status.exchanged:before {
    margin-right: 5px;
    content: url(/assets/images/mypage/ico_check_green.png);
    vertical-align: -2px; }
.product-list p.status.exchanging {
  font-size: 14px;
  font-weight: 400;
  color: #2ca223; }
  .product-list p.status.exchanging:before {
    margin-right: 5px;
    content: url(/assets/images/mypage/ico_recycle_green.png);
    vertical-align: -2px; }
.product-list p.status.refunded {
  font-size: 14px;
  font-weight: 400;
  color: #055eb9; }
  .product-list p.status.refunded:before {
    margin-right: 5px;
    content: url(/assets/images/mypage/ico_check_blue.png);
    vertical-align: -2px; }
.product-list p.status.refunding {
  font-size: 14px;
  font-weight: 400;
  color: #055eb9; }
  .product-list p.status.refunding:before {
    margin-right: 5px;
    content: url(/assets/images/mypage/ico_recycle_blue.png);
    vertical-align: -2px; }
.product-list p.status + p.history {
  margin-top: 10px; }
.product-list p.price {
  color: #333;
  font-weight: 400; }
  .product-list p.price s {
    color: rgba(102, 102, 102, 0.5); }
.product-list p.point,
.product-list p.quantity {
  color: #333;
  font-weight: 400; }
.product-list p.nothing {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #333;
  font-weight: 400;
  text-align: center; }
  .product-list p.nothing:before {
    display: block;
    margin: 0 auto 20px;
    content: url(/assets/images/mypage/ico_alert.gif); }
.product-list .btn + .btn {
  margin-top: 10px; }
.product-list .btn.btn-confirm {
  background-color: #666;
  border-color: #666;
  color: #fff; }

#content.order.history .product-list .table {
  margin-bottom: 40px; }
#content.order.history .product-list th:nth-of-type(1), #content.order.history .product-list td:nth-of-type(1) {
  width: 150px; }
#content.order.history .product-list th:nth-of-type(3), #content.order.history .product-list td:nth-of-type(3) {
  width: 300px; }
#content.order.history .product-list th:nth-of-type(4), #content.order.history .product-list td:nth-of-type(4) {
  width: 150px; }
#content.order.history .product-list th:nth-of-type(5), #content.order.history .product-list td:nth-of-type(5) {
  width: 150px; }

.order.view .order-summary {
  margin-bottom: 60px;
  padding: 15px;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 14px;
  font-weight: 400; }
  .order.view .order-summary strong {
    font-style: normal;
    color: #eb2127; }
.order.view .orderer,
.order.view .shipping-info,
.order.view .receipt,
.order.view .order-list,
.order.view .payment {
  margin-bottom: 50px; }
  .order.view .orderer h5,
  .order.view .shipping-info h5,
  .order.view .receipt h5,
  .order.view .order-list h5,
  .order.view .payment h5 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #222; }
.order.view .orderer .table,
.order.view .shipping-info .table,
.order.view .receipt .table {
  border-top: 2px solid #080d68; }
  .order.view .orderer .table th,
  .order.view .shipping-info .table th,
  .order.view .receipt .table th {
    font-size: 14px;
    padding-left: 35px;
    width: 200px; }
  .order.view .orderer .table td,
  .order.view .shipping-info .table td,
  .order.view .receipt .table td {
    padding-left: 20px;
    text-align: left; }
.order.view .order-list th:nth-of-type(3), .order.view .order-list th:nth-of-type(4), .order.view .order-list th:nth-of-type(5), .order.view .order-list td:nth-of-type(3), .order.view .order-list td:nth-of-type(4), .order.view .order-list td:nth-of-type(5) {
  width: 200px; }
.order.view .payment .table {
  table-layout: fixed; }
  .order.view .payment .table td {
    position: relative;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    border-top: 1px solid #dfdfdf;
    vertical-align: middle; }
    .order.view .payment .table td + td {
      border-left: 1px solid #ccc; }
    .order.view .payment .table td:nth-of-type(4) {
      color: #eb2127;
      font-size: 25px;
      font-weight: 400; }
    .order.view .payment .table td span {
      position: absolute;
      top: 40px;
      left: -11px;
      width: 22px;
      height: 22px;
      background-color: #fff; }
      .order.view .payment .table td span.plus {
        content: url(/assets/images/mypage/ico_plus.png); }
      .order.view .payment .table td span.minus {
        content: url(/assets/images/mypage/ico_minus.png); }
      .order.view .payment .table td span.equals {
        content: url(/assets/images/mypage/ico_equals.png); }
.order.view .btn-area .btn {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 48px; }

#content.returns .product-list .table {
  margin-bottom: 40px; }
#content.returns .product-list th:nth-of-type(1), #content.returns .product-list td:nth-of-type(1) {
  width: 150px; }
#content.returns .product-list th:nth-of-type(3), #content.returns .product-list th:nth-of-type(4), #content.returns .product-list th:nth-of-type(5), #content.returns .product-list td:nth-of-type(3), #content.returns .product-list td:nth-of-type(4), #content.returns .product-list td:nth-of-type(5) {
  width: 200px; }

#content.point-history .table {
  margin-bottom: 40px; }
#content.point-history th:nth-of-type(1), #content.point-history td:nth-of-type(1) {
  width: 200px; }
#content.point-history th:nth-of-type(3), #content.point-history td:nth-of-type(3) {
  width: 200px; }
#content.point-history th:nth-of-type(4), #content.point-history td:nth-of-type(4) {
  width: 120px; }
#content.point-history th:nth-of-type(5), #content.point-history td:nth-of-type(5) {
  width: 120px; }
#content.point-history .non-pay {
  color: #eb2127;
  font-weight: 400; }

#content.wish-list .wish-list .btn-area {
  margin-bottom: 15px;
  margin-left: -5px;
  margin-right: -5px; }
  #content.wish-list .wish-list .btn-area > div {
    padding-left: 5px;
    padding-right: 5px; }
    #content.wish-list .wish-list .btn-area > div .btn {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      background-color: #fff;
      border-color: #ccc;
      color: #666; }
      #content.wish-list .wish-list .btn-area > div .btn.btn-select:before {
        margin-right: 5px;
        content: url(/assets/images/mypage/ico_doc_check.png);
        vertical-align: -3px; }
      #content.wish-list .wish-list .btn-area > div .btn.btn-delete:before {
        margin-right: 5px;
        content: url(/assets/images/mypage/ico_trash.png);
        vertical-align: -3px; }
      #content.wish-list .wish-list .btn-area > div .btn.btn-cart:before {
        margin-right: 5px;
        content: url(/assets/images/mypage/ico_cart.png);
        vertical-align: -3px; }
#content.wish-list .wish-list .table {
  margin-bottom: 40px; }
#content.wish-list .wish-list th:nth-of-type(1), #content.wish-list .wish-list td:nth-of-type(1) {
  width: 100px; }
#content.wish-list .wish-list th:nth-of-type(2), #content.wish-list .wish-list td:nth-of-type(2) {
  width: 100px; }
#content.wish-list .wish-list th:nth-of-type(4), #content.wish-list .wish-list th:nth-of-type(5), #content.wish-list .wish-list td:nth-of-type(4), #content.wish-list .wish-list td:nth-of-type(5) {
  width: 200px; }
#content.wish-list .wish-list .btn-details {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0; }
#content.wish-list .wish-list .btn-delete {
  background-color: #666;
  border-color: #666;
  color: #fff; }

.qna .qna-list th:nth-of-type(1), .qna .qna-list td:nth-of-type(1) {
  width: 80px; }
.qna .qna-list th:nth-of-type(3), .qna .qna-list th:nth-of-type(4), .qna .qna-list th:nth-of-type(5), .qna .qna-list td:nth-of-type(3), .qna .qna-list td:nth-of-type(4), .qna .qna-list td:nth-of-type(5) {
  width: 120px; }
.qna .qna-list td.title {
  padding-left: 50px;
  text-align: left; }
.qna .qna-list .btn-area {
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -5px; }
  .qna .qna-list .btn-area > div {
    padding-left: 5px;
    padding-right: 5px; }
    .qna .qna-list .btn-area > div .btn {
      width: 100%;
      height: 30px; }
      .qna .qna-list .btn-area > div .btn.btn-list:hover, .qna .qna-list .btn-area > div .btn.btn-list:focus {
        background-color: #666;
        border-color: #666;
        color: #fff; }
.qna .product-info {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f7f7f7; }
  .qna .product-info figure {
    overflow: hidden; }
    .qna .product-info figure img {
      float: left; }
    .qna .product-info figure figcaption {
      margin-left: 135px; }
      .qna .product-info figure figcaption h5 {
        font-weight: normal;
        color: #333;
        font-size: 13px;
        line-height: 20px; }
      .qna .product-info figure figcaption p {
        font-size: 13px;
        line-height: 20px; }
        .qna .product-info figure figcaption p.lab {
          color: #aaa; }
        .qna .product-info figure figcaption p.price {
          margin-top: 5px;
          font-weight: normal; }
.qna .qna-write .table {
  margin-bottom: 60px;
  border-top: 2px solid #080d68; }
  .qna .qna-write .table th, .qna .qna-write .table td {
    padding: 10px 20px !important; }
  .qna .qna-write .table td {
    text-align: left; }
  .qna .qna-write .table .email .form-control,
  .qna .qna-write .table .password .form-control {
    max-width: 250px; }
  .qna .qna-write .table .attach .form-control {
    padding: 0;
    height: auto;
    max-width: 200px; }
  .qna .qna-write .table .editor {
    min-height: 400px; }
  .qna .qna-write .table .captcha .form-control {
    display: inline-block;
    width: 100px; }
  .qna .qna-write .table .captcha .figure {
    display: inline-block; }
  .qna .qna-write .table .captcha p {
    display: inline-block; }
.qna .qna-write .btn-area .btn {
  width: 100%;
  height: 40px;
  line-height: 38px; }
.qna .qna-view .table {
  table-layout: fixed;
  border-top: 2px solid #080d68; }
  .qna .qna-view .table h5 {
    color: #666; }
  .qna .qna-view .table td {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left; }
    .qna .qna-view .table td:nth-of-type(2) {
      text-align: right; }
  .qna .qna-view .table dl {
    display: inline-block;
    line-height: 22px; }
    .qna .qna-view .table dl dt, .qna .qna-view .table dl dd {
      display: inline;
      font-size: 13px;
      color: #666; }
    .qna .qna-view .table dl dt:after {
      padding-left: 10px;
      padding-right: 10px;
      content: '|';
      font-size: 10px;
      vertical-align: 2px; }
    .qna .qna-view .table dl + dl {
      margin-left: 50px; }
    .qna .qna-view .table dl.attach dd:before {
      padding-right: 5px;
      font-family: 'fontello';
      content: '\F06A'; }
    .qna .qna-view .table dl.attach dd + dd {
      margin-left: 10px; }
  .qna .qna-view .table .details {
    min-height: 300px; }
.qna .qna-view .btn-area {
  margin-left: -5px;
  margin-right: -5px; }
  .qna .qna-view .btn-area > div {
    padding-left: 5px;
    padding-right: 5px; }
  .qna .qna-view .btn-area .btn {
    width: 100%;
    height: 40px;
    line-height: 38px; }

.comment {
  margin-top: 60px; }
  .comment .comment-write {
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #f7f7f7; }
    .comment .comment-write .form-group {
      overflow: hidden; }
    .comment .comment-write .form-control {
      float: left;
      max-width: 980px;
      height: 70px;
      border: 1px solid #ccc;
      background-color: #fff; }
    .comment .comment-write .btn {
      float: right;
      height: 70px;
      width: 130px;
      background-color: #888;
      border-color: #888;
      color: #fff;
      font-size: 16px; }
  .comment .comment-list .comment-item {
    position: relative;
    padding: 30px 20px;
    border-bottom: 1px solid #dcdcdc; }
    .comment .comment-list .comment-item .comment-title h6 {
      display: inline-block;
      font-size: 13px;
      color: #333;
      line-height: 20px; }
    .comment .comment-list .comment-item .comment-title .date {
      display: inline-block;
      margin-left: 50px;
      color: #999; }
    .comment .comment-list .comment-item .comment-details {
      margin-top: 15px; }
    .comment .comment-list .comment-item .comment-menu {
      position: absolute;
      top: 30px;
      right: 20px; }
      .comment .comment-list .comment-item .comment-menu ul li {
        display: inline; }
        .comment .comment-list .comment-item .comment-menu ul li.edit:before {
          padding-right: 5px;
          font-family: 'fontello';
          content: '\E80D'; }
        .comment .comment-list .comment-item .comment-menu ul li.delete:before {
          padding-right: 5px;
          font-family: 'fontello';
          content: '\E80E'; }
        .comment .comment-list .comment-item .comment-menu ul li + li {
          margin-left: 20px; }

.review.list .review-list th:nth-of-type(1), .review.list .review-list td:nth-of-type(1) {
  width: 80px; }
.review.list .review-list th:nth-of-type(3), .review.list .review-list th:nth-of-type(4), .review.list .review-list th:nth-of-type(5), .review.list .review-list td:nth-of-type(3), .review.list .review-list td:nth-of-type(4), .review.list .review-list td:nth-of-type(5) {
  width: 120px; }
.review.list .review-list td.title {
  padding-left: 50px;
  text-align: left; }
.review.list .review-list .btn-area {
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -5px; }
  .review.list .review-list .btn-area > div {
    padding-left: 5px;
    padding-right: 5px; }
    .review.list .review-list .btn-area > div .btn {
      width: 100%;
      height: 30px; }
      .review.list .review-list .btn-area > div .btn.btn-list:hover, .review.list .review-list .btn-area > div .btn.btn-list:focus {
        background-color: #666;
        border-color: #666;
        color: #fff; }

.order .order-step ol {
  width: 99.99%;
  height: 62px;
  border: 1px solid #dfdfdf;
  background-color: #f9f9f9; }
  .order .order-step ol li {
    position: relative;
    float: left;
    width: 33.33%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: 400; }
    .order .order-step ol li span:before {
      margin-right: 10px;
      vertical-align: -2px; }
    .order .order-step ol li + li:before {
      position: absolute;
      left: -4px;
      font-family: 'fontello';
      content: '\e801';
      font-size: 24px;
      color: #aaa; }
    .order .order-step ol li.active {
      height: 60px;
      background-color: #080d68;
      background-image: url(/assets/images/mypage/bg_order_step_tail.gif);
      background-repeat: no-repeat;
      color: #fff; }
      .order .order-step ol li.active:before {
        content: ''; }
      .order .order-step ol li.active + li {
        background-image: url(/assets/images/mypage/bg_order_step_head.gif);
        background-repeat: no-repeat; }
        .order .order-step ol li.active + li:before {
          content: ''; }
    .order .order-step ol li:nth-of-type(1) span:before {
      content: url(/assets/images/mypage/ico_cart.png); }
    .order .order-step ol li:nth-of-type(1).active {
      background-image: none; }
      .order .order-step ol li:nth-of-type(1).active span:before {
        content: url(/assets/images/mypage/ico_cart_white.png); }
    .order .order-step ol li:nth-of-type(2) span:before {
      content: url(/assets/images/mypage/ico_doc_check.png); }
    .order .order-step ol li:nth-of-type(2).active span:before {
      content: url(/assets/images/mypage/ico_doc_check_white.png); }
    .order .order-step ol li:nth-of-type(3) span:before {
      content: url(/assets/images/mypage/ico_check.png); }
    .order .order-step ol li:nth-of-type(3).active span:before {
      content: url(/assets/images/mypage/ico_check_white.png); }
.order section h5 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500; }

.order.cart .cart-list {
  margin-top: 70px; }
  .order.cart .cart-list .table {
    margin-bottom: 10px; }
  .order.cart .cart-list th:nth-of-type(1), .order.cart .cart-list td:nth-of-type(1) {
    width: 150px; }
  .order.cart .cart-list th:nth-of-type(3), .order.cart .cart-list th:nth-of-type(4), .order.cart .cart-list td:nth-of-type(3), .order.cart .cart-list td:nth-of-type(4) {
    width: 240px; }
  .order.cart .cart-list .lap {
    font-size: 14px !important;
    color: #333;
    font-weight: 400; }
  .order.cart .cart-list h5 {
    color: #333;
    font-weight: 400; }
  .order.cart .cart-list .btn-delete {
    margin-top: 10px;
    background-color: #666;
    border-color: #666;
    color: #fff; }
  .order.cart .cart-list .notify li:before {
    margin-right: 5px;
    content: '*';
    vertical-align: -3px; }
.order.cart .payment {
  margin-top: 60px; }
  .order.cart .payment .table {
    margin-bottom: 40px;
    table-layout: fixed; }
    .order.cart .payment .table td {
      position: relative;
      padding-top: 35px !important;
      padding-bottom: 35px !important;
      border-top: 1px solid #dfdfdf;
      vertical-align: middle; }
      .order.cart .payment .table td + td {
        border-left: 1px solid #ccc; }
      .order.cart .payment .table td:nth-of-type(4) {
        color: #eb2127;
        font-size: 25px;
        font-weight: 400; }
      .order.cart .payment .table td span {
        position: absolute;
        top: 40px;
        left: -11px;
        width: 22px;
        height: 22px;
        background-color: #fff; }
        .order.cart .payment .table td span.plus {
          content: url(/assets/images/mypage/ico_plus.png); }
        .order.cart .payment .table td span.minus {
          content: url(/assets/images/mypage/ico_minus.png); }
        .order.cart .payment .table td span.equals {
          content: url(/assets/images/mypage/ico_equals.png); }
  .order.cart .payment .btn-area {
    margin-left: -5px;
    margin-right: -5px; }
    .order.cart .payment .btn-area > div {
      padding-left: 5px;
      padding-right: 5px; }
      .order.cart .payment .btn-area > div .btn {
        width: 100%;
        height: 50px;
        line-height: 48px;
        font-size: 16px; }
        .order.cart .payment .btn-area > div .btn:hover, .order.cart .payment .btn-area > div .btn:focus {
          background-color: #ccc;
          border-color: #ccc;
          color: #666; }
        .order.cart .payment .btn-area > div .btn.btn-order {
          background-color: #080d68;
          border-color: #080d68;
          color: #fff; }

.order.sheet .notify li:before {
  margin-right: 5px;
  content: '*';
  vertical-align: -3px; }
.order.sheet .cart-list {
  margin-top: 70px; }
  .order.sheet .cart-list th:nth-of-type(1), .order.sheet .cart-list td:nth-of-type(1) {
    width: 80px; }
  .order.sheet .cart-list th:nth-of-type(2), .order.sheet .cart-list td:nth-of-type(2) {
    padding-left: 0;
    width: 100px; }
  .order.sheet .cart-list th:nth-of-type(4), .order.sheet .cart-list th:nth-of-type(7), .order.sheet .cart-list th:nth-of-type(5), .order.sheet .cart-list td:nth-of-type(4), .order.sheet .cart-list td:nth-of-type(7), .order.sheet .cart-list td:nth-of-type(5) {
    width: 120px; }
  .order.sheet .cart-list th:nth-of-type(6), .order.sheet .cart-list th:nth-of-type(8), .order.sheet .cart-list td:nth-of-type(6), .order.sheet .cart-list td:nth-of-type(8) {
    width: 150px; }
  .order.sheet .cart-list td.title .order-info {
    margin-top: 20px; }
  .order.sheet .cart-list td:nth-of-type(6) p + p {
    margin-top: 5px; }
  .order.sheet .cart-list td:nth-of-type(6) .btn {
    background-color: #666;
    border-color: #666;
    color: #fff; }
  .order.sheet .cart-list .btn-area {
    margin-top: 35px;
    margin-left: -5px;
    margin-right: -5px; }
    .order.sheet .cart-list .btn-area > div {
      padding-left: 5px;
      padding-right: 5px; }
      .order.sheet .cart-list .btn-area > div .btn {
        width: 100%;
        height: 50px;
        line-height: 48px;
        font-size: 16px; }
        .order.sheet .cart-list .btn-area > div .btn.btn-wish:hover, .order.sheet .cart-list .btn-area > div .btn.btn-wish:focus {
          background-color: #666;
          border-color: #666;
          color: #fff; }
        .order.sheet .cart-list .btn-area > div .btn.btn-recal {
          background-color: #080d68;
          border-color: #080d68;
          color: #fff; }
.order.sheet .payment {
  margin-top: 70px; }
  .order.sheet .payment .table {
    margin-bottom: 40px;
    table-layout: fixed; }
    .order.sheet .payment .table td {
      position: relative;
      padding-top: 35px !important;
      padding-bottom: 35px !important;
      border-top: 1px solid #dfdfdf;
      vertical-align: middle; }
      .order.sheet .payment .table td + td {
        border-left: 1px solid #ccc; }
      .order.sheet .payment .table td:nth-of-type(4) {
        color: #eb2127;
        font-size: 25px;
        font-weight: 400; }
      .order.sheet .payment .table td span {
        position: absolute;
        top: 40px;
        left: -11px;
        width: 22px;
        height: 22px;
        background-color: #fff; }
        .order.sheet .payment .table td span.plus {
          content: url(/assets/images/mypage/ico_plus.png); }
        .order.sheet .payment .table td span.minus {
          content: url(/assets/images/mypage/ico_minus.png); }
        .order.sheet .payment .table td span.equals {
          content: url(/assets/images/mypage/ico_equals.png); }
  .order.sheet .payment .btn-area {
    margin-left: -5px;
    margin-right: -5px; }
    .order.sheet .payment .btn-area > div {
      padding-left: 5px;
      padding-right: 5px; }
      .order.sheet .payment .btn-area > div .btn {
        width: 100%;
        height: 50px;
        line-height: 48px;
        font-size: 16px; }
        .order.sheet .payment .btn-area > div .btn:hover, .order.sheet .payment .btn-area > div .btn:focus {
          background-color: #ccc;
          border-color: #ccc;
          color: #666; }
        .order.sheet .payment .btn-area > div .btn.btn-order {
          background-color: #080d68;
          border-color: #080d68;
          color: #fff; }
.order.sheet .orderer {
  margin-top: 80px; }
  .order.sheet .orderer .table {
    border-top: 2px solid #080d68; }
    .order.sheet .orderer .table th {
      font-size: 14px;
      padding-left: 35px;
      width: 200px; }
    .order.sheet .orderer .table td {
      padding-left: 20px;
      text-align: left; }
  .order.sheet .orderer .form-control {
    width: 300px; }
.order.sheet .shipping {
  position: relative;
  margin-top: 60px; }
  .order.sheet .shipping .form-control {
    width: 300px; }
  .order.sheet .shipping .sa {
    position: absolute;
    top: 0;
    right: 0; }
    .order.sheet .shipping .sa .check:before {
      top: 5px !important; }
  .order.sheet .shipping .table {
    margin-bottom: 10px;
    border-top: 2px solid #080d68; }
    .order.sheet .shipping .table th {
      font-size: 14px;
      padding-left: 35px;
      width: 200px; }
    .order.sheet .shipping .table td {
      padding-left: 20px;
      text-align: left; }
    .order.sheet .shipping .table .address p + p {
      margin-top: 5px; }
    .order.sheet .shipping .table .address .zipcode .form-control {
      display: inline-block;
      margin-right: 10px;
      width: 100px;
      vertical-align: middle; }
    .order.sheet .shipping .table .address .zipcode .btn {
      background-color: #666;
      border-color: #666;
      color: #fff;
      vertical-align: middle;
      font-size: 12px; }
    .order.sheet .shipping .table .address .default .form-control,
    .order.sheet .shipping .table .address .details .form-control {
      width: 600px; }
    .order.sheet .shipping .table .ask .form-control {
      width: 600px; }
.order.sheet .pay-method {
  margin-top: 60px; }
  .order.sheet .pay-method .table {
    margin-bottom: 10px;
    border-top: 2px solid #080d68; }
    .order.sheet .pay-method .table th {
      font-size: 14px;
      padding-left: 35px;
      width: 200px; }
    .order.sheet .pay-method .table td {
      padding-left: 20px;
      text-align: left; }
  .order.sheet .pay-method .method label {
    margin-right: 10px; }
    .order.sheet .pay-method .method label input {
      vertical-align: -2px; }
.order.sheet .notice {
  margin-top: 40px;
  padding: 40px;
  background-color: #f7f7f7; }
  .order.sheet .notice h6 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333; }
    .order.sheet .notice h6:before {
      margin-right: 10px;
      content: url(/assets/images/mypage/ico_doc_search.png);
      vertical-align: -2px; }
  .order.sheet .notice ul li {
    font-size: 13px;
    line-height: 28px; }
    .order.sheet .notice ul li:before {
      margin-right: 10px;
      font-family: 'fontello';
      content: '\E803';
      color: #080d68; }
  .order.sheet .notice + .btn-area {
    margin-top: 50px; }
    .order.sheet .notice + .btn-area .btn {
      width: 100%;
      height: 50px;
      font-size: 16px;
      line-height: 48px; }
      .order.sheet .notice + .btn-area .btn.btn-pay {
        background-color: #080d68;
        border-color: #080d68;
        color: #fff; }
      .order.sheet .notice + .btn-area .btn.btn-cancel:hover, .order.sheet .notice + .btn-area .btn.btn-cancel:focus {
        background-color: #666;
        border-color: #666; }

.order.done .message {
  margin-top: 85px;
  text-align: center; }
  .order.done .message h3 {
    margin-bottom: 10px;
    color: #080d68;
    font-weight: 400; }
  .order.done .message p {
    font-size: 14px; }
  .order.done .message .order-num {
    margin-top: 55px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f7f7f7; }
    .order.done .message .order-num dl dt, .order.done .message .order-num dl dd {
      display: inline-block;
      font-size: 16px; }
    .order.done .message .order-num dl dd {
      margin-left: 3px;
      color: #eb2127; }
.order.done .banking {
  margin-top: 30px; }
  .order.done .banking .table {
    margin-bottom: 10px;
    border-top: 2px solid #080d68; }
    .order.done .banking .table th {
      font-size: 14px;
      padding-left: 35px;
      width: 200px; }
    .order.done .banking .table td {
      padding-left: 20px;
      text-align: left; }
.order.done .btn-area {
  margin-top: 50px; }
  .order.done .btn-area .btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 48px; }
    .order.done .btn-area .btn.btn-view {
      background-color: #080d68;
      border-color: #080d68;
      color: #fff; }
    .order.done .btn-area .btn.btn-goon:hover, .order.done .btn-area .btn.btn-goon:focus {
      background-color: #666;
      border-color: #666; }

#content.confirm {
  padding-top: 150px !important;
  padding-bottom: 150px !important; }
  #content.confirm .confirm-form {
    text-align: center; }
    #content.confirm .confirm-form h3 {
      margin-bottom: 10px;
      font-size: 26px;
      color: #333; }
      #content.confirm .confirm-form h3:before {
        display: block;
        margin: 0 auto 25px;
        content: url(/assets/images/mypage/ico_pc_check.png); }
    #content.confirm .confirm-form p {
      margin-bottom: 50px;
      font-size: 16px;
      color: #666; }
    #content.confirm .confirm-form .form-group .form-control {
      float: left;
      width: 260px;
      height: 35px; }
    #content.confirm .confirm-form .form-group .btn {
      width: 100px;
      height: 35px;
      background-color: #080d68;
      border-color: #080d68;
      color: #fff;
      line-height: 33px; }

/*# sourceMappingURL=mypage.css.map */
