@import 'common';

#content {
    padding-top: 70px;
    padding-bottom: 80px;
}

.btn {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 28px;
    vertical-align: 0;
}

// 페이지 헤더
.page-header {
    margin-top: 0;
    margin-bottom: 45px;
    padding-bottom: 0;
    border-bottom: 0;
    h3 {
        font-size: 52px;
        @extend .jjmj;
        letter-spacing: -1px;
        & + p {
            margin-top: 20px;
        }
    }
    p {
        font-size: 14px;
    }
    @media (max-width: $lg - 1px) {
        h3 {
            font-size: 40px;
        }
    }
    @media (max-width: $sm - 1px) {
        h3 {
            font-size: 24px;
        }
    }
}

// 상품 목록
.product-list {
    th, td {
        &.title {
            text-align: left !important;
        }
    }
    td {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        vertical-align: middle !important;
    }
    tfoot {
        td {
            background-color: #f7f7f7;
            border-bottom: 1px solid #dfdfdf;
        }
        .total {
            padding-right: 80px;
            text-align: right;
            font-size: 15px;
            color: #333;
            font-weight: bold;
        }
    }
    .title {
        h5 {
            margin-bottom: 0 !important;
            font-size: 14px !important;
            line-height: 20px;
        }
        .lap {
            font-size: 13px !important;
            line-height: 20px;
            & + p.status {
                margin-bottom: 20px;
                font-size: 12px;
                color: $kc;
            }
        }
    }
    .order-info {
        margin-top: 10px;
        padding: 10px 15px;
        width: 210px;
        background-color: #f5f5f5;
        dt, dd {
            font-size: 12px;
            line-height: 16px;
            color: #999;
        }
        dt {
            float: left;
            clear: both;
        }
        dd {
            &:before {
                padding-left: 2px;
                padding-right: 2px;
                content: ':';
            }
        }
    }
    .price-info {
        overflow: hidden;
        margin: 0 auto;
        max-width: 140px;
        text-align: left;
        dt {
            float: left;
            margin-bottom: 8px;
            width: 31px;
            height: 21px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 11px;
            color: #666;
        }
        dd {
            margin-left: 41px;
            margin-bottom: 8px;
            min-height: 21px;
            color: #666;
            &:last-child {
                color: $kc;
            }
        }
    }
    p.status {
        &.shipped {
            font-size: 14px;
            color: $red;
            font-weight: 400;
            &:before {
                margin-right: 10px;
                content: url(/assets/images/mypage/ico_gift.png);
                vertical-align: -2px;
            }
        }
        & + p.history {
            margin-top: 10px;
        }
    }
    p.price {
        color: #333;;
        font-weight: 400;
        s {
            color: rgba(#666, .5);
        }
    }
    p.nothing {
        padding-top: 100px;
        padding-bottom: 100px;
        color: #333;
        font-weight: 400;
        text-align: center;
        &:before {
            display: block;
            margin: 0 auto 20px;
            content: url(/assets/images/mypage/ico_alert.gif);
        }
    }
    .btn {
        & + .btn {
            margin-top: 10px;
        }
        &.btn-confirm {
            background-color: #666;
            border-color: #666;
            color: #fff;
        }
    }
}

// 주문내역
#content.order.list {
    // 상품 리스트
    .product-list {
        .table {
            margin-bottom: 40px;
        }
        th, td {
            &:nth-of-type(1) {
                width: 150px;
            }
            &:nth-of-type(2) {

            }
            &:nth-of-type(3) {
                width: 300px;
            }
            &:nth-of-type(4) {
                width: 150px;
            }
            &:nth-of-type(5) {
                width: 150px;
            }
        }
    }
}

// 주문상세보기
#content.order.view {
    // 주문요약
    .order-summary {
        margin-bottom: 60px;
        padding: 15px;
        background-color: #f7f7f7;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        strong {
            font-style: normal;
            color: $red;
        }
    }
    .orderer,
    .shipping-info,
    .receipt,
    .order-list,
    .shipping-fee,
    .payment {
        margin-bottom: 50px;
        h5 {
            margin-bottom: 15px;
            font-size: 16px;
            color: #222;
        }
    }
    .orderer,
    .shipping-info,
    .receipt {
        .table {
            border-top: 2px solid $kc;
            th {
                font-size: 14px;
                padding-left: 35px;
                width: 200px;
            }
            td {
                padding-left: 20px;
                text-align: left;
            }
        }
    }
    .shipping-fee {
        td {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            text-align: center !important;
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                width: 240px;
                font-weight: 400;
            }
            &:nth-of-type(2) {
                color: $kc;
            }
        }
    }
    .payment {
        .table {
            table-layout: fixed;
            border-top: 1px solid #666;
            th {
                background-color: #fff;
                color: #666;
            }
            td {
                padding-top: 35px !important;
                padding-bottom: 35px !important;
                background-color: #f7f7f7;
                border-top: 1px solid #dfdfdf;
                vertical-align: middle;
                &:last-child {
                    color: $red;
                    font-size: 25px;
                    font-weight: 400;
                }
            }
        }
    }
}

// 교환반품환불
#content.returns {
    // 상품 리스트
    .product-list {
        th, td {
            &:nth-of-type(1) {
                width: 150px;
            }
            &:nth-of-type(2) {

            }
            &:nth-of-type(3) {
                width: 300px;
            }
            &:nth-of-type(4) {
                width: 150px;
            }
            &:nth-of-type(5) {
                width: 150px;
            }
        }
    }
}

// 적립금내역
#content.cash-history {
    th, td {
        &:nth-of-type(1) {
            width: 200px;
        }

        &:nth-of-type(3) {
            width: 200px;
        }
        &:nth-of-type(4) {
            width: 120px;
        }
        &:nth-of-type(5) {
            width: 120px;
        }
    }
    td {
        &:nth-of-type(2) {
            color: $red;
        }
    }
}

// 위시리스트
#content.wish-list {
    .wish-list {
        .btn-area {
            margin-bottom: 15px;
            text-align: right;
            .btn {
                margin-left: 10px;
                padding-left: 0;
                padding-right: 0;
                background-color: #fff;
                border-color: #ccc;
                color: #666;
                font-size: 12px;
                &:first-child {
                    margin-left: 0;
                }
                &.btn-select {
                    padding-left: 15px;
                    &:before {
                        top: 10px;
                        left: 15px;
                    }
                }
            }
        }
        th, td {
            &:nth-of-type(1) {
                width: 100px;
            }
            &:nth-of-type(2) {
                width: 100px;
            }
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 240px;
            }
        }
        .btn-details {
            margin-top: 20px;
            padding-left: 0;
            padding-right: 0;
        }
        .btn-delete {
            background-color: #9d9d9d;
            border-color: #9d9d9d;
            color: #fff;
            font-size: 12px;
        }
    }
}

// 위시리스트
#content.qna {
    .qna-list {
        th, td {
            &:nth-of-type(1) {
                width: 80px;
            }
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 120px;
            }
        }
        td.title {
            padding-left: 50px;
            text-align: left;
        }
        .btn-area {
            margin-bottom: 20px;
            text-align: right;
        }
    }
}
