@import 'common';

#content {
    padding-top: 70px;
    padding-bottom: 80px;
}

.btn {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 100px;
    height: 30px;
    line-height: 28px;
}

// 페이지 헤더
.page-header {
    margin-top: 0;
    margin-bottom: 45px;
    padding-bottom: 0;
    border-bottom: 0;
    h3 {
        font-size: 52px;
        @extend .jjmj;
        letter-spacing: -1px;
        & + p {
            margin-top: 20px;
        }
    }
    p {
        font-size: 14px;
    }
    @media (max-width: $lg - 1px) {
        h3 {
            font-size: 40px;
        }
    }
    @media (max-width: $sm - 1px) {
        h3 {
            font-size: 24px;
        }
    }
}

// 상품 목록
.product-list {
    th, td {
        &.title {
            text-align: left !important;
        }
    }
    td {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        vertical-align: middle !important;
    }
    tfoot {
        td {
            background-color: #f7f7f7;
            border-bottom: 1px solid #dfdfdf;
        }
        .total {
            padding-right: 80px;
            text-align: right;
            font-size: 15px;
            color: #333;
            font-weight: bold;
        }
    }
    .title {
        h5 {
            margin-bottom: 0 !important;
            font-size: 14px !important;
            line-height: 20px;
        }
        .lap {
            font-size: 13px !important;
            line-height: 20px;
            & + p.status {
                margin-bottom: 20px;
                font-size: 12px;
                color: $kc;
            }
        }
    }
    .order-info {
        margin-top: 10px;
        padding: 10px 15px;
        width: 210px;
        background-color: #f5f5f5;
        dt, dd {
            font-size: 12px;
            line-height: 16px;
            color: #999;
        }
        dt {
            float: left;
            clear: both;
        }
        dd {
            &:before {
                padding-left: 2px;
                padding-right: 2px;
                content: ':';
            }
        }
    }
    .price-info {
        overflow: hidden;
        margin: 0 auto;
        max-width: 140px;
        text-align: left;
        dt {
            float: left;
            margin-bottom: 8px;
            width: 31px;
            height: 21px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 11px;
            color: #666;
        }
        dd {
            margin-left: 41px;
            margin-bottom: 8px;
            min-height: 21px;
            color: #666;
            &:last-child {
                color: $kc;
            }
        }
    }
    p.status {
        &.shipped {
            font-size: 14px;
            color: $red;
            font-weight: 400;
            &:before {
                margin-right: 10px;
                content: url(/assets/images/mypage/ico_gift.png);
                vertical-align: -2px;
            }
        }
        &.exchanged {
            font-size: 14px;
            font-weight: 400;
            color: #2ca223;
            &:before {
                margin-right: 5px;
                content: url(/assets/images/mypage/ico_check_green.png);
                vertical-align: -2px;
            }
        }
        &.exchanging {
            font-size: 14px;
            font-weight: 400;
            color: #2ca223;
            &:before {
                margin-right: 5px;
                content: url(/assets/images/mypage/ico_recycle_green.png);
                vertical-align: -2px;
            }
        }
        &.refunded {
            font-size: 14px;
            font-weight: 400;
            color: #055eb9;
            &:before {
                margin-right: 5px;
                content: url(/assets/images/mypage/ico_check_blue.png);
                vertical-align: -2px;
            }
        }
        &.refunding {
            font-size: 14px;
            font-weight: 400;
            color: #055eb9;
            &:before {
                margin-right: 5px;
                content: url(/assets/images/mypage/ico_recycle_blue.png);
                vertical-align: -2px;
            }
        }
        & + p.history {
            margin-top: 10px;
        }
    }
    p.price {
        color: #333;;
        font-weight: 400;
        s {
            color: rgba(#666, .5);
        }
    }
    p.point,
    p.quantity {
        color: #333;
        font-weight: 400;
    }
    p.nothing {
        padding-top: 100px;
        padding-bottom: 100px;
        color: #333;
        font-weight: 400;
        text-align: center;
        &:before {
            display: block;
            margin: 0 auto 20px;
            content: url(/assets/images/mypage/ico_alert.gif);
        }
    }
    .btn {
        & + .btn {
            margin-top: 10px;
        }
        &.btn-confirm {
            background-color: #666;
            border-color: #666;
            color: #fff;
        }
    }
}

// 주문내역
#content.order.history {
    // 상품 리스트
    .product-list {
        .table {
            margin-bottom: 40px;
        }
        th, td {
            &:nth-of-type(1) {
                width: 150px;
            }
            &:nth-of-type(2) {

            }
            &:nth-of-type(3) {
                width: 300px;
            }
            &:nth-of-type(4) {
                width: 150px;
            }
            &:nth-of-type(5) {
                width: 150px;
            }
        }
    }
}

// 주문상세보기
.order.view {
    // 주문요약
    .order-summary {
        margin-bottom: 60px;
        padding: 15px;
        background-color: #f7f7f7;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        strong {
            font-style: normal;
            color: $red;
        }
    }
    .orderer,
    .shipping-info,
    .receipt,
    .order-list,
    .payment {
        margin-bottom: 50px;
        h5 {
            margin-bottom: 15px;
            font-size: 16px;
            color: #222;
        }
    }
    .orderer,
    .shipping-info,
    .receipt {
        .table {
            border-top: 2px solid $kc;
            th {
                font-size: 14px;
                padding-left: 35px;
                width: 200px;
            }
            td {
                padding-left: 20px;
                text-align: left;
            }
        }
    }
    .order-list {
        th, td {
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 200px;
            }
        }
    }
    .payment {
        .table {
            table-layout: fixed;
            td {
                position: relative;
                padding-top: 35px !important;
                padding-bottom: 35px !important;
                border-top: 1px solid #dfdfdf;
                vertical-align: middle;
                & + td {
                    border-left: 1px solid #ccc;
                }
                &:nth-of-type(4) {
                    color: $red;
                    font-size: 25px;
                    font-weight: 400;
                }
                span {
                    position: absolute;
                    top: 40px;
                    left: -11px;
                    width: 22px;
                    height: 22px;
                    background-color: #fff;
                    &.plus {
                        content: url(/assets/images/mypage/ico_plus.png);
                    }
                    &.minus {
                        content: url(/assets/images/mypage/ico_minus.png);
                    }
                    &.equals {
                        content: url(/assets/images/mypage/ico_equals.png);
                    }
                }
            }
        }
    }
    .btn-area {
        .btn {
            width: 100%;
            height: 50px;
            font-size: 16px;
            line-height: 48px;
        }
    }
}

// 교환반품환불
#content.returns {
    // 상품 리스트
    .product-list {
        .table {
            margin-bottom: 40px;
        }
        th, td {
            &:nth-of-type(1) {
                width: 150px;
            }
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 200px;
            }
        }
    }
}

// 적립금내역
#content.point-history {
    .table {
        margin-bottom: 40px;
    }
    th, td {
        &:nth-of-type(1) {
            width: 200px;
        }

        &:nth-of-type(3) {
            width: 200px;
        }
        &:nth-of-type(4) {
            width: 120px;
        }
        &:nth-of-type(5) {
            width: 120px;
        }
    }
    .non-pay {
        color: $red;
        font-weight: 400;
    }
}

// 위시리스트
#content.wish-list {
    .wish-list {
        .btn-area {
            margin-bottom: 15px;
            margin-left: -5px;
            margin-right: -5px;
            > div {
                padding-left: 5px;
                padding-right: 5px;
                .btn {
                    margin-top: 0;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    background-color: #fff;
                    border-color: #ccc;
                    color: #666;
                    &.btn-select {
                        &:before {
                            margin-right: 5px;
                            content: url(/assets/images/mypage/ico_doc_check.png);
                            vertical-align: -3px;
                        }
                    }
                    &.btn-delete {
                        &:before {
                            margin-right: 5px;
                            content: url(/assets/images/mypage/ico_trash.png);
                            vertical-align: -3px;
                        }
                    }
                    &.btn-cart {
                        &:before {
                            margin-right: 5px;
                            content: url(/assets/images/mypage/ico_cart.png);
                            vertical-align: -3px;
                        }
                    }
                }
            }
        }
        .table {
            margin-bottom: 40px;
        }
        th, td {
            &:nth-of-type(1) {
                width: 100px;
            }
            &:nth-of-type(2) {
                width: 100px;
            }
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 200px;
            }
        }
        .btn-details {
            margin-top: 20px;
            padding-left: 0;
            padding-right: 0;
        }
        .btn-delete {
            background-color: #666;
            border-color: #666;
            color: #fff;
        }
    }
}

// QNA
.qna.list {
    .qna-list {
        th, td {
            &:nth-of-type(1) {
                width: 80px;
            }
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 120px;
            }
        }
        td.title {
            padding-left: 50px;
            text-align: left;
        }
        .btn-area {
            margin-bottom: 20px;
            margin-left: -5px;
            margin-right: -5px;
            > div {
                padding-left: 5px;
                padding-right: 5px;
                .btn {
                    width: 100%;
                    height: 30px;
                    &.btn-list {
                        &:hover,
                        &:focus {
                            background-color: #666;
                            border-color: #666;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// QNA
.review.list {
    .review-list {
        th, td {
            &:nth-of-type(1) {
                width: 80px;
            }
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 120px;
            }
        }
        td.title {
            padding-left: 50px;
            text-align: left;
        }
        .btn-area {
            margin-bottom: 20px;
            margin-left: -5px;
            margin-right: -5px;
            > div {
                padding-left: 5px;
                padding-right: 5px;
                .btn {
                    width: 100%;
                    height: 30px;
                    &.btn-list {
                        &:hover,
                        &:focus {
                            background-color: #666;
                            border-color: #666;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// 주문하기(공통)
.order {
    .order-step {
        ol {
            width: 99.99%;
            height: 62px;
            border: 1px solid #dfdfdf;
            background-color: #f9f9f9;
            li {
                position: relative;
                float: left;
                width: 33.33%;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: #333;
                font-size: 16px;
                font-weight: 400;
                span {
                    &:before {
                        margin-right: 10px;
                        vertical-align: -2px;
                    }
                }
                & + li {
                    &:before {
                        position: absolute;
                        left: -4px;
                        font-family: 'fontello';
                        content: '\e801';
                        font-size: 24px;
                        color: #aaa;
                    }
                }
                &.active {
                    height: 60px;
                    background-color: $kc;
                    background-image: url(/assets/images/mypage/bg_order_step_tail.gif);
                    background-repeat: no-repeat;
                    color: #fff;
                    &:before {
                        content: '';
                    }
                    & + li {
                        background-image: url(/assets/images/mypage/bg_order_step_head.gif);
                        background-repeat: no-repeat;
                        &:before {
                            content: '';
                        }
                    }
                }
                &:nth-of-type(1) {
                    span {
                        &:before {
                            content: url(/assets/images/mypage/ico_cart.png);
                        }
                    }
                    &.active {
                        background-image: none;
                        span {
                            &:before {
                                content: url(/assets/images/mypage/ico_cart_white.png);
                            }
                        }
                    }
                }
                &:nth-of-type(2) {
                    span {
                        &:before {
                            content: url(/assets/images/mypage/ico_doc_check.png);
                        }
                    }
                    &.active {
                        span {
                            &:before {
                                content: url(/assets/images/mypage/ico_doc_check_white.png);
                            }
                        }
                    }
                }
                &:nth-of-type(3) {
                    span {
                        &:before {
                            content: url(/assets/images/mypage/ico_check.png);
                        }
                    }
                    &.active {
                        span {
                            &:before {
                                content: url(/assets/images/mypage/ico_check_white.png);
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        h5 {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
// 주문하기 > 장바구니
.order.cart {
    .cart-list {
        margin-top: 70px;
        .table {
            margin-bottom: 10px;
        }
        th, td {
            &:nth-of-type(1) {
                width: 150px;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
                width: 240px;
            }
        }
        .lap {
            font-size: 14px !important;
            color: #333;
            font-weight: 400;
        }
        h5 {
            color: #333;
            font-weight: 400;
        }
        .btn-delete {
            margin-top: 10px;
            background-color: #666;
            border-color: #666;
            color: #fff;
        }
        .notify {
            li {
                &:before {
                    margin-right: 5px;
                    content: '*';
                    vertical-align: -3px;
                }
            }
        }
    }
    .payment {
        margin-top: 60px;
        .table {
            margin-bottom: 40px;
            table-layout: fixed;
            td {
                position: relative;
                padding-top: 35px !important;
                padding-bottom: 35px !important;
                border-top: 1px solid #dfdfdf;
                vertical-align: middle;
                & + td {
                    border-left: 1px solid #ccc;
                }
                &:nth-of-type(4) {
                    color: $red;
                    font-size: 25px;
                    font-weight: 400;
                }
                span {
                    position: absolute;
                    top: 40px;
                    left: -11px;
                    width: 22px;
                    height: 22px;
                    background-color: #fff;
                    &.plus {
                        content: url(/assets/images/mypage/ico_plus.png);
                    }
                    &.minus {
                        content: url(/assets/images/mypage/ico_minus.png);
                    }
                    &.equals {
                        content: url(/assets/images/mypage/ico_equals.png);
                    }
                }
            }
        }
        .btn-area {
            margin-left: -5px;
            margin-right: -5px;
            > div {
                padding-left: 5px;
                padding-right: 5px;
                .btn {
                    width: 100%;
                    height: 50px;
                    line-height: 48px;
                    font-size: 16px;
                    &:hover,
                    &:focus {
                        background-color: #ccc;
                        border-color: #ccc;
                        color: #666;
                    }
                    &.btn-order {
                        background-color: $kc;
                        border-color: $kc;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// 주문하기 > 주문서작성
.order.sheet {
    .notify {
        li {
            &:before {
                margin-right: 5px;
                content: '*';
                vertical-align: -3px;
            }
        }
    }
    .cart-list {
        margin-top: 70px;
        th, td {
            &:nth-of-type(1) {
                width: 80px;
            }
            &:nth-of-type(2) {
                padding-left: 0;
                width: 100px;
            }
            &:nth-of-type(4),
            &:nth-of-type(7),
            &:nth-of-type(5) {
                width: 120px;
            }
            &:nth-of-type(6),
            &:nth-of-type(8) {
                width: 150px;
            }
        }
        td {
            &.title {
                .order-info {
                    margin-top: 20px;
                }
            }
            &:nth-of-type(6) {
                p + p {
                    margin-top: 5px;
                }
                .btn {
                    background-color: #666;
                    border-color: #666;
                    color: #fff;
                }
            }
        }
        .btn-area {
            margin-top: 35px;
            margin-left: -5px;
            margin-right: -5px;
            > div {
                padding-left: 5px;
                padding-right: 5px;
                .btn {
                    width: 100%;
                    height: 50px;
                    line-height: 48px;
                    font-size: 16px;
                    &.btn-wish {
                        &:hover,
                        &:focus {
                            background-color: #666;
                            border-color: #666;
                            color: #fff;
                        }
                    }
                    &.btn-recal {
                        background-color: $kc;
                        border-color: $kc;
                        color: #fff;
                    }
                }
            }
        }
    }
    .payment {
        margin-top: 70px;
        .table {
            margin-bottom: 40px;
            table-layout: fixed;
            td {
                position: relative;
                padding-top: 35px !important;
                padding-bottom: 35px !important;
                border-top: 1px solid #dfdfdf;
                vertical-align: middle;
                & + td {
                    border-left: 1px solid #ccc;
                }
                &:nth-of-type(4) {
                    color: $red;
                    font-size: 25px;
                    font-weight: 400;
                }
                span {
                    position: absolute;
                    top: 40px;
                    left: -11px;
                    width: 22px;
                    height: 22px;
                    background-color: #fff;
                    &.plus {
                        content: url(/assets/images/mypage/ico_plus.png);
                    }
                    &.minus {
                        content: url(/assets/images/mypage/ico_minus.png);
                    }
                    &.equals {
                        content: url(/assets/images/mypage/ico_equals.png);
                    }
                }
            }
        }
        .btn-area {
            margin-left: -5px;
            margin-right: -5px;
            > div {
                padding-left: 5px;
                padding-right: 5px;
                .btn {
                    width: 100%;
                    height: 50px;
                    line-height: 48px;
                    font-size: 16px;
                    &:hover,
                    &:focus {
                        background-color: #ccc;
                        border-color: #ccc;
                        color: #666;
                    }
                    &.btn-order {
                        background-color: $kc;
                        border-color: $kc;
                        color: #fff;
                    }
                }
            }
        }
    }
    .orderer {
        margin-top: 80px;
        .table {
            border-top: 2px solid $kc;
            th {
                font-size: 14px;
                padding-left: 35px;
                width: 200px;
            }
            td {
                padding-left: 20px;
                text-align: left;
            }
        }
        .form-control {
            width: 300px;
        }
    }
    .shipping {
        position: relative;
        margin-top: 60px;
        .form-control {
            width: 300px;
        }
        .sa {
            position: absolute;
            top: 0;
            right: 0;
            .check {
                &:before {
                    top: 5px !important;
                }
            }
        }
        .table {
            margin-bottom: 10px;
            border-top: 2px solid $kc;
            th {
                font-size: 14px;
                padding-left: 35px;
                width: 200px;
            }
            td {
                padding-left: 20px;
                text-align: left;
            }
            .address {
                p + p {
                    margin-top: 5px;
                }
                .zipcode {
                    .form-control {
                        display: inline-block;
                        margin-right: 10px;
                        width: 100px;
                        vertical-align: middle;
                    }
                    .btn {
                        background-color: #666;
                        border-color: #666;
                        color: #fff;
                        vertical-align: middle;
                        font-size: 12px;
                    }
                }
                .default,
                .details {
                    .form-control {
                        width: 600px;
                    }
                }
            }
            .ask {
                .form-control {
                    width: 600px;
                }
            }
        }
    }
    .pay-method {
        margin-top: 60px;
        .table {
            margin-bottom: 10px;
            border-top: 2px solid $kc;
            th {
                font-size: 14px;
                padding-left: 35px;
                width: 200px;
            }
            td {
                padding-left: 20px;
                text-align: left;
            }
        }
        .method {
            label {
                margin-right: 10px;
                input {
                    vertical-align: -2px;
                }
            }
        }
    }
    .notice {
        margin-top: 40px;
        padding: 40px;
        background-color: #f7f7f7;
        h6 {
            margin-bottom: 20px;
            font-size: 16px;
            color: #333;
            &:before {
                margin-right: 10px;
                content: url(/assets/images/mypage/ico_doc_search.png);
                vertical-align: -2px;
            }
        }
        ul {
            li {
                font-size: 13px;
                line-height: 28px;
                &:before {
                    margin-right: 10px;
                    font-family: 'fontello';
                    content: '\E803';
                    color: $kc;
                }
            }
        }
        & + .btn-area {
            margin-top: 50px;
            .btn {
                width: 100%;
                height: 50px;
                font-size: 16px;
                line-height: 48px;
                &.btn-pay {
                    background-color: $kc;
                    border-color: $kc;
                    color: #fff;
                }
                &.btn-cancel {
                    &:hover,
                    &:focus {
                        background-color: #666;
                        border-color: #666;
                    }
                }
            }
        }
    }
}

// 주문하기 > 주문완료
.order.done {
    .message {
        margin-top: 85px;
        text-align: center;
        h3 {
            margin-bottom: 10px;
            @extend .jjmj;
            color: $kc;
            font-weight: 400;
        }
        p {
            font-size: 14px;
        }
        .order-num {
            margin-top: 55px;
            padding-top: 25px;
            padding-bottom: 25px;
            background-color: #f7f7f7;
            dl {
                dt, dd {
                    display: inline-block;
                    font-size: 16px;
                }
                dd {
                    margin-left: 3px;
                    color: $red;
                }
            }
        }
    }
    .banking {
        margin-top: 30px;
        .table {
            margin-bottom: 10px;
            border-top: 2px solid $kc;
            th {
                font-size: 14px;
                padding-left: 35px;
                width: 200px;
            }
            td {
                padding-left: 20px;
                text-align: left;
            }
        }
    }
    .btn-area {
        margin-top: 50px;
        .btn {
            width: 100%;
            height: 50px;
            font-size: 16px;
            line-height: 48px;
            &.btn-view {
                background-color: $kc;
                border-color: $kc;
                color: #fff;
            }
            &.btn-goon {
                &:hover,
                &:focus {
                    background-color: #666;
                    border-color: #666;
                }
            }
        }
    }
}
