@import 'common';
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

.crimson {
    font-family: 'Crimson Text', serif;
}

// 검색 타입
.dia-type {
    margin-bottom: 35px;
    ul {
        li {
            &.active {
                .btn {
                    background-color: $kc;
                    border-color: $kc;
                    color: #fff;
                }
            }
        }
    }
}

// 검색 필터
.filter {
    margin-bottom: 50px;
    > form {
        overflow: hidden;
        transition: height .5s ease-out;
    }
    @media (min-width: $lg) {
        > form {
            transition: height .3s ease-out;
        }
    }
    &.dia {
        > form {
            height: 365px;
        }
        &.open {
            > form {
                height: 1200px;
            }
        }
        @media (min-width: $sm) {
            margin-bottom: 60px;
            > form {
                height: 500px;
            }
            &.open {
                > form {
                    height: 1215px;
                }
            }
        }
        @media (min-width: $lg) {
            margin-bottom: 75px;
            > form {
                height: 280px;
            }
            &.open {
                > form {
                    height: 740px;
                }
            }
        }
    }
    &.fancy {
        > form {
            height: 510px;
        }
        &.open {
            > form {
                height: 700px;
            }
        }
        @media (min-width: $sm) {
            margin-bottom: 60px;
            > form {
                height: 750px;
            }
            &.open {
                > form {
                    height: 930px;
                }
            }
        }
        @media (min-width: $lg) {
            margin-bottom: 75px;
            > form {
                height: 430px;
            }
            &.open {
                > form {
                    height: 535px;
                }
            }
        }
    }
    .form-control[type="text"] {
        border-radius: 0;
        text-align: center;
        font-weight: 400;
        box-shadow: none;
        color: #666;
        &:focus {
            border-color: $kc;
        }
    }
    .btn {
        input[type="radio"],
        input[type="checkbox"] {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
        }
        &:hover,
        &:focus {
            background-color: #fff;
            border-color: #ccc;
            color: #666;
        }
        &.active {
            background-color: $kc;
            border-color: $kc;
            color: #fff;
        }
    }
    .check {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 5px;
            display: inline-block;
            margin-right: 10px;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        &.active:before {
            content: "\2713";
            font-size: 10px;
            line-height: 8px;
            background-color: $kc;
            border-color: $kc;
            color: #fff;
            font-weight: bold;
        }
    }
    .slider {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 10px;
        .ui-widget {
            border: 0;
            background-color: #dfdfdf;
            border-radius: 6px;
            box-shadow: inset 0 2px 2px rgba(#000, .07);
        }
        .ui-slider-range {
            height: 10px;
            background-color: $kc;
            border: 0;
            box-shadow: inset 0 2px 2px rgba(#000, .07);
        }
        .ui-slider-handle {
            top: -5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 4px rgba(#000, .30);
        }
        & + .values {
            margin-top: 15px !important;
            .form-control {
                font-size: 11px;
                width: 100px;
                height: 30px;
                background-color: #fff;
                &.maxium {
                    float: right;
                }
            }
        }
        @media (min-width: $sm) {
            & + .values {
                .form-control {
                    font-size: 12px;
                }
            }
        }
    }
    fieldset {
        margin-bottom: 20px;
        &.polish,
        &.symmetry,
        &.fluorescence,
        &.imgdata {
            legend {
                font-weight: 400;
                color: #222;
            }
        }
    }
    legend {
        margin-bottom: 5px;
        @extend .lato;
        color: $kc;
        font-size: 13px;
        font-weight: 600;
        i {
            display: inline-block;
            margin-left: 5px;
            @extend .noto;
            color: #666;
            font-style: normal;
            font-weight: 400;
        }
        @media (min-width: $sm) {
            margin-bottom: 15px;
            font-size: 16px;
        }
    }
    .shape-list {
        ul {
            margin-right: -6px;
            padding-top: 1px;
            padding-left: 1px;
            li {
                display: inline;
                .btn {
                    position: relative;
                    float: left;
                    margin-left: -1px;
                    margin-top: -1px;
                    width: 16.66666667%;
                    height: 50px;
                    background-size: auto 35px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    .en {
                        @extend .lato;
                    }
                    .en, .ko {
                        display: none;
                    }
                    &.active {
                        background-color: #fff;
                        z-index: 1;
                        box-shadow: 0 0 5px rgba(#000, .5);
                    }
                }
                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i}) {
                        .btn {
                            background-image: url(/assets/images/product/img_shape_real_#{$i}.jpg);
                            &.active {
                                background-image: url(/assets/images/product/img_shape_line_#{$i}.gif);
                            }
                        }
                    }
                }
                &:last-child {
                    .btn {
                        padding-top: 12px;
                        line-height: 12px;
                        font-size: 9px;
                        @extend .crimson;
                        background-color: #f7f7f7;
                        font-weight: bold;
                        color: $kc;
                    }
                }
            }
            @media (min-width: $sm) {
                li {
                    .btn {
                        padding-top: 60px;
                        height: 100px;
                        background-size: auto 50px;
                        background-position: 50% 30%;
                        .en {
                            display: block;
                            font-size: 12px;
                        }
                        &.active {
                            .en {
                                display: none;
                            }
                            .ko {
                                display: block;
                                color: $red;
                                font-size: 12px;
                                font-weight: 500;
                            }
                        }
                    }
                    &:last-child {
                        .btn {
                            padding-top: 29px;
                            font-size: 13px;
                            line-height: 20px;
                        }
                    }
                }
            }
            @media (min-width: $lg) {
                margin-right: -11px;
                li {
                    .btn {
                        width: 9.09090909091%;
                    }
                }
            }
        }
    }
    .btn-list {
        overflow: hidden;
        margin-left: -3px;
        margin-right: -3px;
        li {
            float: left;
            margin-bottom: 6px;
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    .check-list {
        overflow: hidden;
        li {
            float: left;
            label {
                margin-bottom: 0;
            }
        }
    }
    .color {
        .btn-list {
            li {
                width: 16.66666667%;
            }
        }
        @media (min-width: $sm) {
            .btn-list {
                li {
                    width: 9.0909%;
                }
            }
        }
    }
    .clarity {
        .btn-list {
            li {
                width: 20%;
            }
        }
        @media (min-width: $sm) {
            .btn-list {
                li {
                    width: 10%;
                }
            }
        }
    }
    .cut, .lap {
        .btn-list {
            li {
                width: 33.33%;
            }
        }
        @media (min-width: $sm) {
            .btn-list {
                li {
                    width: 108px;
                }
            }
        }
    }
    .polish,
    .symmetry,
    .fluorescence,
    .imgdata {
        .check-list {
            li {
                width: 33.33%;
            }
        }
        @media (min-width: $sm) {
            .check-list {
                li {
                    width: 20%;
                }
            }
        }
    }
    .fancy-intensity {
        .btn-list {
            li {
                width: 33.33%;
            }
        }
        @media (min-width: $sm) {
            .btn-list {
                li {
                    width: 16.66666667%;
                }
            }
        }
    }
    .fancy-color-list {
        ul {
            margin-right: -6px;
            padding-top: 1px;
            padding-left: 1px;
            li {
                display: inline;
                .btn {
                    position: relative;
                    float: left;
                    margin-left: -1px;
                    margin-top: -1px;
                    width: 16.66666667%;
                    height: 50px;
                    background-size: auto 27px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    span {
                        display: none;
                        @extend .lato;
                    }
                    &.active {
                        background-color: #fff;
                        z-index: 1;
                        box-shadow: 0 0 5px rgba(#000, .5);
                    }
                }
                @for $i from 1 through 11 {
                    &:nth-of-type(#{$i}) {
                        .btn {
                            background-image: url(/assets/images/product/img_fancy_#{$i}.png);
                        }
                    }
                }
            }
            @media (min-width: $sm) {
                li {
                    .btn {
                        padding-top: 60px;
                        height: 100px;
                        background-size: auto 45px;
                        background-position: 50% 30%;
                        span {
                            display: block;
                            color: #666;
                            font-size: 12px;
                            font-weight: 500;
                        }
                        &.active {
                            span {
                                color: $red;
                            }
                        }
                    }
                }
            }
            @media (min-width: $lg) {
                margin-right: -11px;
                li {
                    .btn {
                        width: 9.09090909091%;
                    }
                }
            }
        }
    }
    .design-list {
        ul {
            margin-right: -3px;
            padding-top: 1px;
            padding-left: 1px;
            li {
                display: inline;
                .btn {
                    position: relative;
                    float: left;
                    margin-left: -1px;
                    margin-top: -1px;
                    padding-top: 60px;
                    width: 33.33333334%;
                    height: 100px;
                    background-size: auto 55px;
                    background-position: 50% 10px;
                    background-repeat: no-repeat;
                    span {
                        @extend .lato;
                        font-size: 12px;
                        font-weight: 500;
                        color: #666;
                    }
                    &.active {
                        background-color: #fff;
                        z-index: 1;
                        box-shadow: 0 0 5px rgba(#000, .5);
                        span {
                            color: $red;
                        }
                    }
                }
                @for $i from 1 through 3 {
                    &:nth-of-type(#{$i}) {
                        .btn {
                            background-image: url(/assets/images/product/img_design_#{$i}.jpg);
                        }
                    }
                }
            }
        }
    }
    .metal-list {
        ul {
            margin-right: -3px;
            padding-top: 1px;
            padding-left: 1px;
            li {
                display: inline;
                .btn {
                    position: relative;
                    float: left;
                    margin-left: -1px;
                    margin-top: -1px;
                    padding-top: 55px;
                    width: 33.33333334%;
                    height: 90px;
                    background-size: auto 45px;
                    background-position: 50% 12px;
                    background-repeat: no-repeat;
                    border-color: transparent;
                    span {
                        @extend .lato;
                        font-size: 12px;
                        font-weight: 500;
                        color: #666;
                    }
                    &.active {
                        background-color: #fff;
                        border-color: $kc;
                        z-index: 1;
                    }
                }
                @for $i from 1 through 9 {
                    &:nth-of-type(#{$i}) {
                        .btn {
                            background-image: url(/assets/images/product/ico_metal_#{$i}.png);
                        }
                    }
                }
            }
            @media (min-width: $sm) {
                margin-right: -5px;
                li {
                    .btn {
                        padding-top: 70px;
                        width: 20%;
                        height: 115px;
                        background-size: auto 60px;
                        background-position: 50% 15px;
                    }
                }
            }
            @media (min-width: $lg) {
                margin-right: -9px;
                li {
                    .btn {
                        width: 11.11111111%;
                    }
                }
            }
        }
    }
    .artist-list {
        ul {
            overflow: hidden;
            li {
                float: left;
                .btn {
                    position: relative;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100px;
                    height: 105px;
                    border: 0;
                    background-color: transparent;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    span {
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-top: 45px;
                        line-height: 20px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(#000, .7);
                        color: #fff;
                        white-space: normal;
                        -webkit-transition: all .3s;
                        transition: all .3s;
                        opacity: 0;
                    }
                    &.active {
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
            @media (min-width: $sm) {
                li {
                    .btn {
                        width: 145px;
                        height: 150px;
                        span {
                            padding-top: 65px;
                        }
                    }
                }
            }
        }
    }
    .btn-area {
        height: 30px;
        border-top: 1px solid #c2c2c2;
        text-align: center;
        .btn {
            width: 100px;
            height: 30px;
            background-color: $kc;
            border-color: $kc;
            color: #fff;
            line-height: 28px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 12px;
            .glyphicon {
                margin-left: 3px;
                font-size: 10px;
            }
        }
    }
    &.fancy {
        .fancy-intensity {
            legend {
                color: #222;
                font-weight: 400;
            }
        }
        .imgdata {
            .check-list {
                li {
                    width: 33.33%;
                }
            }
            @media (min-width: $sm) {
                .check-list {
                    li {
                        width: 16.66666667%;
                    }
                }
            }
            @media (min-width: $lg) {
                .check-list {
                    margin-top: 10px;
                    li {
                        width: 33.33%;
                    }
                }
            }
        }
    }
    &.jewelry {
        padding-bottom: 30px;
        border-bottom: 1px solid #c2c2c2;
        @media (min-width: $sm) {
            padding-bottom: 40px;
        }
        @media (min-width: $lg) {
            padding-bottom: 70px;
        }
    }
}

// 결과
.result {
    header {
        margin-bottom: 15px;
        h5 {
            font-size: 12px;
            color: #666;
            line-height: 30px;
            font-weight: 400;
            b {
                color: $red;
            }
        }
        select.form-control {
            padding-top: 0;
            padding-bottom: 0;
        }
        @media (min-width: $sm) {
            margin-bottom: 20px;
            h5 {
                font-size: 14px;
            }
        }
    }
}

// 검색 결과
.dia-list {
    margin-bottom: 40px;
    &.table-responsive {
        border: 0;
    }
    tbody {
        tr {
            td {
                vertical-align: middle;
                &:last-child {
                    padding-top: 9px !important;
                    padding-bottom: 9px !important;
                }
            }
        }
    }
    .dropdown {
        margin: 0 auto;
        width: 130px;
        height: 30px;
        > .btn {
            width: 130px;
            height: 30px;
            font-size: 12px;
            line-height: 28px;
            background-color: #fff;
            &:hover,
            &:focus {
                background-color: $kc;
            }
        }
        > .dropdown-menu {
            left: auto;
            right: 0;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 10px;
            width: 185px;
            border-radius: 0;
            li {
                a {
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 12px;
                    color: #666;
                    &:hover,
                    &:focus {
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }
                &:nth-of-type(1) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 30px;
                    background-color: #f7f7f7;
                    background-image: url(/assets/images/product/ico_dia_circle.png);
                    background-repeat: no-repeat;
                    background-position: 15px 50%;
                    a {
                        color: $kc;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                &:nth-of-type(2) {
                    padding-top: 10px;
                }
            }
        }
        &.open {
            > .btn {
                background-color: $kc;
                border-color: $kc;
                color: #fff;
            }
        }
    }
    @media (min-width: $sm) {
        margin-bottom: 60px;
    }
    @media (min-width: $lg) {
        margin-bottom: 100px;
    }
}
