@import 'common';

// 나만의 반지 단계
.make-steps {
    position: relative;
    margin-bottom: 20px;
    height: 120px;
    background-color: #f7f7f7;
    @media (min-width: $sm) {
        height: 230px;
    }
    @media (min-width: $lg) {
        height: 280px;
    }
    header {
        display: none;
        h2 {
            @extend .jjmj;
        }
        @media (min-width: $sm) {
            display: none;
        }
        @media (min-width: $lg) {
            display: block;
            height: 280px;
            h2 {
                margin-top: 58px;
                margin-bottom: 25px;
                font-size: 45px;
                font-weight: 500;
                letter-spacing: -2px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .steps {
        overflow: hidden;
        position: relative;
        height: 120px;
        text-align: center;
        ol {
            overflow: hidden;
            li {
                position: relative;
                float: left;
                padding-top: 27px;
                width: 25%;
                height: 120px;
                opacity: .35;
                font-weight: 400;
                span {
                    display: block;
                    margin: 0 auto 5px;
                    width: 19px;
                    height: 19px;
                    line-height: 19px;
                    font-size: 9px;
                    border-radius: 50%;
                    background-color: #666;
                    color: #fff;
                }
                a {
                    display: none;
                }
                &.arrow {
                    width: 12.5%;
                    background-image: url(/assets/images/sub/ico_make_steps_arrow.png);
                    background-size: 16px auto;
                    background-position: 50% 43px;
                    background-repeat: no-repeat;
                    opacity: 1;
                }
                &.active {
                    opacity: 1;
                    color: $kc;
                    span {
                        background-color: $kc;
                    }
                    p {
                        text-decoration: underline;
                    }
                }
            }
        }
        @media (min-width: $sm) {
            height: 230px;
            ol {
                li {
                    padding-top: 160px;
                    height: 230px;
                    font-size: 14px;
                    span {
                        display: inline-block;
                        margin-right: 2px;
                        margin-bottom: 0;
                        width: 21px;
                        height: 21px;
                        line-height: 21px;
                        vertical-align: top;
                    }
                    p {
                        display: inline-block;
                        line-height: 21px;
                    }
                    a {
                        display: block;
                        margin-top: 5px;
                        font-size: 12px;
                    }
                    &.arrow {
                        background-size: 30px auto;
                        background-position: 50% 60px;
                    }
                    &.dia {
                        background-image: url(/assets/images/sub/img_make_step_dia.png);
                        background-repeat: no-repeat;
                        background-size: 108px auto;
                        background-position: 50% 36px;
                    }
                    &.design {
                        background-image: url(/assets/images/sub/img_make_step_design.png);
                        background-repeat: no-repeat;
                        background-size: 96px auto;
                        background-position: 50% 33px;
                    }
                    &.ring {
                        background-image: url(/assets/images/sub/img_make_step_ring.png);
                        background-repeat: no-repeat;
                        background-size: 97px auto;
                        background-position: 50% 31px;
                    }
                    &.active {
                        a {
                            display: none;
                        }
                    }
                }
            }
        }
        @media (min-width: $lg) {
            height: 280px;
            ol {
                li {
                    padding-top: 200px;
                    width: 22%;
                    height: 280px;
                    font-size: 16px;
                    font-weight: 400;
                    &.arrow {
                        width: 17%;
                        background-size: 40px auto;
                        background-position: 50% 80px;
                    }
                    &.dia {
                        background-size: 119px auto;
                        background-position: 50% 68px;
                    }
                    &.design {
                        background-size: 102px auto;
                        background-position: 50% 60px;
                    }
                    &.ring {
                        background-size: 103px auto;
                        background-position: 50% 57px;
                    }
                }
            }
        }
    }
    .btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
        width: 41px;
        height: 20px;
        background-image: url(/assets/images/main/bg_combine_open.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-color: transparent;
        border: 0;
        color: $kc;
        line-height: 20px;
        span {
            top: -5px;
        }
        @media (min-width: $lg) {
            display: none;
        }
    }
    &.opened {
        height: 280px;
        .combine {
            height: 150px;
        }
        @media (min-width: $sm) {
            height: 350px;
            .combine {
                height: 190px;
            }
        }
        @media (min-width: $lg) {
            height: 280px;
            .combine {
                height: 280px;
            }
        }
    }
}

// 페이지 경로
.path-nav {
    margin-bottom: 35px;
    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: #fff;
        font-size: 11px;
        color: #aaa;
        a, > .active {
            color: #aaa;
        }
        li+li:before {
            content: '\276F';
        }
        @media (min-width: $lg) {
            font-size: 12px;
        }
    }
    @media (min-width: $sm) {
        margin-bottom: 40px;
    }
    @media (min-width: $lg) {
        margin-bottom: 45px;
    }
}

// 폼 항목들
input[type="email"],
input[type="passowrd"],
input[type="text"],
select {
    &.form-control {
        height: 30px;
        border-radius: 0;
        box-shadow: none;
        font-size: 11px;
        color: #666;
        &:focus {
            border-color: $kc;
        }
    }
    @media (min-width: $sm) {
        &.form-control {
            font-size: 12px;
        }
    }
}

// 테이블(리스트)
.table {
    th, td {
        padding-top: 11px !important;
        padding-bottom: 11px !important;
        font-size: 12px;
        text-align: center;
    }
    th {
        font-size: 13px;
        font-weight: normal;
        background-color: #666;
        color: #fff;
        border-bottom: 0 !important;
        vertical-align: middle !important;
        small {
            font-size: 10px;
        }
    }
    tbody {
        tr:first-child {
            td {
                border-top: 0;
            }
        }
        tr:last-child {
            td {
                border-bottom: 1px solid #ddd;
            }
        }
    }
    &.table-striped {
        tbody {
            tr:nth-of-type(odd) {
                background-color: #fff;
            }
            tr:nth-of-type(even) {
                background-color: #f7f7f7;
            }
        }
    }
    @media (min-width: $sm) {
        td {
            padding-top: 16px !important;
            padding-bottom: 16px !important;
            text-align: center;
        }
    }
}
